@import '../../../../styles.scss';
@import '../../../../themes.scss';
@import '../../../../typography.scss';

/**
 * Blockquote
 */
 .blockquote-container {
     width: fit-content;
     border-left: solid 4px $input-grey;
     margin: 30px auto;
 }
 .blockquote {
    word-break: break-word;
    font-size: 24px;
    line-height: 1.2;
 }
 .blockquote p {
    margin: 12px 5px 12px 15px;
    width: fit-content;
    text-align: center;
    font-family: 'National Light';
 }

/**
 * If viewed on a mobile device
 */
.blockquote-mobile {
    width: 100%; 
}


/**
 * Asset Block
 */
 .embedded-asset-block {
    max-width: 100%; 
    text-align: center; 
}
.embedded-asset-block img {
    width: 70%; 
    object-fit: cover
}
.asset-summary {
    @extend .card-summary;
    font-size: 12px;
}


 /**
  * Download Card
  */
 .file {
     @extend .section;
 }
 .file .mat-card {
     width: 35%;
     margin: 0 auto;
     text-align: left;
     background-color: $light-grey;
     transition: background-color 0.2s ease-in-out
 }
 .file .mat-card:hover {
    background-color: $input-grey;
    transition: background-color 0.2s ease-in-out
}
.file .mat-card:hover .file-size{
    background-color: #c9c9c9;
    transition: background-color 0.2s ease-in-out
}

/**
 * Download Button
 */
 .download {
    margin-top: 10px;
 }
 .download a {
    color: map-get($hub-navy, 500);
}
.mat-card-title a {
    color: map-get($hub-navy, 500);
    border-bottom: solid 2px transparent;
}
.mat-card-title a:hover {
    border-bottom: solid 2px map-get($hub-navy, 500);
}
.mat-card:hover .download-arrow {
    -webkit-animation: download 0.5s ease-in-out forwards;
}

@-webkit-keyframes download {
    0% {opacity: 1; transform: translate(0px, 0px)}
    40% {opacity: 0; transform: translate(0px, 10px)}
    60% {opacity: 0; transform: translate(0px, -10px)}
    100%  {opacity: 1; transform: translate(0px, 0px)}
}

/**
 * File Size Label
 */
.file-size {
    width: fit-content;
    padding: 5px;
    color: $dark-grey;
    background: $input-grey;
    transition: background-color 0.2s ease-in-out
}

/**
 * If viewed on a mobile device
 */
 .embedded-asset-block-mobile img,
 .embedded-asset-block-mobile .mat-card  {
     width: 100%; 
 }


/**
 * Card Image
 */ 
 .mat-card-image {
    min-height: 80px;
    max-height: 152px;
    margin-bottom: 5px;
    min-width: 100%;
    object-fit: cover;
}

.embedded-entry-block .mat-card-title a {
    font-size: 18px; 
    color: map-get($hub-navy, 500);
}
.embedded-entry-block .mat-card-title a:hover {
    border-bottom: solid 2px map-get($hub-navy, 500);
}

 small {
    color: #757575;
}


/**
 *  Entry Inline
 */
 .embedded-entry-inline {
    color: #0294a5;
    display: inline-block !important;
}


/**
 * Entry Block
 */
.embedded-entry-block {
    @extend .section;
    a {
        display: flex;
        align-items: center;
    }
    .mat-card {
        margin: 15px auto;
        width: 100%;
        padding-right: 30px;
        background: #fafafa;
        .mat-card-title a { width: fit-content}
        .mat-card-title a:hover {
            border-bottom: solid 2px map-get($hub-navy, 500);
        }
        & .mat-card-title {
            span  * {
                font-size: 18px; 
                color: map-get($hub-navy, 500);
            }
        }
    }
}

.mat-card-content {
    margin: 0px;
}


/**
 * YoutTube Hyperlink
 */
 .youtube-container {
    display: flex;
    align-items: center;
    justify-content: center!important;
    position: relative;
    padding-top: 56.25%;
}
  
.youtube {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


/**
 * List
 */
ul,
ol {
    list-style: none;
    counter-reset: ol-counter
}
ul li::before{
    position: absolute;
    content: "\25CF";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: map-get($hub-navy, 500); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em;
}
ul li {
    position: relative;
    p {
        padding-left: 20px;
    }
}
ol li {
    position: relative;
    counter-increment: ol-counter;
    p {
        padding-left: 20px;
    }
}
ol li::before {
    content: counter(ol-counter) ". ";
    color: map-get($hub-navy, 500); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;
}