<span [ngSwitch]="data.nodeType" *ngIf="contentItem">

    <!-- Asset Block -->
    <span *ngSwitchCase="'embedded-asset-block'">
        <span [ngSwitch]="contentItem.contentType">
            <ng-template #image>
                <div class="embedded-asset-block section-2" ngClass.xs="embedded-asset-block-mobile">
                    <a href="{{ contentItem.url }}">
                        <picture *ngIf="contentItem.url">
                            <source srcset="{{ contentItem.url }}?w=1500&fm=webp" type="image/webp">
                            <img src="{{ contentItem.url }}?w=1500" alt="{{ contentItem.title }}" />
                        </picture>
                    </a><br>{{ contentItem.title }}
                    <small class="asset-summary" *ngIf="contentItem.description">&nbsp;—&nbsp;{{ contentItem.description
                        }}</small>
                </div>
            </ng-template>

            <!-- Asset Image -->
            <span *ngSwitchCase="'image/jpeg'">
                <ng-container *ngTemplateOutlet="image"></ng-container>
            </span>
            <span *ngSwitchCase="'image/png'">
                <ng-container *ngTemplateOutlet="image"></ng-container>
            </span>
            <span *ngSwitchCase="'image/gif'">
                <ng-container *ngTemplateOutlet="image"></ng-container>
            </span>
            <span *ngSwitchCase="'image/webp'">
                <ng-container *ngTemplateOutlet="image"></ng-container>
            </span>

            <!-- Asset File -->
            <span *ngSwitchDefault>
                <div class="embedded-asset-block file" ngClass.xs="embedded-asset-block-mobile">
                    <a href="{{ contentItem.url }}">
                        <mat-card>
                            <mat-card-title class="card-title">
                                <a href="{{ contentItem.url }}">{{ contentItem.title }}</a>
                            </mat-card-title>
                            <mat-card-content class="card-summary">
                                <div *ngIf="contentItem.description">{{ contentItem.description }}</div>
                                <div class="download">
                                    <a href="{{ contentItem.url }}">
                                        <img class="download-arrow" style="height: 10px; width: auto"
                                            src="assets/components/navy-download.png" alt="download-arrow">Download
                                        File</a>&nbsp;
                                    <span *ngIf="contentItem.size * 0.001 < 1" class="file-size">{{ contentItem.size | number: '1.0-0' }}&nbsp;B</span>
                                    <span *ngIf="contentItem.size * 0.001 < 1000 && contentItem.size * 0.001 >= 1" class="file-size">{{ contentItem.size * 0.001 | number: '1.0-0' }}&nbsp;kB</span>
                                    <span *ngIf="contentItem.size * 0.001 >= 1000" class="file-size">{{ contentItem.size * 0.000001 | number: '1.0-0' }}&nbsp;MB</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </span>
        </span>
    </span>


    <!-- Entry Block -->
    <span *ngSwitchCase="'embedded-entry-block'">

        <!-- Templates -->
        <ng-template #image>
            <img mat-card-image srcset="{{ contentItem.banner?.url }}?w=1000&fm=webp,
                         {{ contentItem.banner?.url }}?w=1000" src="{{ contentItem.banner?.url }}?w=1000"
                alt="{{ contentItem.title }}-banner">
        </ng-template>
        <ng-template #noImage>
            <div style="margin-top: 10px;"></div>
        </ng-template>

        <!-- Default Entry Block Template -->
        <ng-template #default>
            <mat-card class="embedded-entry-block">
                <ng-container *ngIf="contentItem.banner; then image; else noImage"></ng-container>
                <mat-card-title>
                    <a [routerLink]="'/' + contentItem['__typename'].toLowerCase() + '/' + contentItem['slug']">
                        {{ contentItem['title'] }}
                    </a>
                    <mat-icon *ngIf="contentItem.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
                </mat-card-title>
                <mat-card-content><span class="card-summary">{{ contentItem['summary'] }}</span></mat-card-content>
                <span *ngIf="contentItem['__typename'] !== 'Person'" class="call-to-action"
                    style="display: flex; align-items: center;max-width: fit-content">
                    <a [routerLink]="'/' + contentItem['__typename'].toLowerCase() + '/' + contentItem['slug']">
                        View {{ contentItem['__typename'] | humanCase }}&nbsp;&nbsp;</a>
                    <img class="arrow" style="height: 20px; width: auto" src="assets/components/teal-arrow.png"
                        alt="call-to-action-arrow">
                </span>
            </mat-card>
        </ng-template>

        <!-- Different Types of Entry Content -->
        <span [ngSwitch]="contentItem.__typename">

            <!-- Article -->
            <span *ngSwitchCase="'Article'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Case Study -->
            <span *ngSwitchCase="'CaseStudy'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Equipment -->
            <span *ngSwitchCase="'Equipment'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Event -->
            <span *ngSwitchCase="'Event'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Link Card -->
            <span *ngSwitchCase="'LinkCard'">
                <div>
                    <a href="{{ contentItem.document ? contentItem.document.url : contentItem.url }}" target="_blank">
                        <mat-card class="embedded-entry-block">
                            <mat-card-title><a
                                    href="{{ contentItem.document ? contentItem.document.url : contentItem.url }}"
                                    target="_blank">
                                    {{ contentItem.title }}&nbsp;
                                </a>
                                <mat-icon *ngIf="contentItem.ssoProtected" matTooltip="SSO Login Required">lock</mat-icon>
                            </mat-card-title>
                            <mat-card-content><span class="card-summary">{{ contentItem.summary }}</span>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </span>

            <!-- Official Document -->
            <span *ngSwitchCase="'OfficialDocuments'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Organisational Unit -->
            <span *ngSwitchCase="'OrganisationalUnit'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Service -->
            <span *ngSwitchCase="'Service'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Software -->
            <span *ngSwitchCase="'Software'">
                <ng-container *ngTemplateOutlet="default"></ng-container>
            </span>

            <!-- Video -->
            <span *ngSwitchCase="'Video'">
                <app-video-card [contentItem]="contentItem"></app-video-card>
            </span>

            <!-- Table -->
            <span *ngSwitchCase="'Table'">
                <div class="table-container section">
                    <h3>{{ contentItem.name }}</h3>

                    <!-- Horizontal Headers -->
                    <ng-container
                        *ngIf="contentItem.table.useHorizontalHeaders && !contentItem.table.useVerticalHeaders">
                        <table class="body-table">
                            <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                                <ng-container *ngFor="let column of row; let j = index">
                                    <th role="columnheader" *ngIf="i === 0" [innerHTML]="column | MarkdownToHtml"></th>
                                    <td role="cell" *ngIf="i !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                                </ng-container>
                            </tr>
                        </table>
                    </ng-container>

                    <!-- Vertical Headers -->
                    <ng-container
                        *ngIf="contentItem.table.useVerticalHeaders && !contentItem.table.useHorizontalHeaders">
                        <table class="body-table">
                            <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                                <ng-container *ngFor="let column of row; let j = index">
                                    <th role="columnheader" *ngIf="j === 0" [innerHTML]="column | MarkdownToHtml"></th>
                                    <td role="cell" *ngIf="j !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                                </ng-container>
                            </tr>
                        </table>
                    </ng-container>

                    <!-- Horizontal and Vertical Headers -->
                    <ng-container
                        *ngIf="contentItem.table.useVerticalHeaders && contentItem.table.useHorizontalHeaders">
                        <table class="body-table">
                            <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                                <ng-container *ngFor="let column of row; let j = index">
                                    <th role="columnheader" *ngIf="j === 0 || i === 0"
                                        [innerHTML]="column | MarkdownToHtml"></th>
                                    <td role="cell" *ngIf="j !== 0 && i !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                                </ng-container>
                            </tr>
                        </table>
                    </ng-container>

                    <!--  No Headers -->
                    <ng-container
                        *ngIf="!contentItem.table.useVerticalHeaders && !contentItem.table.useHorizontalHeaders">
                        <table class="body-table">
                            <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                                <td role="cell" *ngFor="let column of row; let j = index"
                                    [innerHTML]="column | MarkdownToHtml"></td>
                            </tr>
                        </table>
                    </ng-container>
                </div>
            </span>
        </span>
    </span>

    <!-- Entry Inline -->
    <span *ngSwitchCase="'embedded-entry-inline'">
        <span>
            <a class="embedded-entry-inline" href="/{{ contentItem.__typename.toLowerCase() }}/{{ contentItem.slug }}"
                target="_blank">
                <b>&nbsp;{{ contentItem.title }}&nbsp;&nbsp;</b></a>
        </span>
    </span>

    <!-- Entry Hyperlink -->
    <span *ngSwitchCase="'entry-hyperlink'">
        <span><a href="contentItem.url"><b>{{ contentItem.title }}</b></a></span>
    </span>

    <!-- Asset Hyperlink -->
    <span *ngSwitchCase="'asset-hyperlink'">
        <span><a href="contentItem.url"> <b>{{ contentItem.title }}</b></a></span>
    </span>

    <!-- Blockquote -->
    <span *ngSwitchCase="'blockquote'">
        <div class="blockquote-container" ngClass.xs="blockquote-mobile">
            <span><span class="blockquote">
                    <p>{{ contentItem.content[0].value }}</p>
                </span></span>
        </div>
    </span>
</span>
