<span [ngSwitch]="data.nodeType">
    <!-- Asset Block -->
    <span *ngSwitchCase="'embedded-asset-block'">
        <app-asset-block [contentItem]="contentItem"></app-asset-block>
    </span>

    <!-- Entry Block -->
    <span *ngSwitchCase="'embedded-entry-block'">
        <app-entry-block [contentItem]="contentItem"></app-entry-block>
    </span>

    <!-- Entry Inline -->
    <span *ngSwitchCase="'embedded-entry-inline'">
        <app-entry-inline [contentItem]="contentItem"></app-entry-inline>
    </span>

    <!-- Entry Hyperlink -->
    <span *ngSwitchCase="'entry-hyperlink'">
        <span>
            <a href="contentItem.url">
                <b>{{ contentItem.title }}</b>
            </a>
        </span>
    </span>

    <!-- Asset Hyperlink -->
    <span *ngSwitchCase="'asset-hyperlink'">
        <span>
            <a href="contentItem.url">
                <b>{{ contentItem.title }}</b>            
            </a>
        </span>
    </span>

    <!-- Blockquote -->
    <span *ngSwitchCase="'blockquote'">
        <div
            class="blockquote-container"
            ngClass.xs="blockquote-mobile">
            <span>
                <span class="blockquote">
                    <p>{{ contentItem.content[0].value }}</p>
                </span>
            </span>
        </div>
    </span>

</span>