@import '../../../../themes.scss';
@import '../../../../typography.scss';

/**
 * Blockquote
 */
 .blockquote-container {
    width: 100%;
    border-left: solid 4px $input-grey;
    margin: 30px auto;
    text-align: center;
}
.blockquote {
   word-break: break-word;
   font-size: 24px;
   line-height: 1.2;
}
.blockquote p {
   margin-left: 20px;
   font-family: 'National Light';
}


/**
 * If viewed on a mobile device
 */
.blockquote-mobile {
    width: 100%; 
}