@import '../../../themes.scss';
@import '../search-results/search-results.component.scss';

mat-expansion-panel, mat-card  {
    margin: 1vh 0;
}

div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

div.collection {
    margin: 3vh 0 3vh 0;
}

.result-item {
    cursor: pointer;

    &.ssoProtected {
        // Any optional styling to add to ssoProtected items
    }

    &:hover {
        border: 1px solid map-get($hub-teal, 50);
    }
}