<div class="results" *ngIf="allSearchableContent$ | async as allSearchableContent">
    <h1>Browse All Content</h1>
    <!-- TODO: Create Found text for all content -->
    <!-- Found <span class="search-results-text">{{ 1 }}</span> results in <span class="search-results-text">?</span> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                JSON Result
            </mat-panel-title>
            <mat-panel-description>Click to see raw JSON</mat-panel-description>
        </mat-expansion-panel-header>
        <pre><code>{{ allSearchableContent$ | async | json}}</code></pre>
    </mat-expansion-panel>

    <div *ngFor="let collection of allSearchableContent | keyvalue" class="collection">
        <h2>{{ collection.key | humanCase }} </h2>
        <mat-nav-list>
            <mat-card *ngFor="let content of allSearchableContent[collection.key].items"
                [routerLink]="['/' + content.__typename.toLowerCase(), content.slug]" class="result-item"
                [ngClass]="{'ssoProtected': content.ssoProtected }">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon>build</mat-icon>
                    </div>
                    <mat-card-title>
                        {{ content.title }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ content.summary }}
                    </mat-card-subtitle>
                    <mat-chip-avatar *ngIf="content.ssoProtected">
                        <mat-icon color='accent' matTooltip="SSO Login Required">lock</mat-icon>
                    </mat-chip-avatar>
                </mat-card-header>
            </mat-card>
        </mat-nav-list>
    </div>
</div>