<div 
    class="results" 
    *ngIf="allSearchableContent$ | async as allSearchableContent">
    <div
        class="site-padding top-padding"
        ngClass.lt-md="site-padding-mobile">
        <h1>Browse All Content</h1>
        <p>Found <span class="search-results-text">{{ allContentLength(allSearchableContent) }}</span> results.</p>
        
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JSON Result
                </mat-panel-title>
                <mat-panel-description>Click to see raw JSON</mat-panel-description>
            </mat-expansion-panel-header>
            <pre><code>{{ allSearchableContent$ | async | json}}</code></pre>
        </mat-expansion-panel> -->
    <hr/>
    </div>

    <div *ngFor="let collection of allSearchableContent | keyvalue" class="collection">
        <app-collection-list [collection]="allSearchableContent[collection.key]"></app-collection-list>
    </div>
</div>