@import '../../../themes.scss';
@import '../../../typography.scss';
@import '../../../styles.scss';

div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

div.collection {
    margin: 24px 0 24px 0;
}

.result-item {
    cursor: pointer;

    &.ssoProtected {
        // Any optional styling to add to ssoProtected items
    }

    &:hover {
        border: 1.36px solid map-get($hub-teal, 50);
    }
}

/**
 * Material Overrides
 */
mat-expansion-panel-header {
    font-size: 16px!important;
    height: fit-content!important;
}