@import '../../../themes.scss';
@import '../../../typography.scss';
@import '../../../styles.scss';
@import '../search-results/search-results.component.scss';

div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

div.collection {
    margin: 3vh 0 3vh 0;
}

.result-item {
    cursor: pointer;

    &.ssoProtected {
        // Any optional styling to add to ssoProtected items
    }

    &:hover {
        border: 0.17vh solid map-get($hub-teal, 50);
    }
}

/**
 * Material Overrides
 */
mat-expansion-panel-header {
    font-size: 2vh!important;
    height: fit-content!important;
}