<!-- Displaying all SubHubs -->
<div
    *ngIf="allSubHubs$ | async as allSubHubs" 
    class="site-padding margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allSubHubs"></app-collection-list>
</div>

<!-- Displaying an individual SubHub -->
<div 
    style="overflow-x: hidden"
    class="results" 
    *ngIf="subHub | async as subhub">
    <div>

        <!-- Templates -->
        <ng-template #subHubChildren>
            <app-large-cards [contentItem]="subhub"></app-large-cards>
        </ng-template>

        <ng-template #breadcrumbs>
            <app-breadcrumbs 
                [contentItem]="parentSubHubs" 
                [title]="subhub.title">
            </app-breadcrumbs>
        </ng-template>

        <ng-template #relatedItems let-hide="hideImage" let-flex="flex">
            <app-cards 
                [flex]="flex"
                [hideImage]="hide"
                [title]="'You might be interested in'" 
                [contentItem]="subhub.relatedItemsCollection">
            </app-cards>
        </ng-template>

        <ng-template #dynamicBanner>
            <div 
                class="banner-container"
                [style]="subhub.banner? 'background: url(' + subhub.banner.url + ') no-repeat' : subhub.viewType == 'View 2' ? 'display: none;' : 'height: fit-content'">
            </div>
        </ng-template>

        <ng-template #body>
            <ngx-contentful-rich-text
                class="section-2 body-text"
                style="word-break:break-word;" 
                [document]="subhub.bodyText.json"
                [nodeRenderers]="nodeRenderers">
            </ngx-contentful-rich-text>
        </ng-template>

        <!-- View 1 -->
        <div [ngSwitch]="subhub.viewType">
            <div *ngSwitchCase="'View 1'">
                <div 
                class="banner-container"
                [style]="subhub.banner ? 'background: url(' + subhub.banner.url + ') no-repeat' : subhub.viewType == 'View 2' ? 'display: none;' : 'height: fit-content'">
                    <div
                        class="banner-content" 
                        [style]="subhub.banner ? '' : 'margin: 3vh 0;'"
                        *ngIf="subhub.viewType == 'View 1'">

                        <!-- Title and Summary for View 1 -->
                        <!-- Title -->
                        <h1 
                            class="content-title" 
                            ngClass.lt-md="content-title-mobile"
                            [style.color]="subhub.banner ? subhub.viewType == 'View 1' ? 'white' : '' : ''">
                                {{ subhub.title }}
                        </h1>

                        <!-- Summary -->
                        <h3 
                            class="content-summary" 
                            ngClass.sm="content-summary-sm" 
                            ngClass.xs="content-summary-xs"
                            [style.color]="subhub.banner ? subhub.viewType == 'View 1' ? 'white' : '' : ''">
                                <small>{{ subhub.summary }}</small>
                        </h3>
                    </div>
                </div>

                <div
                    class="site-padding top-padding" 
                    ngClass.lt-md="site-padding-mobile top-padding">

                    <!-- Breadcrumbs -->
                    <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                    <!-- Body Content -->
                    <div 
                        fxLayout="row wrap"
                        fxLayout.sm="column wrap"
                        fxLayout.xs="column wrap"
                        fxLayoutGap="2%"
                        fxLayoutAlign="space-between">
                        
                        <!-- Main Body -->
                        <div fxFlex class="section">
                            <ng-container *ngTemplateOutlet="body"></ng-container>
                        </div>

                        <!-- Related Items -->
                        <div *ngIf="subhub.relatedItemsCollection.items.length > 0" fxFlex="30%">

                            <!-- Related Items -->
                            <div>
                                <ng-container *ngTemplateOutlet="relatedItems; context: { flex: 'column wrap'}"></ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SubHub Children -->
                <div *ngIf="subhub.internalPagesCollection.items.length > 0 || subhub.externalPagesCollection.items.length > 0" class="subhub-children section-2">
                    <ng-container *ngTemplateOutlet="subHubChildren"></ng-container>
                </div>

            </div>

            <!-- View 2 -->
            <div *ngSwitchCase="'View 2'">
                <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

                <div>
                    <div 
                        class="site-padding" 
                        ngClass.lt-md="site-padding-mobile">

                        <!-- Breadcrumbs -->
                        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>
                    
                        <!-- Title and Summary -->
                        <h1
                            class="content-title" 
                            ngClass.lt-md="content-title-mobile">
                            {{ subhub.title }}
                        </h1>
                        <h3 
                            class="content-summary" 
                            ngClass.lt-md="content-summary-sm">
                            {{ subhub.summary }}
                            <div class="mini-hr">
                                <hr/>
                            </div>
                        </h3>
                    </div>
            
                    <!-- Body Content -->
                    <!-- Main Body -->
                    <div 
                        class="main-body site-padding"
                        ngClass.lt-md="site-padding-mobile">
                        <ng-container *ngTemplateOutlet="body"></ng-container>
                    </div>
            
                    <!-- SubHub Children -->
                    <div *ngIf="subhub.internalPagesCollection.items.length > 0 || subhub.externalPagesCollection.items.length > 0" class="subhub-children section-2">
                        <ng-container *ngTemplateOutlet="subHubChildren"></ng-container>
                    </div>

                    <!-- Related Items -->
                    <div 
                        class="site-padding"
                        ngClass.lt-md="site-padding-mobile">
                        <div *ngIf="subhub.relatedItemsCollection.items.length > 0">
                            <ng-container *ngTemplateOutlet="relatedItems; context: { flex: 'row wrap'}"></ng-container>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>