@import '../../../themes.scss';
@import '../../../typography.scss';
@import '../../../styles.scss';

mat-expansion-panel,
mat-card  {
    margin: 1vh 0;
}


/**
 * Software Image
 */
.software-image {
    margin: 0 auto;
}


/**
 * Specifications Table
 */
.specifications-table {
    width: 100%;
    border-collapse: collapse;
    @include size(large) { width: 50%; }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        text-align: left;
        padding-top: 12px;
        margin-bottom: 12px;
        color: $color-background;
        background-color: map-get($hub-teal, 500);
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    td:nth-child(odd) {
        font-weight: bold;
        width: 25%;
    }
}