@use "~@angular/material" as mat;
@import "variables";
@import "mixins";
@import "styles-common";

footer {
  z-index: 1;
  min-height: $height-footer-xs;
  @include size(medium) {
    min-height: $height-footer;
  }
  background: $dark-grey;
  font-size: mat.font-size($app-base-typography, button);
  font-weight: mat.font-weight($app-base-typography, caption);
  color: #a1a1a1;

  .footer-content {
    @extend .top-padding;
    @extend .site-padding;
    @extend .site-content;
    min-height: $height-footer-xs;
    @include size(medium) {
      min-height: $height-footer;
    }

    ul {
      list-style-type: none;
    }

    li {
      float: left;
    }

    li:after {
      content: "|";
      display: inline-block;
      margin: 0 0.5rem 0 0.5rem;
    }

    li:last-child:after {
      content: "";
    }
  }
  a {
    text-align: left;
    text-decoration: none;
    font-size: mat.font-size($app-base-typography, button);
    font-weight: mat.font-weight($app-base-typography, caption);
    color: #a1a1a1;
  }
  .footer-xs a {
    text-align: center;
  }
  .footer-links {
    text-align: left;
    .link-header {
      font-size: 16px;
      color: white;
    }
  }
  .copyright {
    margin-bottom: 8px;
    @include size(small) {
      padding-top: $padding-site-top;
    }
    a {
      color: white;
      font-size: 13.6px;
    }
  }
  .divider {
    color: #ffffff;
    padding-left: 5px;
    margin-left: 3px;
    border-left: 1.5px solid;
  }
}
.footer-divider {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
.logo-img-container {
  margin: 0 auto;
  .logo-img {
    height: 64px;
    width: auto;
    display: block;
    @include size(small) {
      height: 80px;
    }
  }
}
