@import "variables";
@import "mixins";
@import "styles-common";

/*
 * Hub Logo
 */
.hub-logo {
  height: 30px;
  img {
    height: 30px;
    @include size(small) {
      height: 32px;
      img {
        height: 32px;
      }
    }
  }
}

/*
 * Banner Styling
 */
.banner-container-home {
  text-align: center;
  max-height: auto;
  background-size: cover !important;
  .banner-content-home {
    margin: 20vh 2.5vh;
    display: inline-block;
    @include size(medium) {
      margin: 25vh 10vh;
      display: inline-block;
    }
    .banner-text {
      width: auto !important;
      .page-summary,
      .page-title {
        text-shadow: 0px 0px 8px $dark-grey;
        margin: 0 auto;
        font-weight: lighter;
        color: white !important;
        @include size(medium) {
          width: 45vw !important;
        }
      }
      .page-title {
        color: #ffffff;
        margin-bottom: 32px;
        font-size: 48px;
        @include size(medium) {
          font-size: 92px;
        }
      }
      .page-summary {
        font-size: 20px;
        word-wrap: break-word;
        color: $light-grey;
        line-height: 100%;
      }
    }
  }
}

/*
 * Notification Bar
 */
.notification-bar-container {
  a {
    text-decoration: underline;
  }
  text-align: center;
  * {
    color: white;
  }
  background: map-get($hub-pink, 500);
  .notification-bar-content {
    @extend .site-padding;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  mat-icon {
    cursor: pointer;
  }
  transition: all 0.1s ease-in-out;
}

/*
 * Notification Bar
 */
.notification-bar-container {
  a {
    text-decoration: underline;
  }
  text-align: center;
  * {
    color: white;
  }
  background: map-get($hub-pink, 500);
  .notification-bar-content {
    @extend .site-padding;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  mat-icon {
    cursor: pointer;
  }
  transition: all 0.1s ease-in-out;
}

/*
 * Initial Search
 */
.initial-search {
  padding: 0px 1em;
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
  color: #fafafa;
  border: 1px solid rgba(78, 78, 78, 0.6);
  @include size(medium) {
    width: 30vw;
  }
  background-color: rgba(202, 202, 202, 0.4);
}

/**
 * Explore arrow animation
 */
@keyframes explore {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 16px;
  }
  100% {
    margin-top: 5px;
  }
}
@keyframes explore2 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 3px;
  }
  100% {
    margin-top: 0px;
  }
}
/*
 * Explore Arrow
 */
.explore {
  cursor: pointer;
  p {
    animation: explore2 1.5s infinite;
  }
  .explore-arrow {
    animation: explore 1.5s infinite;
  }
}

/*
 * Button styles
 */
.menu-button {
  top: 4.8px;
  right: 10.5px;
  color: white !important;
}
.menu-button-xs {
  @extend .menu-button;
  top: 2.4px;
  right: 10.5px;
}
.mat-button {
  line-height: 64px !important;
  padding: 0 16px !important;
  min-width: 64px !important;
  font-weight: 100;
}

/*
 * Mobile sidenav drawer
 */
mat-list-item.mat-list-item {
  height: 60.8px !important;
}
mat-list-base {
  padding: 0 16px;
}
mat-expansion-panel {
  width: 70vw;
  background-color: #fafafa !important;
  box-shadow: none !important;
}
mat-expansion-panel-header .mat-expanded {
  height: 64px !important;
}
.expandable-menu {
  background-color: #fafafa !important;
  padding-left: 0 !important;
  height: 64px !important;
}

/*
 * Navigation list
 */
.sidenav-container mat-sidenav mat-list-item {
  mat-icon {
    width: 100%;
    height: 100%;
    color: $color-icon;
    font-size: mat-font-size($app-sidenav-list-typography, body-2) !important;
    font-weight: mat-font-weight($app-sidenav-list-typography, body-2) !important;
  }
  .mat-line {
    font-size: mat-font-size($app-sidenav-list-typography, body-1) !important;
    font-weight: mat-font-weight($app-sidenav-list-typography, body-1) !important;
  }
}

/*
 * User Menu
 */
.user-menu-list {
  margin-bottom: 10.5px;
  mat-list-item {
    mat-icon {
      color: white;
    }
    p {
      font-size: 0.7em !important;
      color: white;
    }
  }
}

/*
 * Navigation Toolbar
 */
.app-toolbar-container {
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.app-toolbar {
  padding-left: $padding-site;
  padding-right: $padding-site;
  background-color: map-get($hub-teal, 700);
  .app-toolbar-row {
    height: 64px;
  }
}
.app-toolbar-xs {
  .app-toolbar-row {
    height: 64px;
  }
}
.mat-menu-panel,
.mat-menu-content {
  min-width: fit-content !important;
}
.mat-menu-item {
  color: white !important;
  padding: 0 16px !important;
  height: fit-content !important;
  line-height: 48px !important;
  background: rgba(10, 10, 10, 0);
  font-size: mat-font-size($app-base-typography, body-1);
}
.mat-expansion-panel-body {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sidenav-container {
  min-height: calc(100vh);
}
.sidenav-container {
  mat-sidenav {
    background-color: $color-background;
  }
}
.sidenav-container {
  mat-sidenav mat-list {
    padding-left: 1em;
    padding-top: 1em;
  }
}
.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}
.sidenav-content {
  flex: 1 0 auto;
  background-color: $color-background;
  min-height: calc(100vh - #{$height-footer-xs});
  @include size(medium) {
    min-height: calc(100vh - #{$height-footer});
  }
}

/**
 * Section Header Text
 */
.text {
  width: 100%;
  margin: 40px auto;
  @include size(medium) {
    width: 60%;
    margin: 40px auto;
  }
  > h2 {
    color: #333333;
    font-size: 36px;
    @include size(medium) {
      font-size: 48px;
    }
  }
  > p {
    font-size: 16px;
    @include size(medium) {
      font-size: 20px;
    }
  }
}

/*
 * Footer
 */
footer {
  z-index: 1;
  min-height: $height-footer-xs;
  @include size(medium) {
    min-height: $height-footer;
  }
  background: $dark-grey;
  font-size: mat-font-size($app-base-typography, button);
  font-weight: mat-font-weight($app-base-typography, caption);
  color: #a1a1a1;

  .footer-content {
    @extend .top-padding;
    @extend .site-padding;
    @extend .site-content;
    min-height: $height-footer-xs;
    @include size(medium) {
      min-height: $height-footer;
    }

    ul {
      list-style-type: none;
    }

    li {
      float: left;
    }

    li:after {
      content: "|";
      display: inline-block;
      margin: 0 0.5rem 0 0.5rem;
    }

    li:last-child:after {
      content: "";
    }
  }
  a {
    text-align: left;
    text-decoration: none;
    font-size: mat-font-size($app-base-typography, button);
    font-weight: mat-font-weight($app-base-typography, caption);
    color: #a1a1a1;
  }
  .footer-xs a {
    text-align: center;
  }
  .footer-links {
    text-align: left;
    .link-header {
      font-size: 16px;
      color: white;
    }
  }
  .copyright {
    margin-bottom: 8px;
    @include size(small) {
      padding-top: $padding-site-top;
    }
    a {
      color: white;
      font-size: 13.6px;
    }
  }
  .divider {
    color: #ffffff;
    padding-left: 5px;
    margin-left: 3px;
    border-left: 1.5px solid;
  }
}
.footer-divider {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
.logo-img-container {
  margin: 0 auto;
  .logo-img {
    height: 64px;
    width: auto;
    display: block;
    @include size(small) {
      height: 80px;
    }
  }
}

/**
 * User Detail Dropdown
 */
.user-detail-dropdown {
  margin-right: 8px;
  margin-left: 8px;
}

/**
 * Sign Out Button
 */
.sign-out-button {
  color: black;
  background-color: white;
}

/**
 *  Search bar
 */
.mat-form-field-ripple, .mat-form-field-underline {
  background-color: rgba(200, 200, 200, 0.6) !important;
}

.mat-focused .mat-form-field-label {
  color: rgba(200, 200, 200, 0.6) !important;
}

input {
  caret-color: rgba(200, 200, 200, 0.6) !important;
}
