<section class="mat-typography">

  <!-- Landing Page -->
  <mat-sidenav-container class="sidenav-container">

    <!-- Navbar Container -->
    <mat-sidenav 
      #sidenav 
      mode="over" 
      opened="false">

      <!-- Main Navbar -->
      <div 
        class="app-toolbar" 
        ngClass.lt-md="site-padding-mobile">
        <div 
          class="app-toolbar-row" 
          fxLayout="row" 
          fxLayoutAlign="start center" 
          color="primary">
          <a 
            routerLink="/home" 
            class="hub-logo" 
            ngClass.xs="hub-logo-xs">
            <img [src]="'assets/images/hub-logo.svg'">
          </a>
        </div>
      </div>

      <!-- Mobile Drawer -->
      <mat-nav-list>

        <!-- Search -->
        <mat-list-item
          [routerLink]="['/search']" 
          (click)="sidenav.close()">
          <a mat-line>Search</a>
        </mat-list-item>

        <!-- About -->
        <mat-list-item
          [routerLink]="['/search']" 
          (click)="sidenav.close()">
          <a mat-line>About</a>
        </mat-list-item>

          <!-- Browse -->
          <mat-expansion-panel>

          <!-- Browse Title -->
          <mat-expansion-panel-header class="expandable-menu">
            <mat-list-item>
              <a mat-line>Browse</a>
            </mat-list-item>
          </mat-expansion-panel-header>

          <!-- Browse Options -->
          <mat-nav-list
            *ngIf="allCategories$ | async as allCategories">
            <mat-list-item 
              *ngFor="let item of allCategories.items" 
              (click)="sidenav.close()"
              [routerLink]="['/search']">
              <a mat-line>{{ item.name }}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Research Activites -->
        <mat-expansion-panel>

          <!-- Research Activities Name -->
          <mat-expansion-panel-header class="expandable-menu">
            <mat-list-item>
              <a mat-line>Research Activities</a>
            </mat-list-item>
          </mat-expansion-panel-header>

          <!-- Research Activities List -->
          <mat-list-item 
            *ngFor="let item of researchActivityOptions" 
            (click)="sidenav.close()"
            [routerLink]="['/search']">
            <a mat-line>{{ item.name }}</a>
          </mat-list-item>
        </mat-expansion-panel>

        <!-- User Study -->
        <mat-list-item
          [routerLink]="['/search']" 
          (click)="sidenav.close()">
          <a mat-line>User Study</a>
        </mat-list-item>

        <!-- Feedback -->
        <mat-list-item
          [routerLink]="['/search']" 
          (click)="sidenav.close()">
          <a mat-line>Feedback</a>
        </mat-list-item>

        <!-- Contact -->
        <mat-list-item
          [routerLink]="['/search']" 
          (click)="sidenav.close()">
          <a mat-line>Contact</a>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Screen -->
    <mat-sidenav-content>
      <div class="sidenav-content-wrapper">
        <div 
          #topContent  
          fxLayout="column"
          class="sidenav-content">

          <!-- Banner -->
          <div 
            class="banner-container-home"
            [style.background-image]="showBanner ? 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../assets/images/homepage.jpeg)' : ''">

            <div 
              #topbar 
              class="app-toolbar-container">
              <div 
                class="site-content site-padding" 
                ngClass.lt-lg="site-content site-padding-mobile app-toolbar-xs" 
                [style.background-color]="showBanner ? 'rgba(0,0,0,0)' : '#0294a5'">
                <div 
                  class="app-toolbar-row" 
                  fxLayout="row" 
                  fxLayoutAlign="center center">
                  <button 
                    style="margin-right: 6px;" 
                    fxHide.gt-sm 
                    mat-icon-button 
                    (click)="sidenav.toggle()"
                    matTooltip="Menu">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <a fxFlex routerLink="/home" class="hub-logo" ngClass.xs="hub-logo-xs">
                    <img [src]="'assets/images/hub-logo.svg'">
                  </a>
                  <span fxHide.lt-md style="flex: 1 1 auto;"></span>

                  <button mat-icon-button fxHide.gt-sm routerLink="/search" matTooltip="Search">
                    <mat-icon>search</mat-icon>
                  </button>

                  <button mat-button fxHide.lt-md routerLink="/search">
                    Search
                  </button>

                  <button
                    class="button-menu"
                    fxHide.lt-md
                    mat-button
                    [matMenuTriggerFor]="browseMenu">
                    Browse
                    <mat-icon matPrefix>expand_more</mat-icon>
                  </button>

                  <mat-menu #browseMenu="matMenu" [overlapTrigger]="false">
                    <div *ngIf="allCategories$ | async as allCategories">
                      <button
                        *ngFor="let item of allCategories.items"
                        mat-menu-item
                        [style.background]="showBanner ? '' : '#0294a5'" 
                        [routerLink]="['/search']">{{item.name}}</button>
                    </div>
                  </mat-menu>

                  <button class="button-menu" fxHide.lt-md mat-button [matMenuTriggerFor]="researchActivityMenu">
                    Research Activities
                    <mat-icon matPrefix>expand_more</mat-icon>
                  </button>

                  <mat-menu #researchActivityMenu="matMenu" [overlapTrigger]="false">
                    <button [style.background]="showBanner ? '' : '#0294a5'" mat-menu-item *ngFor="let item of researchActivityOptions"
                      [routerLink]="['/search']">{{item.name}}</button>
                  </mat-menu>

                  <button mat-button fxHide.lt-md routerLink="/userStudy">
                    User Study
                  </button>

                  <button mat-button fxHide.lt-md routerLink="/feedback">
                    Feedback
                  </button>

                  <button *ngIf="!authenticated" fxHide.lt-md  mat-button (click)="loginService.doLogin()">Sign In</button>

                  <button class="button-menu" *ngIf="authenticated" mat-button [matMenuTriggerFor]="userMenu">
                    <mat-icon matPrefix style="margin-right: 5px;" fxHide.xs>person</mat-icon>
                    <span fxHide fxShow.gt-md>{{ userInfo?.firstName + ' ' + userInfo?.lastName }}</span>
                    <span fxHide fxShow.md>{{ userInfo?.firstName }}</span>
                    <span fxHide.gt-sm>{{ userInfo?.firstName?.charAt(0) + userInfo?.lastName?.charAt(0) }}</span>
                  </button>

                  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <div class="user-detail-dropdown">
                      <img src="assets/images/uoa-logo-blue.svg">

                      <mat-list class="user-menu-list">
                        <mat-list-item>
                          <mat-icon mat-list-icon>person</mat-icon>
                          <p mat-line>{{ userInfo?.firstName + ' ' + userInfo?.lastName }}</p>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>note</mat-icon>
                          <p mat-line>{{ userInfo?.email }}</p>
                        </mat-list-item>
                      </mat-list>

                      <div fxLayout="row" fxLayoutAlign="end">
                        <button 
                          mat-raised-button 
                          class="sign-out-button"
                          href="https://www.auckland.ac.nz/en/about-us/about-the-university/identity-and-access-management/single-sign-on/details.html">
                          Sign Out
                        </button>
                      </div>
                    </div>
                  </mat-menu>

                </div>
              </div>
            </div>
            <div
              class="banner-content-home"
              [style.display]="showBanner ? '' : 'none'">
              <div class="banner-text">
                <p class="page-title"><b>Research</b>Hub</p>
                <p class="page-summary">{{ summary }}</p>
              </div>
              <br>
              <input
                type="search"
                #searchTextInput
                class="initial-search" 
                [(ngModel)]="searchText"
                placeholder="Search">
            </div>
          </div>

          <!-- <mat-drawer-container> -->
          <mat-sidenav-container fxFlex="noshrink">

          <!-- Content sidenav -->
          <mat-sidenav class="content-sidenav" mode="side" disableClose
          [opened]="appComponentService.isContentSidenavVisible" [fixedInViewport]="isContentSidenavFixed"
          [ngStyle]="{'height':contentSidenavHeight + 'px'}" [@.disabled]="true">
          <router-outlet name="contentSidenav" (activate)="setContentSidenavHasContent(true)"
            (deactivate)="setContentSidenavHasContent(false)"></router-outlet>
          </mat-sidenav>

            <!-- Search bar  -->
            <mat-sidenav-content [@contentPushLeft]="appComponentService.isContentSidenavVisible">
              <div #content>
               <app-search-bar
                [style.display]="showBanner ? 'none' : 'block'"
                [searchText]="searchText">
              </app-search-bar>
                <!-- Page content -->
                <router-outlet></router-outlet>
              </div>
            </mat-sidenav-content>
          </mat-sidenav-container>
        </div>

        <!-- Footer -->
        <footer>

          <!-- Footer Content -->
          <div 
            class="footer-content"
            fxLayout="column" 
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
            ngClass.lt-md="site-padding-mobile">

            <!-- Main Footer Links -->
            <div
              style="width: 100%;"
              fxLayoutGap="5%"
              fxLayout.lt-md="column"
              fxLayoutAlign="space-between">
              <div
                fxFlex="45%"
                fxLayout="row"
                fxFlexOrder.lt-md="1"
                class="logo-img-container">
                <a
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  [href]="aucklandUniUrl" 
                  target="_blank" >
                  <img class="logo-img" src="assets/images/uoa-logo.svg">
                </a>
                <div
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  class="divider">
                  Centre<br>for eResearch
                </div>
              </div>
  
              <div
                fxFlex="45%"
                class="footer-links"
                fxLayout="row wrap"
                fxFlexOrder.lt-md="0"
                fxLayoutAlign="space-between">
                <div fxLayout="column">
                  <a class="link-header">About</a>
                  <a href="https://www.eresearch.auckland.ac.nz/?_ga=2.81806550.1543311154.1613887992-1526168235.1613564667">Centre for eResearch</a>
                  <a href="https://auckland.ac.nz">The University of Auckland</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Engage</a>
                  <a href="{{ userStudyLink }}">User Study</a>
                  <a href="{{ feedbackLink }}">Feedback</a>
                  <a routerLink="/contact">Contact</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Explore</a>
                  <a routerLink="/contact">Research Categories</a>
                  <a routerLink="/contact">Research Activities</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Helpful Links</a>
                  <a [href]="disclaimerUrl" target="_blank">Disclaimer</a>
                </div>
              </div>
            </div>
            
            <div class="copyright">
              <a
              [href]="eResearchUrl" 
              target="_blank">
                  Copyright © {{ getYear() }} Centre for eResearch
              </a>
            </div>
          </div>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
