@import "variables";
@import "mixins";
@import "styles-common";



/*
 * Banner Styling
 */
.banner-container-home {
  text-align: center;
  max-height: auto;
  background-size: cover !important;
  .banner-content-home {
    margin: 20vh 2.5vh;
    display: inline-block;
    @include size(medium) {
      margin: 25vh 10vh;
      display: inline-block;
    }
    .banner-text {
      width: auto !important;
      .page-summary,
      .page-title {
        text-shadow: 0px 0px 8px $dark-grey;
        margin: 0 auto;
        font-weight: lighter;
        color: white !important;
        @include size(medium) {
          width: 45vw !important;
        }
      }
      .page-title {
        color: #ffffff;
        margin-bottom: 32px;
        font-size: 48px;
        @include size(medium) {
          font-size: 92px;
        }
      }
      .page-summary {
        font-size: 20px;
        word-wrap: break-word;
        color: $light-grey;
        line-height: 100%;
      }
    }
  }
}



/*
 * Initial Search
 */
.initial-search {
  padding: 0px 1em;
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
  color: #fafafa;
  border: 1px solid rgba(78, 78, 78, 0.6);
  @include size(medium) {
    width: 30vw;
  }
  background-color: rgba(202, 202, 202, 0.4);
}

/**
 * Explore arrow animation
 */
@keyframes explore {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 16px;
  }
  100% {
    margin-top: 5px;
  }
}
@keyframes explore2 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 3px;
  }
  100% {
    margin-top: 0px;
  }
}
/*
 * Explore Arrow
 */
.explore {
  cursor: pointer;
  p {
    animation: explore2 1.5s infinite;
  }
  .explore-arrow {
    animation: explore 1.5s infinite;
  }
}

/*
 * Button styles
 */
.menu-button {
  top: 4.8px;
  right: 10.5px;
  color: white !important;
}
.menu-button-xs {
  @extend .menu-button;
  top: 2.4px;
  right: 10.5px;
}
.mat-button {
  line-height: 64px !important;
  padding: 0 16px !important;
  min-width: 64px !important;
  font-weight: 100;
}

/*
 * Mobile sidenav drawer
 */
mat-list-item.mat-list-item {
  height: 60.8px !important;
}
mat-list-base {
  padding: 0 16px;
}
mat-expansion-panel {
  width: 70vw;
  background-color: #fafafa !important;
  box-shadow: none !important;
}
mat-expansion-panel-header .mat-expanded {
  height: 64px !important;
}
.expandable-menu {
  background-color: #fafafa !important;
  padding-left: 0 !important;
  height: 64px !important;
}


/**
 * Section Header Text
 */
.text {
  width: 100%;
  margin: 40px auto;
  @include size(medium) {
    width: 60%;
    margin: 40px auto;
  }
  > h2 {
    color: #333333;
    font-size: 36px;
    @include size(medium) {
      font-size: 48px;
    }
  }
  > p {
    font-size: 16px;
    @include size(medium) {
      font-size: 20px;
    }
  }
}





/**
 *  Search bar
 */
.mat-form-field-ripple, .mat-form-field-underline {
  background-color: rgba(200, 200, 200, 0.6) !important;
}

.mat-focused .mat-form-field-label {
  color: rgba(200, 200, 200, 0.6) !important;
}

input {
  caret-color: rgba(200, 200, 200, 0.6) !important;
}
