<section class="mat-typography">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" opened="false">
      <div class="app-toolbar" ngClass.xs="app-toolbar-xs" style="background-color: #0294a5;padding-left: 24px;">
        <div class="app-toolbar-row" fxLayout="row" fxLayoutAlign="start center" color="primary">
          <a routerLink="/home" class="hub-logo" ngClass.xs="hub-logo-xs">
            <img [src]="'assets/hub-logo.svg'">
          </a>
        </div>
      </div>

      <mat-nav-list>
        <ng-container *ngFor="let menuOption of optionsService.menuOptions;">
          <ng-container *ngIf="menuOption.sublist === undefined">
            <mat-list-item [routerLink]="menuOption.routerLink" (click)="sidenav.close()">
              <mat-icon mat-list-icon>{{menuOption.icon}}</mat-icon>
              <a mat-line>{{menuOption.name}}</a>
            </mat-list-item>
          </ng-container>

          <ng-container *ngIf="menuOption.sublist !== undefined">
            <mat-expansion-panel>
              <mat-expansion-panel-header class="expandable-menu">
                <mat-list-item style="width: 100%;height: 100%;">
                  <mat-icon mat-list-icon>{{menuOption.icon}}</mat-icon>
                  <a mat-line>{{menuOption.name}}</a>
                </mat-list-item>
              </mat-expansion-panel-header>

              <mat-list-item *ngFor="let item of menuOption.sublist;" (click)="sidenav.close()" [routerLink]="['/search']" [queryParams]="getSearchQueryParams(item)">
                <a mat-line>{{item.name}}</a>
              </mat-list-item>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <div class="sidenav-content-wrapper">
      <div #topContent class="sidenav-content" fxLayout="column" ngClass.xs="sidenav-content-xs">
        <div #topbar class="app-toolbar-container">
          <div class="site-content app-toolbar" ngClass.xs="site-content app-toolbar-xs">
            <div class="app-toolbar-row" fxLayout="row" fxLayoutAlign="center center" color="primary">
              <button style="margin-right: 6px;" fxHide.gt-sm mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu"><mat-icon>menu</mat-icon></button>
              <a routerLink="/home" class="hub-logo" ngClass.xs="hub-logo-xs">
                <img [src]="'assets/hub-logo.svg'">
              </a>

              <span style="flex: 1 1 auto;"></span>

              <button mat-icon-button fxHide.gt-sm routerLink="/search" matTooltip="Search">
                <mat-icon>search</mat-icon>
              </button>

              <button mat-button fxHide.lt-md routerLink="/search">
                Search
              </button>

              <button class="button-menu" fxHide.lt-md mat-button [matMenuTriggerFor]="browseMenu">
                Browse
                <mat-icon matPrefix>expand_more</mat-icon>
              </button>

              <mat-menu #browseMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let item of optionsService.categoryOptions" [routerLink]="['/search']" [queryParams]="getSearchQueryParams(item)">{{item.name}}</button>
              </mat-menu>

              <button class="button-menu" fxHide.lt-md mat-button [matMenuTriggerFor]="researchActivityMenu">
                Research Activities
                <mat-icon matPrefix>expand_more</mat-icon>
              </button>

              <mat-menu #researchActivityMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let item of optionsService.researchActivityOptions" [routerLink]="['/search']" [queryParams]="getSearchQueryParams(item)">{{item.name}}</button>
              </mat-menu>

              <button mat-button fxHide.lt-md routerLink="/userStudy">
                User Study
              </button>

              <button mat-button fxHide.lt-md routerLink="/feedback">
                Feedback
              </button>

              <button *ngIf="showLoginBtn" mat-button (click)="authService.login()">Sign In</button>

              <button class="button-menu" *ngIf="!showLoginBtn" mat-button [matMenuTriggerFor]="userMenu">
                <mat-icon matPrefix style="margin-right: 5px;" fxHide.xs>person</mat-icon>
                <span fxHide.lt-md>{{authService.user.displayName}}</span>
                <span fxHide.gt-sm>{{authService.user.initials}}</span>
              </button>

              <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                <div *ngIf="!showLoginBtn" style="margin-right: 8px; margin-left: 8px;">
                  <img src="/assets/images/uoa-logo-blue.svg">

                  <mat-list class="user-menu-list">
                    <mat-list-item>
                      <mat-icon mat-list-icon>person</mat-icon>
                      <p mat-line>{{authService.user.displayName}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>note</mat-icon>
                      <p mat-line>{{authService.user.mail}}</p>
                    </mat-list-item>
                  </mat-list>

                  <div fxLayout="row" fxLayoutAlign="end">
                    <button mat-raised-button style="color: black; background-color: white;" href="https://www.auckland.ac.nz/en/about-us/about-the-university/identity-and-access-management/single-sign-on/details.html">Sign Out</button>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
          <mat-progress-bar class="app-progress-bar" mode="indeterminate" color="accent" [style.visibility]="showProgressBar ? 'visible' : 'hidden'"></mat-progress-bar>
        </div>

        <app-header></app-header>
        <!-- <mat-drawer-container> -->
        <mat-sidenav-container fxFlex="noshrink">
          <!-- Content sidenav -->
          <mat-sidenav class="content-sidenav" mode="side"
                       disableClose [opened]="appComponentService.isContentSidenavVisible"
                       [fixedInViewport]="isContentSidenavFixed"
                       [ngStyle]="{'height':contentSidenavHeight + 'px'}"
                       [@.disabled]="true">
            <router-outlet name="contentSidenav"
                           (activate)="setContentSidenavHasContent(true)"
                           (deactivate)="setContentSidenavHasContent(false)"></router-outlet>
          </mat-sidenav>
          <!-- Search bar  -->
          <mat-sidenav-content [@contentPushLeft]="appComponentService.isContentSidenavVisible">
            <div class="site-padding" #content ngClass.xs="site-padding-xs" ngClass.sm="site-padding-sm">
              <app-search-bar [categories]="optionsService.categoryOptions" [category]="selectedCategory" [searchText]="searchText"></app-search-bar>
              <!-- Page content -->
              <router-outlet></router-outlet>
            </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      <footer ngClass.xs="footer-xs">
        <div class="footer-content" ngClass.xs="footer-content-xs" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">
          <div>
            <a [href]="aucklandUniUrl" target="_blank" (click)="analyticsService.trackOutboundLink(aucklandUniUrl)">
              <img class="logo-img" ngClass.xs="logo-img-xs" [src]="apiService.getAssetUrl('page-elements/uoa-logo.svg')">
            </a>
          </div>

          <div fxLayout="row" fxLayout.xs="column">
            <a routerLink="/userStudy">Join User Study</a>
            <span fxHide.xs class="footer-divider">•</span>
            <a routerLink="/feedback">Provide Feedback</a>
            <span fxHide.xs class="footer-divider">•</span>
            <a routerLink="/contact">Contact</a>
            <span fxHide.xs class="footer-divider">•</span>
            <a routerLink="/about">About</a>
            <span fxHide.xs class="footer-divider">•</span>
            <a [href]="disclaimerUrl" target="_blank" (click)="analyticsService.trackOutboundLink(disclaimerUrl)">Disclaimer</a>
          </div>

          <a [href]="eResearchUrl" target="_blank" (click)="analyticsService.trackOutboundLink(eResearchUrl)">
            Copyright © {{getYear()}}, Centre for eResearch
          </a>
        </div>
      </footer>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
