<section class="mat-typography">

  <!-- Landing Page -->
  <mat-sidenav-container class="sidenav-container">

    <!-- Navbar Container -->
    <mat-sidenav #sidenav mode="over" opened="false">

      <!-- Main Navbar -->
      <div class="app-toolbar" ngClass.lt-md="site-padding-mobile">
        <div class="app-toolbar-row" fxLayout="row" fxLayoutAlign="start center" color="primary">
          <a routerLink="/home" class="hub-logo" ngClass.xs="hub-logo-xs">
            <img [src]="'assets/images/hub-logo.svg'" alt="logo">
          </a>
        </div>
      </div>

      <!-- Mobile Drawer -->
      <mat-nav-list>

        <!-- Search -->
        <mat-list-item  *ngIf="!onSearchPage" [routerLink]="['/search']" (click)="clearSearchText()"
          (keydown.enter)="clearSearchText()"><a mat-line>Search</a>
        </mat-list-item>

        <!-- Browse -->
        <mat-expansion-panel style="background: #fafafa" hideToggle="true">

          <!-- Browse Title -->
          <mat-expansion-panel-header *ngIf="!onSearchPage" class="expandable-menu">
            <mat-list-item><a mat-line>Research Categories</a></mat-list-item>
          </mat-expansion-panel-header>

          <!-- Browse Options -->
          <mat-nav-list *ngIf="allCategories$ | async as allCategories">
            <mat-list-item *ngFor="let item of allCategories.items" [routerLink]="['/search']"
            (click)="searchBarService.setCategory([item.sys.id]); sidenav.close()">
              <a mat-line>{{ item.name }}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Research Activites -->
        <mat-expansion-panel style="background: #fafafa" hideToggle="true">

          <!-- Research Activities Name -->
          <mat-expansion-panel-header *ngIf="!onSearchPage" class="expandable-menu">
            <mat-list-item>
              <a mat-line>Research Activities</a>
            </mat-list-item>
          </mat-expansion-panel-header>

          <!-- Research Activities List -->
          <div *ngIf="allStages$ | async as allStages">
            <mat-list-item *ngFor="let item of allStages.items" [routerLink]="['/search']"
            (click)="searchBarService.setStage([item.sys.id]); sidenav.close()">
              <a mat-line>{{ item.name }}</a>
            </mat-list-item>
          </div>
        </mat-expansion-panel>

        <!-- Sign In -->
        <mat-list-item>
          <a mat-line (click)="loginService.doLogin()" (keydown.enter)="loginService.doLogin()">Sign In</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Screen -->
    <mat-sidenav-content>
      <div class="sidenav-content-wrapper">
        <div #topContent fxLayout="column" class="sidenav-content">

          <!-- Banner -->
          <div class="banner-container-home" [style]="showBanner ? isMobile ? mobileBackground : desktopBackground : ''">

            <!-- Main Navbar -->
            <div #topbar class="app-toolbar-container">
              <div class="site-content site-padding" ngClass.lt-lg="site-content site-padding-mobile app-toolbar-xs"
              [style]="showBanner ? 'background-color: rgba(0,0,0,0)' : 'background-color: #0294a5; box-shadow: 0px -3px 10px black;'">

                <!-- Main Navbar Content -->
                <div fxLayout="row" class="app-toolbar-row" fxLayoutAlign="center center">

                  <!-- Mobile Menu Toggle -->
                  <button role="button" aria-label="menu" fxHide.gt-sm mat-icon-button style="margin-right: 6px;"
                    (click)="sidenav.toggle()" matTooltip="Menu"><mat-icon>menu</mat-icon>
                  </button>

                  <!-- Logo/Home -->
                  <a 
                    fxFlex.lt-md 
                    class="hub-logo"
                    routerLink="/home">
                    <img [src]="'assets/images/hub-logo.svg'" alt="logo">
                  </a>

                  <!-- Space Divider -->
                  <span fxHide.lt-md style="flex: 1 1 auto;"></span>

                  <!-- Search Icon (Mobile)-->
                  <button role="button" aria-label="search" *ngIf="!onSearchPage" (click)="clearSearchText()"
                    (keydown.enter)="clearSearchText()" mat-icon-button
                    fxHide.gt-sm routerLink="/search" matTooltip="Search">
                    <mat-icon>search</mat-icon>
                  </button>

                  <!-- Search Button -->
                  <button role="button" aria-label="search" *ngIf="!onSearchPage" mat-button 
                  fxHide.lt-md routerLink="/search" (click)="clearSearchText()" 
                  (keydown.enter)="clearSearchText()">Search</button>

                  <!-- Research Categories Button -->
                  <button role="button" aria-label="categories" *ngIf="!onSearchPage" 
                    mat-button fxHide.lt-md class="button-menu" [matMenuTriggerFor]="browseMenu">Research Categories</button>

                  <mat-menu #browseMenu="matMenu" [overlapTrigger]="false">
                    <div *ngIf="allCategories$ | async as allCategories">
                      <button role="button" aria-label="category" mat-menu-item *ngFor="let item of allCategories.items"
                        [style.background]="showBanner ? '' : '#0294a5'" [routerLink]="['/search']"
                        (click)="searchBarService.setCategory([item.sys.id]); sidenav.close()">{{item.name}}</button>
                    </div>
                  </mat-menu>

                  <!-- Research Activities Button -->
                  <button role="button" aria-label="activities" *ngIf="!onSearchPage" class="button-menu" 
                    fxHide.lt-md mat-button [matMenuTriggerFor]="researchActivityMenu">Research Activities</button>

                    <mat-menu #researchActivityMenu="matMenu" [overlapTrigger]="false">
                    <div *ngIf="allStages$ | async as allStages">
                      <button role="button" aria-label="activity" mat-menu-item *ngFor="let item of allStages.items"
                        [style.background]="showBanner ? '' : '#0294a5'" [routerLink]="['/search']"
                        (click)="searchBarService.setStage([item.sys.id]); sidenav.close()">{{ item.name }}</button>
                    </div>
                  </mat-menu>

                  <!-- Sign In Button -->
                  <button role="button" aria-label="sign-in" *ngIf="!authenticated" fxHide.lt-md
                    mat-button (click)="loginService.doLogin()" (keydown.enter)="loginService.doLogin()">Sign In</button>

                  <button role="button" class="button-menu" aria-label="user-info" *ngIf="authenticated" mat-button [matMenuTriggerFor]="userMenu">
                    <mat-icon matPrefix style="margin-right: 5px;" fxHide.xs>person</mat-icon>
                    <span fxHide fxShow.gt-md>{{ userInfo?.firstName + ' ' + userInfo?.lastName }}</span>
                    <span fxHide fxShow.md>{{ userInfo?.firstName }}</span>
                    <span fxHide.gt-sm>{{ userInfo?.firstName?.charAt(0) + userInfo?.lastName?.charAt(0) }}</span>
                  </button>

                  <!-- User Details -->
                  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <div class="user-detail-dropdown">
                      <img src="assets/images/uoa-logo-blue.svg" alt="uoa-logo-blue">

                      <mat-list class="user-menu-list">
                        <mat-list-item>
                          <mat-icon mat-list-icon>person</mat-icon>
                          <p mat-line>{{ userInfo?.firstName + ' ' + userInfo?.lastName }}</p>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>note</mat-icon>
                          <p mat-line>{{ userInfo?.email }}</p>
                        </mat-list-item>
                      </mat-list>

                      <!-- Sign Out Button-->
                      <div fxLayout="row" fxLayoutAlign="end">
                        <button role="button" aria-label="sign-out" mat-raised-button class="sign-out-button"
                          href="https://www.auckland.ac.nz/en/about-us/about-the-university/identity-and-access-management/single-sign-on/details.html">
                          Sign Out
                        </button>
                      </div>
                    </div>
                  </mat-menu>

                </div>
              </div>
            </div>

            <!-- Homepage Banner -->
            <div
              class="banner-content-home"
              [style.display]="showBanner ? '' : 'none'">
              <div class="banner-text">

                <!-- Title & Summary -->
                <h1 class="page-title" role="heading" aria-level="1"><b>Research</b>Hub</h1>
                <p class="page-summary">{{ summary }}</p>
                <br>
                <div class="initial-search-outer">
                  <mat-form-field class="initial-search">

                    <!-- Search Bar -->
                    <input role="textbox" autofocus matInput (keydown.enter)="search()"
                      [(ngModel)]="searchText" placeholder="Search">
                    <button role="button" matSuffix *ngIf="searchText" (click)="clearSearchText('')" 
                      (keydown.enter)="clearSearchText('')"  mat-icon-button>
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <!-- Page Content -->
          <router-outlet></router-outlet>
        </div>

        <!-- Footer Container-->
        <footer>

          <!-- Footer Content -->
          <div class="footer-content" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" ngClass.lt-md="site-padding-mobile">

            <!-- UoA Footer Logo -->
            <div style="width: 100%" fxLayoutGap="5%" fxLayout.lt-md="column">
              <div fxFlexOrder.lt-md="1" class="logo-img-container">
                <a [href]="aucklandUniUrl" target="_blank" >
                  <img class="logo-img" src="assets/images/uoa-logo.svg" alt="uoa-logo">
                </a>
              </div>

              <!-- Spacer between footer content -->
              <div fxFlex fxHide.lt-md></div>

              <!-- Footer Links -->
              <div class="footer-links" fxLayout="row wrap" fxFlexOrder.lt-md="0" fxLayoutGap="2vw" fxLayoutAlign="space-between">
                <div fxLayout="column">
                  <a class="link-header">About</a>
                  <a href="https://auckland.ac.nz">The University of Auckland</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Engage</a>
                  <a href="{{ feedbackLink }}">Feedback</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Explore</a>
                  <a routerLink="/contact">Research Categories</a>
                  <a routerLink="/contact">Research Activities</a>
                </div>
                <div fxLayout="column">
                  <a class="link-header">Helpful Links</a>
                  <a [href]="disclaimerUrl" target="_blank">Disclaimer</a>
                </div>
              </div>
            </div>
            
            <!-- Copyright -->
            <div class="copyright">
              <a
              [href]="eResearchUrl" 
              target="_blank">
                  Copyright © {{ getYear() }} Centre for eResearch
              </a>
            </div>
          </div>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>