@import '../styles';


/*
 * Hub Logo
 */

.hub-logo {
  height: 32px;
}

.hub-logo img {
  @extend .hub-logo;
}

.hub-logo-xs {
  height: 22px;
}

.hub-logo-xs img {
  @extend .hub-logo-xs;
}


/*
 * Button styles
 */

.menu-button {
  color: white !important;
  top: 4px;
  right: 8px;
}

.menu-button-xs {
  @extend .menu-button;
  top: 2px;
  right: 8px;
}

/*
 * Banner Styling
 */
 .banner-container-home {
    height: 45vh;
    overflow-x: hidden;
    text-align: center;
    max-height: auto;
    display: flex;
    align-items: center;
    background-size: cover!important;
}

.banner-content-home {
  padding: 50px;
  width: 100%;
  height: fit-content;
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: white;
}

/*
 * Navigation list
 */
.sidenav-container mat-sidenav mat-list-item mat-icon {
  color: $color-icon;
  font-size: mat-font-size($app-sidenav-list-typography, body-2) !important;
  font-weight: mat-font-weight($app-sidenav-list-typography, body-2) !important;
}

.sidenav-container mat-sidenav mat-list-item .mat-line {
  font-size: mat-font-size($app-sidenav-list-typography, body-1) !important;
  font-weight: mat-font-weight($app-sidenav-list-typography, body-1) !important;
}

/*
 * User Menu
 */

.user-menu-list {
  margin-bottom: 8px;
}

.user-menu-list mat-list-item mat-icon {
  color: white;
}

.user-menu-list mat-list-item p {
  font-size: 0.7em !important;
  color: white;
}

.app-toolbar-container {
  position: relative;
  background: linear-gradient(356deg, rgba(4,132,147,1) 0%, rgba(2,148,165,1) 62%);
  color: white;
}

.app-toolbar {
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.app-toolbar-xs {
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.app-toolbar .app-toolbar-row {
  height: 64px;
}

.app-toolbar-xs .app-toolbar-row {
  height: 48px;
}

/*
 * SideNav
 */

.sidenav-home {
  padding: 0 !important;
}

.sidenav-home mat-nav-list {
  width: 100% !important;
}

mat-expansion-panel {
  box-shadow: none !important;
}

mat-expansion-panel-header .mat-expanded {
  height: 48px !important;
}

.mat-expansion-panel-body {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-expansion-panel-body .mat-list-item-content {
  padding-left: 40px !important;
}

.expandable-menu {
  background-color: #FAFAFA !important;
  padding-left: 0 !important;
  height: 48px !important;
}

.sidenav-container {
  min-height: calc(100vh);
}

.sidenav-container mat-sidenav {
  //min-width: $sidenav-width;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: $color-background;
}

.sidenav-container mat-sidenav mat-list {
  padding-left: 1em;
  padding-top: 1em;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav-content {
  flex: 1 0 auto; // So that content takes up space correctly in IE11 (pushing sticky footer out of the way)
  min-height: calc(100vh - #{$height-footer});
  background-color: $color-background;
}

.sidenav-content-xs {
  @extend .sidenav-content;
  min-height: calc(100vh - #{$height-footer-xs});
}

.app-progress-bar {
  position: absolute !important;
  left: 0 !important;
  bottom: -5px !important; // Offset height of progress bar from bottom of tool
}


/*
 * Footer
 */

footer {
  background: linear-gradient(360deg, rgba(2,148,165,1) 0%,  rgba(4,132,147,1) 62%);
  height: $height-footer;
  padding-left: $padding-site;
  padding-right: $padding-site;
  z-index: 1; // Hide excess height of content sidenav underneath footer.
}

footer.footer-xs {
  height: $height-footer-xs;
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.footer-content {
  @extend .site-content;
  height: $height-footer !important;
  display: grid;
  grid-auto-flow: row;
}

.footer-content-xs {
  //@extend .footer-content;
  height: $height-footer-xs !important;
}

footer a {
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: mat-font-size($app-base-typography, button) !important; // 14px
  font-weight: mat-font-weight($app-base-typography, caption) !important;
}

footer.footer-xs a {
  text-align: center;
}

.footer-divider {
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.logo-img {
  display: block;
  height: 5em;
  width: 100%;
}

.logo-img-xs {
  @extend .logo-img;
  height: 4em;
}


/*
 * Breadcrumb styling
 */

.breadcrumb span {
  color: $breadcrumb-current-color;
}

.breadcrumb a {
  color: $breadcrumb-previous-color;
}

.breadcrumb ul {
  padding-left: 0;
}

.breadcrumb ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;   /* a fix needed for IE7- */
  cursor: pointer;
}

.breadcrumb li:not(:first-child):before {
  padding-left: 0.5em;
  padding-right: 0.4em;
  content: ">";
  cursor: default;
}

/*
 * Re arrange footer / content on small screens
 */

.primary-toolbar {
  //@extend .site-content;
  position: relative !important; // Needed so we can absolutely position progress bar inside it

  //padding-left: 0 !important;
  //padding-right: 0 !important;
}

app-search-bar {
  height: inherit;
  width: 100%;
}

.beta-bar{
  cursor:pointer;
  background-color: $color-orange;
  color:$body-dark-bg-font-color;
  text-align: center;
}

.beta-bar a {
  color:$body-dark-bg-font-color;
}

/*
 * Github fork ribbon styling
 */

.github-fork-ribbon.left-bottom:before
{
  background-color: $color-orange;
}

.github-fork-ribbon.left-bottom {
  box-sizing: unset;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-menu {
  padding-left: 10px !important;
  padding-right: 5px !important;
  min-width: 0 !important;
}

.content-sidenav {
  width:400px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: $color-background;
}

// User Detail Dropdown
.user-detail-dropdown {
  margin-right: 8px; 
  margin-left: 8px;
}

// Sign Out Button
.sign-out-button {
  color: black; 
  background-color: white;
}

// HACK
// https://github.com/angular/material2/issues/6958
//
//.sidenav-container .mat-drawer-content {
//  margin-left: $sidenav-width !important;
//
//}
//
//@media (max-width: $md-thresh-min) {
//
//    .sidenav-container .mat-drawer-content {
//      margin-left: 0 !important;
//      //flex-grow: 1;
//    }
//
//}