# ======================== General ==================== #
node_modules/
tmp/
.npm

# System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# ==================== research-hub-web ================ #
research-hub-web/www/
research-hub-web/dist/
research-hub-web/documentation/
research-hub-web/cypress/videos/
research-hub-web/cypress/screenshots/

research-hub-web/src/app/graphql/possible-types.ts
research-hub-web/src/app/graphql/schema.ts

# Custom environment file - use it in special local development situations
research-hub-web/src/environments/environment.custom.ts

# Misc
research-hub-web/.sass-cache
research-hub-web/connect.lock
research-hub-web/coverage
research-hub-web/libpeerconnection.log
research-hub-web/npm-debug.log
research-hub-web/testem.log
research-hub-web/typings

# Ignore config file so secrets are not automatically checked in
.env
