<div class="results" *ngIf="allEquipment$ | async as allEquipment">
    <h2>Results</h2>
    Found <span class="search-results-text">{{ allEquipment.items.length }}</span> results in <span
        class="search-results-text">Equipment</span>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                JSON Result
            </mat-panel-title>
            <mat-panel-description>Click to see raw JSON</mat-panel-description>
        </mat-expansion-panel-header>
        <pre><code>{{ allEquipment$ | async | json}}</code></pre>
    </mat-expansion-panel>

    <mat-nav-list>
        <mat-card *ngFor="let equipment of allEquipment.items">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>build</mat-icon>
                </div>
                <mat-card-title>
                    {{ equipment.title }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ equipment.summary }}
                </mat-card-subtitle>
                <mat-chip-avatar *ngIf="equipment.ssoProtected">
                    <mat-icon color='accent' matTooltip="SSO Login Required">lock</mat-icon>
                </mat-chip-avatar>
            </mat-card-header>
        </mat-card>
    </mat-nav-list>
</div>