<!-- If we're displaying a collection of equipment -->
<div
    *ngIf="allEquipment$ | async as allEquipment" 
    class="site-padding margin-bottom top-padding" 
    ngClass.xs="site-padding-xs margin-bottom-xs top-padding" 
    ngClass.sm="site-padding-sm margin-bottom-sm top-padding">
    <app-collection-list [collection]="allEquipment"></app-collection-list>
</div>


<!-- If we're displaying an individual equipment -->
<div 
    id="equipment-container"
    *ngIf="equipment$ | async as equipment">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <div    
            class="top-padding"
            ngClass.sm="top-padding"
            ngClass.xs="top-padding"
            id="breadcrumbs"   
            *ngIf="!!parentSubHubs">
            <span 
                class="breadcrumb-subhub" 
                *ngFor="let subHub of parentSubHubs.slice().reverse()">
                <a [routerLink]="'/subhub/' + subHub.slug">
                    {{ subHub.title }}
                </a>
            </span>
            <span id="breadcrumb-current-page">
                {{ equipment.title }}
            </span>
        </div>
    </ng-template>

    <ng-template #specificationsTable>
        <div 
            class="specifications section">
            <h4>Specifications</h4>
            <table class="specifications-table">
                <tr>
                <th>Name</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="equipment.manufacturer">
                    <td>Manufacturer</td>
                    <td [innerHTML]="equipment.manufacturer"></td>
                </tr>
                <tr *ngIf="equipment.year">
                    <td>Year</td>
                    <td [innerHTML]="equipment.year"></td>
                </tr>
                <tr *ngIf="equipment.model">
                    <td>Model</td>
                    <td [innerHTML]="equipment.model"></td>
                </tr>
                <tr *ngIf="equipment.eligibility">
                    <td>Eligibility</td>
                    <td [innerHTML]="equipment.eligibility.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.costToUse">
                    <td>Cost</td>
                    <td [innerHTML]="equipment.costToUse.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.location">
                    <td>Location</td>
                    <td [innerHTML]="equipment.location"></td>
                </tr>
                <tr *ngIf="equipment.access">
                    <td>Access</td>
                    <td [innerHTML]="equipment.access.json | richTextToHTML"></td>
                </tr>
            </table>
        </div>
    </ng-template>

    <ng-template #relatedItems>
        <div 
            *ngIf="equipment.relatedItemsCollection.items.length > 0" 
            id="you-might-be-interested-in">
            <h4>You might also be interested in<hr/></h4>

            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let relatedItem of equipment.relatedItemsCollection.items" 
                class="collection">
                <mat-card>
                    <a [routerLink]="'/' + relatedItem['__typename'].toLowerCase() + '/' + relatedItem['slug']">
                        {{ relatedItem['title'] }}<br/>
                    </a>
                    <span class="related-item-summary">
                        {{ relatedItem['summary'] }}
                    </span>
                </mat-card>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #relatedOrganisations>
        <div 
            *ngIf="equipment.relatedOrgsCollection.items.length > 0" 
            class="column-header">
            <h4>Organisations</h4>
            <hr/>
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let organisation of equipment.relatedOrgsCollection.items" 
                class="collection">
                    <a [routerLink]="">
                        <mat-card>
                            <span class="card-title">
                                {{ organisation['title'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ organisation['summary'] }}
                            </span>
                            <mat-card-actions>
                                <a [routerLink]="'/' + organisation['__typename'].toLowerCase() + '/' + organisation['slug']">
                                    Organisation Details ...
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #relatedContacts>
        <div 
            *ngIf="equipment.relatedContactsCollection.items.length > 0" 
            class="column-header">
            <h4>Contacts</h4>
            <hr/>
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let contact of equipment.relatedContactsCollection.items" 
                class="collection">
                    <a [routerLink]="">
                        <mat-card>
                            <span class="card-title">
                                {{ contact['name'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ contact['summary'] }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #keywords>
        <div 
            *ngIf="equipment.keywords.length > 0" 
            class="section">
            <h4 id="keywords">Keywords<hr/></h4>

            <mat-card-subtitle 
                fxLayout="row wrap"> 
                <span *ngFor="let keyword of equipment.keywords">
                    <mat-card 
                        fxLayout="row" 
                        class="keyword-card">
                        {{ keyword | humanCase }}
                    </mat-card>
                </span>
            </mat-card-subtitle>
        </div>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="equipment-title" 
            ngClass.sm="equipment-title-sm" 
            ngClass.xs="equipment-title-xs">
            {{ equipment.title }}
        </h1>

        <h3 class="equipment-summary" 
            ngClass.sm="equipment-summary-sm" 
            ngClass.xs="equipment-summary-xs">
            {{ equipment.summary }}
        </h3>
    </ng-template>
    
    <ng-template #equipmentImage>
        <div>
            <div *ngIf="equipment.mainImage;">
                <img 
                    src="{{ equipment?.mainImage?.url }}" 
                    alt="{{ equipment?.mainImage?.description }}" 
                    width="100%" 
                    height="100%"/>
            </div>
        </div>
    </ng-template>

    <div
        class="site-padding margin-bottom" 
        ngClass.sm="site-padding-sm margin-bottom" 
        ngClass.xs="site-padding-xs margin-bottom">

        <!-- Breadcrumbs -->
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

        <div>
            <div class="section" 
                fxLayout="row wrap"
                fxLayoutAlign="space-between center"  
                fxLayout.sm="column wrap"
                fxLayout.xs="column wrap">

                <!-- Title and Summary -->
                <div 
                    class="equipment-info section">
                    <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                </div>

                <!-- Equipment Image -->
                <div 
                    *ngIf="equipment.mainImage"
                    class="equipment-image section">
                    <ng-container *ngTemplateOutlet="equipmentImage"></ng-container>
                </div>

            </div>

            <!-- Equipment Body -->
            <div class="section">
                <h4>Description<hr/></h4>
                <ngx-contentful-rich-text
                    style="word-break:break-word;" 
                    [document]="equipment.bodyText.json"
                    [nodeRenderers]="nodeRenderers">
                </ngx-contentful-rich-text>
            </div>

            <!-- Owners and User Facing Support -->
            <div 
                class="equipment-owners"
                fxLayout="row wrap"
                fxLayout.xs="column wrap"
                fxLayoutGap="5%">
                <div fxFlex="47.5%">
                    <ng-container *ngTemplateOutlet="relatedContacts"></ng-container>
                </div>
                <div fxFlex="47.5%">
                    <ng-container *ngTemplateOutlet="relatedOrganisations"></ng-container>
                </div>
            </div>

            <hr class="section"/>

            <!-- Specifications Table -->
            <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>

            <!-- Keywords -->
            <ng-container *ngTemplateOutlet="keywords"></ng-container>

            <!-- Related Items -->
            <ng-container *ngTemplateOutlet="relatedItems"></ng-container>

        </div>
    </div>
</div>
    