<!-- If we're displaying a collection of equipment -->
<app-collection-list 
    *ngIf="allEquipment$ | async as allEquipment" 
    [collection]="allEquipment">
</app-collection-list>


<!-- If we're displaying an individual equipment -->
<div 
    id="equipment-container"
    *ngIf="equipment$ | async as equipment">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <div    
            class="top-padding"
            ngClass.sm="top-padding"
            ngClass.xs="top-padding"
            id="breadcrumbs"   
            *ngIf="!!parentSubHubs">
            <span 
                class="breadcrumb-subhub" 
                *ngFor="let subHub of parentSubHubs.slice().reverse()">
                <a [routerLink]="'/subhub/' + subHub.slug">
                    {{ subHub.title }}
                </a>
            </span>
            <span id="breadcrumb-current-page">
                {{ equipment.title }}
            </span>
        </div>
    </ng-template>

    <ng-template #specificationsTable>
        <div 
            class="specifications section">
            <h4>
                Specifications
            </h4>
            <table class="specifications-table">
                <tr>
                <th>Name</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="equipment.type">
                <td>Type</td>
                <td>{{ equipment.type }}</td>
                </tr>
                <tr *ngIf="equipment.manufacturer">
                    <td>Manufacturer</td>
                    <td [innerHTML]="equipment.manufacturer"></td>
                </tr>
                <tr *ngIf="equipment.model">
                    <td>Model</td>
                    <td [innerHTML]="equipment.model"></td>
                </tr>
                <tr *ngIf="equipment.eligibility">
                    <td>Eligibility</td>
                    <td [innerHTML]="equipment.eligibility.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.costToUse">
                    <td>Cost</td>
                    <td [innerHTML]="equipment.costToUse.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.location">
                    <td>Location</td>
                    <td [innerHTML]="equipment.location"></td>
                </tr>
                <tr *ngIf="equipment.trainingRequired">
                    <td>Training <small><i>(required)</i></small></td>
                    <td [innerHTML]="equipment.trainingRequired.json| richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.trainingProvided">
                    <td>Training <small><i>(provided)</i></small></td>
                    <td [innerHTML]="equipment.trainingProvided.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.year">
                    <td>Year</td>
                    <td [innerHTML]="equipment.year"></td>
                </tr>
                <tr *ngIf="equipment.access">
                    <td>Access</td>
                    <td [innerHTML]="equipment.access.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="equipment.helpAndSupport">
                    <td>Help and Support</td>
                    <td [innerHTML]="equipment.helpAndSupport.json | richTextToHTML"></td>
                </tr>
            </table>
        </div>
    </ng-template>

    <ng-template #relatedItems>
        <div 
            *ngIf="equipment.relatedItemsCollection.items.length > 0" 
            id="you-might-be-interested-in">
            <h4>You might also be interested in<hr/></h4>

            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let relatedItem of equipment.relatedItemsCollection.items" 
                class="collection">
                <mat-card>
                    <a [routerLink]="'/' + relatedItem['__typename'].toLowerCase() + '/' + relatedItem['slug']">
                        {{ relatedItem['title'] }}<br/>
                    </a>
                    <span class="related-item-summary">
                        {{ relatedItem['summary'] }}
                    </span>
                </mat-card>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #keywords>
        <div 
            *ngIf="equipment.keywords.length > 0" 
            class="section">
            <h4 id="keywords">Keywords<hr/></h4>

            <mat-card-subtitle 
                fxLayout="row wrap"> 
                <span *ngFor="let keyword of equipment.keywords">
                    <mat-card 
                        fxLayout="row" 
                        class="keyword-card">
                        {{ keyword | humanCase }}
                    </mat-card>
                </span>
            </mat-card-subtitle>
        </div>
    </ng-template>

    <ng-template #considerations>
        <div *ngIf="equipment.considerations" class="considerations section">
            <h4>Considerations<hr/></h4>
            <div [innerHTML]="equipment.considerations.json | richTextToHTML"></div>
        </div>
    </ng-template>

    <ng-template #equipmentImage>
        <div>
            <div *ngIf="equipment.mainImage;">
                <img 
                    src="{{ equipment?.mainImage?.url }}" 
                    alt="{{ equipment?.mainImage?.description }}" 
                    width="100%" 
                    height="100%"/>
            </div>
        </div>
    </ng-template>

    <ng-template #featuresLimitations>
        <div>
            <h4>Features</h4>
            <div [innerHTML]="equipment.features.json | richTextToHTML"></div>
        </div>
        <div><hr/></div>
        <div>
            <h4>Limitations</h4>
            <div [innerHTML]="equipment.limitations.json | richTextToHTML"></div>
        </div>
    </ng-template>

    <ng-template #supportCard>
        <h4>User Support</h4>
            <div *ngIf="equipment.userFacingSupportCollection.items.length > 0">
                <mat-nav-list 
                    style="margin-bottom: 20px;" 
                    *ngFor="let support of equipment.userFacingSupportCollection.items" 
                    class="collection">
                    
                        <a [routerLink]="">
                            <mat-card>
                                <span class="card-title">
                                    {{ support['name'] }}
                                </span> 
                                <br/>
                                <span class="related-item-summary">
                                    {{ support['jobTitle'] }}
                                </span>
                            </mat-card>
                        </a>
                </mat-nav-list>
            </div>
    </ng-template>

    <ng-template #ownerCard>
        <div *ngIf="equipment.equipmentOwnerCollection.items.length > 0">
            <h4>Owners</h4>
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let owner of equipment.equipmentOwnerCollection.items" 
                class="collection">
                
                    <a [routerLink]="">
                        <mat-card>
                            <span class="card-title">
                                {{ owner['name'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ owner['jobTitle'] }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="equipment-title" 
            ngClass.sm="equipment-title-sm" 
            ngClass.xs="equipment-title-xs">
            {{ equipment.title }}
        </h1>

        <h3 class="equipment-summary" 
            ngClass.sm="equipment-summary-sm" 
            ngClass.xs="equipment-summary-xs">
            {{ equipment.summary }}
        </h3>
    </ng-template>
    
    
    
    <div
        class="site-padding margin-bottom" 
        ngClass.sm="site-padding-sm margin-bottom" 
        ngClass.xs="site-padding-xs margin-bottom">

        <!-- Breadcrumbs -->
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

        <!-- View Switcher -->
        <div [ngSwitch]="equipment.viewType">

            <!-- View 1 -->
            <div *ngSwitchCase="'View 1'">
                <div class="section" 
                    fxLayout="row wrap" 
                    fxLayout.sm="column wrap"
                    fxLayout.xs="column wrap"
                    fxLayoutGap="5%">

                    <!-- Equipment Image -->
                    <div 
                        fxFlex="47.5%" 
                        class="equipment-image">
                        <ng-container *ngTemplateOutlet="equipmentImage"></ng-container>
                    </div>

                    <!-- Title and Summary -->
                    <div 
                        fxFlex="47.5%" 
                        class="equipment-info">
                        <ng-container *ngTemplateOutlet="titleSummary"></ng-container>

                        <hr class="section"/>

                        <!-- Owners and User Facing Support -->
                        <div 
                            class="equipment-owners"
                            fxLayout="row wrap"
                            fxLayout.xs="column wrap"
                            fxLayoutGap="5%">
                            <div fxFlex="47.5%">
                                <ng-container *ngTemplateOutlet="ownerCard"></ng-container>
                            </div>
                            <div fxFlex="47.5%">
                                <ng-container *ngTemplateOutlet="supportCard"></ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="section"/>

                <!-- Overview -->
                <div
                    class="equipment-overview section"
                    fxLayout="row wrap"
                    fxLayout="row wrap"
                    fxLayout.xs="column wrap"
                    fxLayoutGap="5%">
                    <div fxFlex="47.5%">
                        <h4>Overview</h4>
                        <div [innerHTML]="equipment.overview.json | richTextToHTML"></div>
                    </div>

                    <!-- Features and Limitations -->
                    <div fxFlex="47.5%">
                        <div 
                            fxLayout="column"
                            fxLayoutGap="2%">
                            <ng-container *ngTemplateOutlet="featuresLimitations"></ng-container>
                        </div>
                    </div>
                </div>

                <hr class="section"/>

                <!-- Specifications Table -->
                <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>

                <!-- Considerations -->
                <ng-container *ngTemplateOutlet="considerations"></ng-container>

                <!-- Keywords -->
                <ng-container *ngTemplateOutlet="keywords"></ng-container>
    
                <!-- Related Items -->
                <ng-container *ngTemplateOutlet="relatedItems"></ng-container>

            </div>

            <!-- View 2 -->
            <div *ngSwitchCase="'View 2'">

                <!-- Equipment Image -->
                <div class="equipment-image section">
                    <ng-container *ngTemplateOutlet="equipmentImage"></ng-container>
                </div>

                <!-- Title and Summary -->
                <div
                    fxLayout="row wrap"
                    fxLayout.md="column wrap"
                    fxLayout.sm="column wrap"
                    fxLayout.xs="column wrap"
                    fxLayoutGap="5%">
                    <div
                        fxFlex="75%">
                        <div class="header section" 
                            fxLayout="row wrap" 
                            fxLayout.sm="column wrap"
                            fxLayout.xs="column wrap"
                            fxLayoutGap="5%">
                            <div 
                                fxFlex="47.5%" 
                                class="equipment-info">
                                <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                            </div>

                            <!-- Owners and user Facing Support -->
                            <div 
                                class="equipment-owners"
                                fxLayout="row wrap"
                                fxLayout.xs="column wrap"
                                fxLayoutGap="5% grid"
                                fxFlex="47.5%">
                                <div fxFlex="47.5%">
                                    <ng-container *ngTemplateOutlet="ownerCard"></ng-container>
                                </div>
                                <div fxFlex="47.5%">
                                    <ng-container *ngTemplateOutlet="supportCard"></ng-container>
                                </div>
                            </div>
                        </div>

                        <hr class="section"/>

                        <!-- Overview -->
                        <div>
                            <h4>Overview</h4>
                            <div [innerHTML]="equipment.overview.json | richTextToHTML"></div>
                        </div>

                        <hr class="section"/>
                        
                        <!-- Features and Limitations -->
                        <div >
                            <div 
                                fxLayout="row wrap"
                                fxLayout.sm="column wrap"
                                fxLayoutGap="5%">
                                <ng-container *ngTemplateOutlet="featuresLimitations"></ng-container>
                            </div>
                        </div>
                        
                        <!-- Considerations -->
                        <ng-container *ngTemplateOutlet="considerations"></ng-container>
                        
                    </div>
                    <div fxFlex="20%">
                        <!-- Specifications Table -->
                        <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>
                    </div>
                </div>
                <!-- Keywords -->
                <ng-container *ngTemplateOutlet="keywords"></ng-container>

                <!-- Related Items -->
                <ng-container *ngTemplateOutlet="relatedItems"></ng-container>
            </div>   
        </div>
    </div>
</div>