<div *ngIf="contentItem.items.length > 0">

    <h4>{{ title }}<hr/></h4>

    <!-- Related Items List -->
    <div
        fxLayout="{{ flex }}"
        fxLayout.lt-md="column wrap"
        fxLayoutGap="1%">
        <mat-nav-list
            fxFlex="19%"
            *ngFor="let content of contentItem.items" 
            class="collection">

            <!-- Templates -->
            <ng-template #image>
                <img mat-card-image src="{{ content.banner?.url }}">
            </ng-template>

            <ng-template #noImage>
                <div style="margin-top: 1.25vh;"></div>
            </ng-template>

            <mat-card>
                <ng-container *ngIf="content.banner; then image; else noImage">
                </ng-container>
                <span *ngIf="content.__typename != 'Person'" class="card-label">{{ content.__typename | humanCase }}</span>
                <span *ngIf="content.__typename == 'Person'" class="card-label">Contact</span>

                <mat-card-title>
                    <a class="card-title" *ngIf="content.__typename != 'Person' && content.__typename != 'OrgUnit'" [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                        {{ content['title'] }}
                    </a>
                    <a  class="card-title" *ngIf="content.__typename == 'Person'">
                        {{ content['title'] }}
                    </a>
                    <a class="card-title" *ngIf="content.__typename == 'OrgUnit'" href="{{ content['link']}}">
                        {{ content['title'] }}
                    </a>
                </mat-card-title>
                <mat-card-content>
                    <span class="card-summary">
                        {{ content['summary'] }}
                    </span>
                </mat-card-content>
                <span
                    *ngIf="content['__typename'] != 'Person' && content['__typename'] != 'OrgUnit'"
                    class="call-to-action" 
                    style="display: flex; align-items: center;max-width: fit-content">
                    <a [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                        Read More&nbsp;&nbsp;
                    </a>
                    <img class="arrow" style="height: 2.5vh; width: auto" src="assets/components/teal-arrow.png">
                </span>
                <span
                    *ngIf="content['__typename'] == 'OrgUnit'"
                    class="call-to-action" 
                    style="display: flex; align-items: center;max-width: fit-content">
                </span>
            </mat-card>
            <br/>
        </mat-nav-list>
    </div>
</div>