<span *ngIf="contentItem">
    <span [ngSwitch]="contentItem.contentType">
    <ng-template #image>
        <div class="embedded-asset-block section-2" ngClass.xs="embedded-asset-block-mobile">
            <a *ngIf="contentItem.url" href="{{ contentItem.url }}">
                <picture>
                    <source srcset="{{ contentItem.url }}?w=1500&fm=webp" type="image/webp">
                    <img src="{{ contentItem.url }}?w=1500" alt="{{ contentItem.title }}" />
                </picture>
            </a><br>{{ contentItem.title }}
            <small class="asset-summary" *ngIf="contentItem.description">&nbsp;—&nbsp;{{ contentItem.description
                }}</small>
        </div>
    </ng-template>

    <ng-template #svg>
        <div class="embedded-asset-block section-2" ngClass.xs="embedded-asset-block-mobile">
            <a *ngIf="contentItem.url" href="{{ contentItem.url }}">
                <img src="{{ contentItem.url }}?w=1500" alt="{{ contentItem.title }}" />
            </a><br>{{ contentItem.title }}
            <small class="asset-summary" *ngIf="contentItem.description">&nbsp;—&nbsp;{{ contentItem.description
                }}</small>
        </div>
    </ng-template>

    <!-- Asset Image -->
    <span *ngSwitchCase="'image/jpeg'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>
    <span *ngSwitchCase="'image/png'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>
    <span *ngSwitchCase="'image/gif'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>
    <span *ngSwitchCase="'image/webp'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>
    <span *ngSwitchCase="'image/svg+xml'">
        <ng-container *ngTemplateOutlet="svg"></ng-container>
    </span>

    <!-- Asset File -->
    <span *ngSwitchDefault>
        <div class="embedded-asset-block file" ngClass.xs="embedded-asset-block-mobile">
            <a *ngIf="contentItem.url" href="{{ contentItem.url }}">
                <mat-card>
                    <mat-card-title class="card-title">
                        <span>{{ contentItem.title }}</span>
                    </mat-card-title>
                    <mat-card-content class="card-summary">
                        <div *ngIf="contentItem.description">{{ contentItem.description }}</div>
                        <div class="download">
                            <span>
                                <img class="download-arrow" style="height: 10px; width: auto"
                                    src="assets/components/navy-download.png" alt="download-arrow">&nbsp;Download
                                File&nbsp;</span>
                            <span *ngIf="contentItem.size * 0.001 < 1" class="file-size">{{ contentItem.size | number: '1.0-0' }}&nbsp;B</span>
                            <span *ngIf="contentItem.size * 0.001 < 1000 && contentItem.size * 0.001 >= 1" class="file-size">{{ contentItem.size * 0.001 | number: '1.0-0' }}&nbsp;kB</span>
                            <span *ngIf="contentItem.size * 0.001 >= 1000" class="file-size">{{ contentItem.size * 0.000001 | number: '1.0-0' }}&nbsp;MB</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </span>
    </span>
</span>