@import '../../../../styles.scss';
@import '../../../../themes.scss';
@import '../../../../typography.scss';

/**
 * Entry Block
 */
 .embedded-entry-block a {
    display: flex;
    align-items: center;
}
.embedded-entry-block .mat-card {
    width: 100%;
    padding-right: 3.75vh;
    background: #fafafa;
}

/**
 * Hover
 */
 .embedded-entry-block .mat-card:hover .mat-card-title span {
    border-bottom: solid 0.25vh map-get($hub-navy, 500);
}


/**
 * Card Title
 */
.embedded-entry-block .mat-card-title span {
    font-size: 2.25vh; 
    color: map-get($hub-navy, 500);
}

.mat-card-content {
    margin: 0px;
}