@import '../../../../styles.scss';
@import '../../../../themes.scss';
@import '../../../../typography.scss';

/**
 * Entry Block
 */
 .embedded-entry-block a {
    display: flex;
    align-items: center;
}
.embedded-entry-block .mat-card {
    width: 100%;
    padding-right: 30px;
    background: #fafafa;
}


/**
 * Card Title
 */
.embedded-entry-block .mat-card-title span {
    font-size: 18px; 
    color: map-get($hub-navy, 500);
}

.mat-card-content {
    margin: 0px;
}


/**
 * If viewed on a mobile device
 */
.embedded-entry-block-mobile {
     width: 100%; 
 }