<div id="research-categories" *ngIf="allCategories$ | async; let allCategories">
  <div>
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <div [ngClass]="'main-underline'"></div>
  </div>

  <!-- Category Cards Container -->
  <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.lt-md="column wrap" ngClass.lt-md="site-padding-mobile">

    <!-- Category Cards Content -->
    <div *ngFor="let item of allCategories.items" fxFlex="24%" fxLayout="column" fxLayoutAlign="center">

      <!-- Individual Category Card -->
      <mat-card fxLayout="column" fxLayoutAlign="space-between" class="tile-content"
        routerLink="/search"
          [queryParams]="
            searchService.generateQueryParams('', {
              category: [item.sys.id],
              stage: [],
              relatedOrgs: []
            })"
      >
        <div>
          <mat-card-title class="card-title title-text">{{ item.name }}</mat-card-title>
          <mat-card-content class="card-summary">{{ item.description }}</mat-card-content>
        </div>
      </mat-card>

    </div>
  </div>
</div>
