@import "variables";
@import "mixins";
@import "styles-common";

/** 
 * Container
 */
#research-categories {
  width: 95vw;
  margin: 60px auto;
  @extend .site-padding;
}

/** 
 * Title
 */
h2 {
  font-size: 36px;
  text-align: center;
  @include size(large) {
    text-align: left;
    font-size: 48px;
  }
}

p {
  font-size: 16px;
  position: relative;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  @include size(large) {
    text-align: left;
    font-size: 20px;
  }
}

div.light-color {
  h2, p {
    color: white;
  }
}


/**
 * Research Category tiles
 */
.tile-content {
  height: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  .title-text {
    font-size: 24px;
    color: $dark-blue;
    word-break: break-word;
  }
  .tile-button {
    color: $dark-blue;
    font-size: 16px !important;
  }
  .standard-button {
    @extend .standard-button;
    margin-bottom: 16px;
    border: 3px solid $dark-blue !important;
    background-color: $dark-blue !important;
    &:hover {
      @extend .standard-button;
      background-color: white !important;
      color: $light-blue !important;
    }
  }
}

mat-card {
  box-shadow: 0px 0px 10px #cfcfcf !important;
}
