<div id="research-categories" *ngIf="allCategories$ | async; let allCategories">
  <h1>{{ title }}</h1>
  <p *ngIf="description">{{ description }}</p>
  <div [ngClass]="'main-underline'"></div>

  <!-- Category Cards Container -->
  <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.lt-md="column wrap" ngClass.lt-md="site-padding-mobile">

    <!-- Category Cards Content -->
    <mat-nav-list *ngFor="let item of filterOutNulls(allCategories.items)" fxFlex="24%" fxLayout="column" fxLayoutAlign="center">

      <!-- Individual Category Card -->
      <mat-card tabindex="0" fxLayout="column" fxLayoutAlign="space-between" class="tile-content"
        role="link"
        [attr.aria-label]="'Search in ' + item.name"
        (keydown.enter)="search(item.sys.id)"
        (click)="search(item.sys.id)"        
      >
        <div>
          <mat-card-title class="card-title title-text">{{ item.name }}</mat-card-title>
          <mat-card-content class="card-summary">{{ item.description }}</mat-card-content>
        </div>
      </mat-card>

    </mat-nav-list>
  </div>
</div>
