@import "mixins";
@import "variables";

div.min-height-fullscreen {
  min-height: 100vh;
}

.banner-container-home {
  height: 100vh;
  text-align: center;
  max-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .banner-content-home {
    margin: 20vh 2.5vh;
    display: inline-block;
    @include size(medium) {
      margin: 25vh 10vh;
      display: inline-block;
    }
    .banner-text {
      width: auto !important;
      .page-summary,
      .page-title {
        text-shadow: 0px 0px 8px $dark-grey;
        margin: 0 auto;
        font-weight: lighter;
        color: white !important;
        @include size(medium) {
          width: 45vw !important;
        }
      }
      .page-title {
        color: #ffffff;
        margin-bottom: 32px;
        font-size: 48px;
        @include size(medium) {
          font-size: 92px;
        }
      }
      .page-summary {
        font-size: 20px;
        word-wrap: break-word;
        color: $light-grey;
        line-height: 100%;
      }
    }
  }
}

/**
 * Explore arrow animation
 */
@keyframes explore {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 16px;
  }
  100% {
    margin-top: 5px;
  }
}
@keyframes explore2 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 3px;
  }
  100% {
    margin-top: 0px;
  }
}
/*
 * Explore Arrow
 */
.explore {
  cursor: pointer;
  p {
    animation: explore2 1.5s infinite;
  }
  .explore-arrow {
    animation: explore 1.5s infinite;
  }
}

// Set background
.background {
  height: 100vh;
}

/*
 * Initial Search
 */
.initial-search {
  padding: 0px 1em;
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
  color: #fafafa;
  border: 1px solid rgba(78, 78, 78, 0.6);
  @include size(medium) {
    width: 30vw;
  }
  background-color: rgba(202, 202, 202, 0.4);
}
