<div>
  <div
    class="banner-container-home"
    [ngClass]="isMobile ? 'mobile-banner' : 'standard-banner'"
    style.background-image="linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) ), url( {{ bannerImageUrl }}  )"
  >
    <!-- Homepage Banner -->
    <div 
      class="banner-content-home site-padding"
      ngClass.lt-md="site-padding-mobile"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="center space-around"
      fxLayoutGap="2vw"
    >
      <div class="banner-text" fxFlex="5 0 70%" fxFlex.lt-md="1 1 auto">
        <!-- Title -->
        <h1 class="page-title" role="heading" aria-level="1">{{ title }}</h1>
      </div>
      <div class="logo-img-container" fxFlex="1 0 auto">
        <!-- UoA Logo -->
        <a tabindex="-1" [href]="aucklandUniUrl" target="_blank" >
          <img class="logo-img" src="{{logoImageUrl}}" alt="uoa-logo">
        </a>
      </div>
    </div>
  </div>
</div>
