@import '../../../styles.scss';
@import '../../../themes.scss';

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-style: italic;
}
.list-item {
  height: fit-content!important;
  padding-top: 0.375vh;
  padding-bottom: 0.375vh;
}
.item-title {
  color: map-get($hub-pink, 500);
  font-size: 2.25vh !important;
  font-weight: 500 !important;
  padding-bottom: 0.625vh !important;
}
.item-subtitle {
  color: map-get($hub-navy, 500);
  font-size: 1.75vh!important;
  padding-bottom: 0.875vh !important;
}
.list-item img {
  width: 8vh;
  height: 8vh;
  margin-right: 1vh;
}


/**
 * The mat-chips in the search result lists (both card and list view)
 */
mat-chip-list {
  overflow: hidden;
  height: fit-content;
  font-size: 1.5vh!important;
  mat-chip {
    border-radius: 10vh;
    line-height: 3.25vh;
    height: 2.25vh;
    margin-right: 0.5vh;
    padding: 1vh 1.5vh;
    span {
      color: map-get($hub-navy, 500);
      font-size: 1.5vh!important;
    }

    &.mat-standard-chip { // Fixes predefined material CSS causing oversized chips
      min-height: 100%;
    }
  }
}
.search-paginator {
  background-color: $color-background;
  color: rgba(0, 0, 0, 0.87);
  font-size: 2vh;
}


/**
 * Paginator items per page selector/popup font size
 */
::ng-deep .search-paginator .mat-select,
::ng-deep .search-paginator .mat-select-value,
::ng-deep .mat-option-text {
  font-size: 2vh;
}


/**
 * Card Result Styles
 */
.card-result-image {
  height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.card-result-content {
  background-color: $color-browse-tile-bg;
  height: 50%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  color: $light-primary-text;
}
.card-result-title {
  width: 90%;
  height: 25%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 2.25vh !important;
  font-weight: 500 !important;
  overflow: hidden;
}
.card-result-subtitle {
  width: 90%;
  height: 55%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-size: 1.75vh;
  overflow: hidden;
}


/**
 * This is just the bottom section of the card view cards, not to be confused with mat-chip-list
 */
.card-result-chip-list {
  width: 90%;
  height: 20%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}


/**
 * Used in a div surrounding the category list that is displayed when the filter-panel is hidden
 */
.inline-category-list {
  margin-top:1.25em;
  margin-bottom: 0.25em;
}
.search-results-title {
  margin-top:2.5em;
}
.refine-search {
  margin-top:0em;

  &.small {
    margin-top:1em;
  }
}
.refine-search-text {
  margin-bottom: 0vh;
}
.results-list,.resultsCards {
  transition: opacity 200ms ease-in-out;

  .loading {
    pointer-events: none;
    cursor: default;
  }
}
.results-list.loading {
  opacity: 0.1;
}
.resultsCards.loading {
  opacity: 0.5;
}
