@import '../../../styles';

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-style: italic;
}

.list-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.item-title {
  color: #b13462;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding-bottom: 5px !important;
}

.item-subtitle {
  color: #004059;
  font-size: 14px;
  padding-bottom: 7px !important;
}

.list-item img {
  width: 64px;
  height: 64px;
}

// The mat-chips in the search result lists (both card and list view)
mat-chip-list {
  mat-chip {
    font-size: 12px;
    line-height: 26px;
    height: 18px;

    &.mat-standard-chip { // Fixes predefined material CSS causing oversized chips
      min-height: 100%;
    }
  }
}

.search-paginator {
  background-color: $color-background;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

//Paginator items per page selector/popup font size
/deep/ .search-paginator .mat-select, /deep/ .mat-option-text, /deep/ .search-paginator .mat-select-value {
  font-size: 16px;
}

//Card Result Styles
.card-result-image {
  height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.card-result-content {
  background-color: $color-browse-tile-bg;
  height: 50%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  color: $light-primary-text;
}

.card-result-title {
  width: 90%;
  height: 25%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 18px !important;
  font-weight: 500 !important;
  overflow: hidden;
}

.card-result-subtitle {
  width: 90%;
  height: 55%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  overflow: hidden;
}

// This is just the bottom section of the card view cards, not to be confused with mat-chip-list
.card-result-chip-list {
  width: 90%;
  height: 20%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

// Used in a div surrounding the category list that is displayed when the filter-panel is hidden
.inline-category-list {
  margin-top:1.25em;
  margin-bottom: 0.25em;
}

.search-results-title {
  margin-top:2.5em;
}

.refine-search {
  margin-top:0em;

  &.small {
    margin-top:1em;
  }
}

.refine-search-text {
  margin-bottom:0px;
}

.results-list,.resultsCards {
  transition: opacity 200ms ease-in-out;

  .loading {
    pointer-events: none;
    cursor: default;
  }
}

.results-list.loading {
  opacity: 0.1;
}

.resultsCards.loading {
  opacity: 0.5;
}
