@import '../../../../themes.scss';
@import '../../../../styles.scss';

/**
 * Entry Block
 */
.embedded-entry-block .mat-card-img {
    object-fit: cover;
    min-width: 100%;
    height: auto;
}
.embedded-entry-block .mat-card-title a {
    font-size: 18px; 
    color: map-get($hub-navy, 500);
}
.embedded-entry-block .mat-card-title a:hover {
    border-bottom: solid 2px map-get($hub-navy, 500);
}


/**
 * HTML Elements
 */
 small {
    color: #757575;
}


/**
 * If viewed on a mobile device
 */
.embedded-entry-block-mobile {
     width: 100%; 
 }