@import '../../../../themes.scss';
@import '../../../../styles.scss';

/**
 * Entry Block
 */
// .embedded-entry-block .mat-card {
//     padding: 20px; 
//     border: 1px solid #e0e0e0; 
//     border-radius: 5px; 
//     background: #f8f8f8
// }
.embedded-entry-block .mat-card-img {
    object-fit: cover;
    min-width: 100%;
    height: auto;
}
.embedded-entry-block .mat-card-title a {
    font-size: 18px; 
    color: map-get($hub-navy, 500);
}


/**
 * HTML Elements
 */
 small {
    color: #757575;
}


/**
 * If viewed on a mobile device
 */
.embedded-entry-block-mobile {
     width: 100%; 
 }