<div *ngIf="person" fxLayout="column" fxLayoutGap="1em">
  <mat-card>
    <mat-card-header>
      <img fxHide.xs style="width: 64px; height: 64px; margin-right: 1em;" mat-card-avatar
           [src]="apiService.getAssetUrl(person.image)">
      <mat-card-title><h2 style="font-size: 24px;">{{person.firstName + ' ' + person.lastName}}</h2></mat-card-title>
      <mat-card-subtitle>
        <a style="display: inline;" [routerLink]="['/search']"
           [queryParams]="{categoryId: categoryIdPerson}">People</a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="margin-top: 1em;">
      <div fxLayout="row" fxLayoutGap="2em">
        <div fxFlex="100" fxFlex.lt-sm="100" fxLayout="column" fxLayoutGap="1em">
          <div>
            <mat-list class="person-list">
              <mat-list-item>
                <mat-icon mat-list-icon>work</mat-icon>
                <p mat-line>{{person.jobTitle}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>email</mat-icon>
                <p mat-line>{{person.email}}</p>
              </mat-list-item>
            </mat-list>
          </div>

          <div fxFlex="36px" fxFlexAlign="end">
            <a mat-raised-button color="accent" [href]="person.directoryUrl" (click)="trackAction()" target="_blank">
              Details on Staff Intranet
            </a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="person.orgUnits.length">
    <h3>Organisation units</h3>
    <mat-nav-list>
      <mat-list-item *ngFor="let orgUnit of person.orgUnits" [routerLink]="['/orgUnit', orgUnit.id]">
        <img mat-list-avatar [src]="apiService.getAssetUrl(orgUnit.image)">
        <h4 mat-line style="font-size: 16px;"> {{orgUnit.name}} </h4>
        <p mat-line style="font-size: 14px;"> {{orgUnit.summary}} </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>

  <mat-card *ngIf="supportedContent && supportedContent.length">
    <h3>Supported resources</h3>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of supportedContent" [routerLink]="item | listItemToRouterLink">
        <img mat-list-avatar [src]="apiService.getAssetUrl(item.image)">
        <h4 mat-line style="font-size: 16px;"> {{item.title}} </h4>
        <p mat-line style="font-size: 14px;">{{item.subtitle}}</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
