@import "variables";

/**
 * banner Image
 */
 .mobile-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
}

.standard-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 72px 0px;
}

div.mat-card-avatar mat-icon {
  color: $dark-blue;
}

.related-item-summary {
  color: gray;
}

.mat-card-actions {
  padding: 12px 6px 0px 6px;
}

// SubHub Children
.subhub-children {
  background: $light-grey;
}
