<div role="article" id="subhub-children" class="site-padding top-padding-2" ngClass.lt-md="site-padding-mobile top-padding">
    <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.lt-md="column wrap">
        <mat-nav-list role="list" class="margin-bottom-2" ngClass.lt-md="margin-bottom" fxFlex="24%"
        *ngFor="let subHub of contentItem.items">

            <!-- Templates -->
            <ng-template #image><img mat-card-image src="{{ subHub.banner?.url }}" alt="{{ subHub.title }}-banner"></ng-template>
            <ng-template #noImage><div style="margin-top: 15px;"></div></ng-template>

            <mat-card class="subhub-card" role="listitem">
                <ng-container *ngIf="subHub.banner; then image; else noImage"></ng-container>
                <span *ngIf="subHub.__typename == 'SubHub'" class="card-label">Topic</span>
                <span *ngIf="subHub.__typename != 'SubHub'" class="card-label">{{ subHub.__typename | humanCase }}</span>
                <mat-card-title class="card-title">
                    <h4><a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">{{ subHub.title }}</a></h4>
                </mat-card-title>
                <mat-icon *ngIf="subHub.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
                <mat-card-content class="content-item-summary"><p>{{ subHub.summary }}</p></mat-card-content>
                <br>
                <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                    <button role="button" mat-flat-button aria-label="view-page" class="alternate-button">View Page</button>
                </a>
            </mat-card>
        </mat-nav-list>
    </div>
</div>
