@import '../../../../themes.scss';
@import '../../../../styles.scss';
@import '../../../../typography.scss';


mat-card[_ngcontent-vta-c287] {
    padding: 0vh!important;
    margin: 1vh 0;
}

/**
 * SubHub Card
 */
.subhub-card {
    background: map-get($hub-teal, 500);
}
.subhub-card .card-title a {
    display: inline;
    font-size: 2.5vh;
    color: white;
    border-bottom: solid 0.25vh transparent;
}
.subhub-card .card-title a:hover {
    border-bottom: solid 0.25vh white;
    cursor: pointer;
}
.subhub-card .content-item-summary {
    font-size: 1.75vh;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subhub-card img {
    object-fit: cover;
    max-height: 25vh;
}
.card-label {
    color: map-get($hub-teal, 500);
    background: rgb(255, 255, 255);
    position:absolute;
    left:0;
    top:0;
    padding: 0px 1.5vh;
}
 