@import '../../../../themes.scss';
@import '../../../../styles.scss';
@import '../../../../typography.scss';


/**
 * Mat Card
 */
 mat-card {
    box-shadow: 0px 0px 15px #a5a5a5!important;
 }

/**
 * SubHub Card
 */
.subhub-card {
    background: map-get($hub-teal, 500);
}
.subhub-card .card-title a {
    display: inline;
    font-size: 20px;
    color: white;
    border-bottom: solid 2px transparent;
}
.subhub-card .card-title a:hover {
    border-bottom: solid 2px white;
    cursor: pointer;
}
.subhub-card 
.content-item-summary * {
    font-size: 16px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subhub-card img {
    object-fit: cover;
    max-height: 200px;
}
.card-label {
    color: map-get($hub-teal, 500);
    background: rgb(255, 255, 255);
    position:absolute;
    left:0;
    top:0;
    padding: 0px 12px;
}
 