<!-- Banner -->
<div 
  class="banner-container-home"
  [ngStyle]="{ 'background-image': coverImageUrl }">
  <div class="banner-content-home">
    <h1>{{ title }}</h1>
    <h4>{{ summary }}</h4>
  </div>
</div> 

<div 
  class="site-padding margin-bottom top-padding"
  ngClass.sm="site-padding-sm margin-bottom top-padding"
  ngClass.xs="site-padding-xs margin-bottom top-padding">
  <h2>Thank you!</h2>
  <p>
    You can register your interest in helping our User Experience Specialist running through a usability study.
  </p>
  <p>
    Thank you,<br/>
    The Development Team
  </p>

  <div fxLayout="row" fxLayoutGap="1em">
    <a mat-raised-button color="accent" href="https://docs.google.com/forms/d/e/1FAIpQLSeXhrPKLqmdAr_r3aUwY9zyPa5REWJs63FQdmNwRbXKBUS8WQ/viewform" target="_blank" (click)="analyticsService.trackJoinUserStudy(location.path())">Join User Study</a>
  </div>
</div>
