@import "variables";

.contact-card-summary {
  font-size: 14px;
  line-height: 1.5;
  a {
    color: $light-blue;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  mat-icon {
    color: $body-grey !important;
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
  }
}
