<mat-card (click)="person.link ? navigateTo(person.link) : null">

  <div class="card-label-rounded-corners">
    <span class="card-label">Contact</span>
  </div>

  <div style="margin-top: 12px"></div>

  <mat-card-title>
    <a *ngIf="person.link" class="card-title" tabindex="0" (keydown.enter)="navigateTo(person.link)">
      <span *ngIf="person.name">{{ person.name }}</span>
    </a>
    <span *ngIf="!person.link && person.name" class="card-title" tabindex="0">{{ person.name }}</span>
  </mat-card-title>

  <mat-card-content>
    <span class="contact-card-summary">
      <p style="word-wrap: break-word">{{ person.role }}</p>
      <a *ngIf="person.email" href="mailto:{{ person.email }}">
        <mat-icon>email</mat-icon>{{ person.email }}
      </a>
      <a *ngIf="person.phone" href="tel:{{ person.phone }}">
        <mat-icon>phone</mat-icon>{{ person.phone }}
      </a>
    </span>
  </mat-card-content>
</mat-card>
