<div>
  <!-- Featured Component -->
  <div class="featured teal-background shadow">
    <div #featured>
      <app-featured></app-featured>
    </div>
  </div>
  <!-- Browse Categories Component -->
  <div class="grey-background">
    <div #categories>
      <app-browse></app-browse>
    </div>
  </div>
  <!-- Research Activity Component -->
  <div #activities>
    <app-research-activity></app-research-activity>
  </div>
  <!-- Contact -->
  <div id="contacts" class="grey-background contact-container">
    <app-content-container>
      <app-content-title [title]="title">
        We'd love to hear from you. Get in contact via email <a
          href="mailto: reshubproject@auckland.ac.nz">reshubproject@auckland.ac.nz</a>.
      </app-content-title>
      <!-- Feedback -->
      <div class="feedback-container">
        <p>We are developing the ResearchHub further and would be grateful for your feedback.</p>
        <br>
        <a href="{{ feedbackLink }}">
          <button role="button" mat-flat-button aria-label="provide-feedback" class="standard-button">
            <span>Provide Feedback</span>
          </button>
        </a>

      </div>
    </app-content-container>
  </div>
</div>
