@import "../../../typography.scss";
@import "../../../themes.scss";
@import "../../../styles.scss";


/**
 * Section Header Text
 */
 .text {
    width: 100%;
    margin: 40px auto;
    @include size(medium) { 
        width: 60%;
        margin: 40px auto;
        }
    > h2 {
      color: #333333;
      font-size: 36px;
      @include size(medium) { 
        font-size: 48px;
        }
    }
    > p {
      font-size: 16px;
      @include size(medium) { 
        font-size: 20px;
        }
    }
}


/**
 * Content Container
 */
 .content-container {
    @extend .margin-bottom;
    padding: 16px 0;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
}


.grey-background {
    padding-bottom: 40px;
    background-color: #eeeeee;
}

.teal-background {
    padding-bottom: 40px;
    background-color: map-get($hub-teal, 500);
}


/**
 * Contact Section
 */
.contact {
    margin: 0 auto;
    text-align: center;
    @include size(large) { text-align: left; }
    .text {
        width: 100%;
        @extend .text;
        @include size(large) { 
        text-align: left;
        }
    }
    & .standard-button {
        @extend .standard-button;
        border: 3px solid map-get($hub-navy, 500)!important;
        background-color: map-get($hub-navy, 500)!important;
        &:hover {
          @extend .standard-button;
          background-color: white!important;
          color: map-get($hub-navy, 500)!important;
        }
    }
}