@import "variables";
@import "mixins";
@import "styles-common";

/**
* Make first div flex container
*/
:host > div:first-child {
  display: flex;
  flex-direction: column;
}

/**
 * Colored backgrounds
 */
.grey-background {
  background-color: #eeeeee;
}
.teal-background {
  background: map-get($hub-teal, 700);
}

/**
 * Section shadows
 */
.shadow {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4) !important;
}

/**
 * Featured Section
 */
.featured {
  z-index: 1;
}

div.feedback-container {
  text-align: center;
  @include size(large) {
    text-align: left;
  }
  p {
    font-size: 16px;
    text-align: center;
    @include size(large) {
      text-align: left;
    }
  }
}
