<div>
  <!-- Featured Component -->
  <div class="featured teal-background shadow">
    <div #featured class="content-container">
      <app-featured></app-featured>
    </div>
  </div>
  <!-- Browse Categories Component -->
  <div class="grey-background">
    <div #categories class="content-container">
      <app-browse></app-browse>
    </div>
  </div>
  <!-- Research Activity Component -->
  <div #activities>
    <app-research-activity></app-research-activity>
  </div>
  <!-- Contact -->
  <div class="grey-background">
    <div class="content-container text" ngClass.lt-md="site-padding-mobile">
      <!-- Title -->
      <h2>{{ title }}</h2>
      <p>We'd love to hear from you. Get in contact via email <a
          href='mailto: reshubproject@auckland.ac.nz'>reshubproject@auckland.ac.nz</a>.</p>
      <div class="main-underline"></div>
      <!-- Contact Content -->
      <!-- Feedback -->
      <div class="feedback-container">
        <p>We are developing the ResearchHub further and would be grateful for your feedback.</p>
        <br>
        <a href="{{ feedbackLink }}">
          <button role="button" mat-flat-button aria-label="provide-feedback" class="standard-button">
            <span>Provide Feedback</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
