<div>
  <div 
    fxFlex="noshrink" 
    fxLayout="column">

    <!-- Featured Component -->
    <div
      fxFlex
      class="teal-background"
      fxFlex.xs="noshrink">
      <app-featured></app-featured>
    </div>

    <!-- Browse Categories Component -->
    <div
      fxFlex
      class="grey-background"
      fxFlex.xs="noshrink">
      <app-browse></app-browse>
    </div>

    <!-- Research Activity Component -->
    <div>
      <app-research-activity></app-research-activity>
    </div>
  </div>
</div>
