@import "../../../typography.scss";
@import "../../../themes.scss";
@import "../../../styles.scss";


/**
 * Section Header Text
 */
 .text {
    width: 95vw;
    margin: 5vh auto;
    text-align: center;
    @include size(medium) { 
        width: 50vw;
        margin: 1vh auto;
        }
    > h3 {
      color: #333333;
      font-size: 4vh;
      @include size(medium) { 
        font-size: 5.5vh;
        }
    }
    > p {
      font-size: 2vh;
      @include size(medium) { 
        font-size: 2.5vh;
        }
    }
}


/**
 * Content Container
 */
 .content-container {
    @extend .margin-bottom;
    padding: 2vh 0;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
}


.grey-background {
    padding-bottom: 5vh;
    background-color: #eeeeee;
}

.teal-background {
    padding-bottom: 5vh;
    background-color: map-get($hub-teal, 500);
}

.about {
    max-width: 90vw;
    position: relative; 
    margin: 0 auto;
    > div.text {
        >.border {
            width: 100%;
            margin: 10vh auto;
            border-left: 4px solid map-get($hub-navy, 500);
            @include size(medium) { width: 70%; }
            > p {
                font-family: "National Book";
                padding-left: 25px;
                color: #6f6f72;
                &.quote {
                    font-size: 3.5vh;
                    font-style: italic;
                    line-height: 1.1;
                }
                &.director {
                    color: map-get($hub-navy, 500);
                    font-size: 3vh;
                    font-weight: bold;
                }
            }
        }
    }
}

.divider {
    border-top: 2px solid;
    @include size(small) { border-left: 2px solid; }
    color: $input-grey;
}

.contact {
    text-align: center;
    margin: 0 auto;
    @include size(medium) { text-align: left; }
    > div {
        margin: 5vh auto;
    }
    p > b {
       color: map-get($hub-navy, 500); 
    }
    /**
    * Custom Button Styles
    */
    .standard-button {
        color: #eeeeee!important;
        padding-bottom: 0.3vh!important;
        border: 0.25vh solid map-get($hub-navy, 500)!important;
        border-radius: 6.25vh!important;
        background-color: map-get($hub-navy, 500)!important;
        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }
    .standard-button:hover {
        color: map-get($hub-navy, 500)!important;
        border-radius: 6.25vh!important;
        background-color: #eeeeee!important;
        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }
    @extend .section;
    max-width: 95vw;
    > .text {
            > * {
                text-align: center;
                color: #333333;
            }
            > h3 {
                font-size: 5.5vh;
            }
            > p {
                font-size: 2.5vh;
            }
        }
    > div > .address-container {
        > .address-content {
            text-align: left;
            width: fit-content;
            margin: 0 auto;
        }
    }
}