<div *ngIf="orgUnit" fxLayout="column" fxLayoutGap="1em">
  <mat-card>
    <mat-card-header>
      <img fxHide.xs style="width: 64px; height: 64px; margin-right: 1em;" mat-card-avatar
           [src]="apiService.getAssetUrl(orgUnit.image)">
      <mat-card-title><h2 style="font-size: 24px;">{{orgUnit.name}}</h2></mat-card-title>
      <mat-card-subtitle>
        <a style="display: inline;" [routerLink]="['/search']" [queryParams]="{categoryId: 1}">Organisation Unit</a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="1em">
        <div fxFlex="36px" fxFlexAlign="end">
          <a mat-raised-button color="accent" [href]="orgUnit.url" (click)="trackAction()" target="_blank">
            Explore
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="userSupport && userSupport.length">
    <h3>People</h3>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of userSupport" [routerLink]="item | listItemToRouterLink">
        <img mat-list-avatar [src]="apiService.getAssetUrl(item.image)">
        <h4 mat-line style="font-size: 16px;"> {{item.title}} </h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>

  <mat-card *ngIf="orgUnit.contentItems.length">
    <h3>Resources</h3>
    <mat-nav-list>
      <mat-list-item *ngFor="let content of orgUnit.contentItems" [routerLink]="['/content', content.id]">
        <img mat-list-avatar [src]="apiService.getAssetUrl(content.image)">
        <h4 mat-line style="font-size: 16px;"> {{content.name}} </h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
