<!-- If we're displaying a collection of caseStudys-->
<div
    *ngIf="allCaseStudies$ | async as allCaseStudies" 
    class="site-padding-2 margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allCaseStudies"></app-collection-list>
</div>


<!-- If we're displaying an individual caseStudy -->
<div 
    id="caseStudy-container" 
    *ngIf="caseStudy | async as caseStudy">
    
    <!-- Templates -->
    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="caseStudy.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="content-title" 
            ngClass.lt-md="content-title-mobile"
            [style.color]="caseStudy.banner ? caseStudy.viewType == 'View 1' ? 'white' : '' : ''">
            {{ caseStudy.title }}
        </h1>

        <h3 
            class="content-summary" 
            ngClass.lt-sm="content-summary-sm"
            [style.color]="caseStudy.banner ? caseStudy.viewType == 'View 1' ? 'white' : '' : ''">
            {{ caseStudy.summary }}
        </h3>
    </ng-template>

    <ng-template #caseStudyBody>
        <ngx-contentful-rich-text
            class="section-2 body-text"
            style="word-break:break-word;" 
            [document]="caseStudy.bodyText.json"
            [nodeRenderers]="nodeRenderers">
        </ngx-contentful-rich-text>
    </ng-template>

    <ng-template #relatedItems let-hide="hideImage" let-flex="flex">
        <app-cards 
            [flex]="flex"
            id="you-might-be-interested-in"
            [hideImage]="hide"
            [title]="'Explore Related'" 
            [contentItem]="caseStudy.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations let-hide="hideImage" let-flex="flex">
        <app-cards 
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Organisations'" 
            [contentItem]="caseStudy.relatedOrgsCollection">
        </app-cards>
    </ng-template>
    
    <ng-template #relatedContacts let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Contacts'" 
            [contentItem]="caseStudy.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <ng-template #officialDocuments let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Documents'" 
            [contentItem]="caseStudy.relatedDocsCollection">
        </app-cards>
    </ng-template>

        <div>

            <!-- Dynamic Banner -->
            <div
            class="banner-container"
            [style]="caseStudy.banner ? 'background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + caseStudy.banner.url + ') no-repeat fixed center; padding: 72px 0px' : ''">
                <div class="banner-content">

                    <!-- Title -->
                    <h1 
                        class="content-title" 
                        ngClass.lt-md="content-title-mobile"
                        [style.color]="caseStudy.banner ? 'white' : ''">
                            {{ caseStudy.title }}
                    </h1>

                    <!-- Summary -->
                    <p
                        class="content-summary" 
                        ngClass.sm="content-summary-sm" 
                        ngClass.xs="content-summary-xs"
                        [style.color]="caseStudy.banner ? 'white' : ''">
                            <small>{{ caseStudy.summary }}</small>
                    </p>
                </div>
            </div>

            <div 
                class="site-padding top-padding" 
                ngClass.lt-md="site-padding-mobile top-padding">

                <!-- Breadcrumbs -->
                <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                <div 
                    fxLayout="row wrap" 
                    fxLayout.lt-md="column wrap"
                    fxLayoutGap="5%">

                    <!-- caseStudy Body -->
                    <div 
                        fxFlex
                        fxFlexOrder="2"
                        fxFlexOrder.xs="1">
                        <ng-container *ngTemplateOutlet="caseStudyBody"></ng-container>
                    </div>

                    <!-- Extra Links -->
                    <div 
                        *ngIf="
                            caseStudy.relatedDocsCollection.items.length > 0 ||
                            caseStudy.relatedContactsCollection.items.length > 0 ||
                            caseStudy.relatedOrgsCollection.items.length > 0"
                        fxLayout="column" 
                        fxFlex="20%"
                        fxFlexOrder="1"
                        fxFlexOrder.lt-md="2">

                        <!-- Contacts -->
                        <ng-container *ngTemplateOutlet="relatedContacts; context: { hideImage: 'true', flex: 'column wrap'}"></ng-container>

                        <!-- Official Documents -->
                        <ng-container *ngTemplateOutlet="officialDocuments; context: { hideImage: 'true', flex: 'column wrap'}"></ng-container>

                        <!-- Organizations -->
                        <ng-container *ngTemplateOutlet="relatedOrganisations; context: { hideImage: 'true', flex: 'column wrap'}"></ng-container>

                    </div>

                    <!-- Related items -->
                    <div 
                        id="you-might-be-interested-in"
                        *ngIf="caseStudy.relatedItemsCollection.items.length > 0"
                        fxLayout="column" 
                        fxFlex="20%"
                        fxFlexOrder="3">
                        <ng-container *ngTemplateOutlet="relatedItems; context: { hideImage: 'true', flex: 'column wrap'}"></ng-container>
                    </div>
                </div>
            </div>
        </div>            
    <div class="section"></div>
</div>
