<!-- If we're displaying a collection of caseStudys-->
<div
  *ngIf="allCaseStudies$ | async as allCaseStudies"
  class="site-padding margin-bottom top-padding"
  ngClass.lt-md="site-padding-mobile margin-bottom top-padding"
>
  <app-collection-list [collection]="allCaseStudies"></app-collection-list>
</div>

<div id="case-study-container" *ngIf="caseStudy | async as caseStudy">
  <div
    class="banner-container"
    [ngClass]="
      bannerImageUrl === undefined
        ? ''
        : isMobile
        ? 'mobile-banner'
        : 'standard-banner'
    "
    [ngStyle]="
      bannerImageUrl && { 'background-image': 'url(' + bannerImageUrl + ')' }
    "
  >
    <div class="banner-content">
      <!-- Title -->
      <h1
        role="heading"
        aria-level="1"
        class="content-title"
        ngClass.lt-md="content-title-mobile"
        [style]="caseStudy.banner ? bannerTextStyling : ''"
      >
        {{ caseStudy.title }}
      </h1>

      <!-- Maori Proverb -->
      <h2
        aria-level="2"
        *ngIf="caseStudy.maoriProverb"
        class="maori-proverb"
        [style]="caseStudy.banner ? bannerTextStyling : ''"
      >
        <hr />
        {{ caseStudy.maoriProverb }}
        <hr />
      </h2>

      <!-- Summary -->
      <p
        class="content-summary"
        ngClass.sm="content-summary-sm"
        ngClass.xs="content-summary-xs"
        [style]="caseStudy.banner ? bannerTextStyling : ''"
      >
        <small>{{ caseStudy.summary }}</small>
      </p>
    </div>
  </div>

  <div class="site-padding margin-bottom" ngClass.lt-md="site-padding-mobile">
    <app-breadcrumbs
      [contentItem]="parentSubHubs"
      [title]="caseStudy.title"
    ></app-breadcrumbs>

    <div fxLayout="row" fxLayoutAlign="space-around" fxLayout.lt-lg="column">
      <!-- caseStudy Body and References -->
      <div
        fxLayout="column"
        fxFlexOrder="2"
        fxFlexOrder.lt-lg="1"
        fxFlex="1 1 35%"
        fxFlexOrder.xs="1"
      >
        <ngx-contentful-rich-text
          id="bodyMediaList"
          class="section-2"
          style="word-break: break-word"
          [document]="caseStudy.bodyText?.json"
          [nodeRenderers]="nodeRenderers"
          [markRenderers]="markRenderers"
        ></ngx-contentful-rich-text>

        <h2>References</h2>
        <ngx-contentful-rich-text
          *ngIf="caseStudy.references; else noReferences"
          id="bodyMediaList"
          style="word-break: break-word"
          [document]="caseStudy.references?.json"
          [nodeRenderers]="nodeRenderers"
          [markRenderers]="markRenderers"
        ></ngx-contentful-rich-text>

        <ng-template #noReferences>
          <p>It looks like there aren't any references here.</p>
        </ng-template>
      </div>

      <!-- Extra Links -->
      <div
        *ngIf="
          caseStudy.relatedDocsCollection.items.length > 0 ||
          caseStudy.relatedContactsCollection.items.length > 0 ||
          caseStudy.relatedOrgsCollection.items.length > 0
        "
        fxFlex.gt-lg="0 0 350px"
        fxLayout="column"
        fxFlexOrder="1"
        fxFlexOrder.lt-lg="2"
      >
        <h3 *ngIf="caseStudy?.relatedContactsCollection.items.length > 0">
          Contacts
          <hr />
        </h3>
        <div
          fxLayout.lg="column"
          fxLayoutGap.lg="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-contact-card
            *ngFor="let person of caseStudy.relatedContactsCollection.items"
            [person]="person"
          ></app-contact-card>
        </div>

        <!-- Official Documents -->
        <h3 *ngIf="caseStudy?.relatedDocsCollection.items.length > 0">
          Documents
          <hr />
        </h3>
        <div
          fxLayout.lg="column"
          fxLayoutGap.lg="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-document-card
            *ngFor="let document of caseStudy.relatedDocsCollection.items"
            [document]="document"
          ></app-document-card>
        </div>

        <h3 *ngIf="caseStudy?.relatedOrgsCollection.items.length > 0">
          Organisations
          <hr />
        </h3>
        <div
          fxLayout.lg="column"
          fxLayoutGap.lg="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-org-unit-card
            *ngFor="let orgUnit of caseStudy.relatedOrgsCollection.items"
            [orgUnit]="orgUnit"
          ></app-org-unit-card>
        </div>
      </div>

      <!-- Related items -->
      <div
        *ngIf="caseStudy.relatedItemsCollection.items.length > 0"
        fxFlex.gt-lg="0 0 350px"
        fxLayout="column"
        fxFlexOrder="3"
      >
        <h3>
          Explore Related
          <hr />
        </h3>
        <div
          fxLayout.lg="column"
          fxLayoutGap.lg="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-standard-card
            id="you-might-be-interested-in"
            *ngFor="let content of caseStudy.relatedItemsCollection.items"
            [contentItem]="content"
          ></app-standard-card>
        </div>
      </div>
    </div>
  </div>
</div>
