@import '../../../../themes.scss';
@import '../../../../styles.scss';


div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

div.collection {
    margin: 3vh 0 3vh 0;
}

.result-item {
    cursor: pointer;

    &.ssoProtected {
        
    }

    &:hover {
        border: 0.125vh solid map-get($hub-teal, 50);
    }

    $avatar-size: 8vh;

    #item-avatar {
        width: $avatar-size;
        height: $avatar-size;

        margin-right: $avatar-size * 0.1;

        img {
            object-fit: cover;
            width: $avatar-size;
            height: $avatar-size;
        }
    }
    #item-avatar-icon {
        padding: 2vh 0;
        font-size: $avatar-size!important;
        color: $color-primary;
    }
}


/**
 * Material Overrides
 */
mat-card-title .card-title {
    @extend .card-title;
    font-size: 2.2vh!important;
    border-bottom: 0.25vh solid rgba(0, 0, 0, 0);
    &:hover {
        border-bottom: 0.25vh solid map-get($hub-navy, 500);
    }
}
mat-expansion-panel-header {
    @extend .card-summary;
    height: fit-content!important;
}


/**
 * Lock Icon
 */
 .mat-icon {
    color: $color-icon;
    font-size: 2vh;
}