@import "variables";
@import "mixins";

div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

div.collection {
    margin: 24px 0 24px 0;
}

.result-item {
    cursor: pointer;

    &.ssoProtected {
    }
    $avatar-size: 64px;

    .item-avatar {
        width: $avatar-size;
        height: $avatar-size;
        margin-right: $avatar-size * 0.15;
        img {
            object-fit: cover;
            width: $avatar-size;
            height: $avatar-size;
        }
    }
    .item-avatar-icon {
        padding: 16px 0;
        font-size: $avatar-size !important;
        color: map-get($hub-navy, 500) !important;
    }
}

/**
 * Mat Card
 */
mat-card {
    box-shadow: 0px 0px 15px #cfcfcf !important;
}

/**
 * Material Overrides
 */
.card-content {
    width: 90%;
    p {
        @include size(medium) {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .card-title {
        @extend .card-title;
        width: fit-content;
        display: inline-block;
        margin-bottom: 0 !important;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        &:hover {
            border-bottom: 2px solid $body-grey;
        }
    }
    /**
    * Lock Icon
    */
    mat-icon {
        color: $dark-grey !important;
        font-size: 14px !important;
        vertical-align: middle;
    }
}

/**
 * Card Result Icon
 */
.item-avatar-icon {
    color: map-get($hub-navy, 500) !important;
}

/**
 * Pagination Controls
 */
::ng-deep.ngx-pagination {
    .current {
        background: map-get($hub-teal, 500) !important;
    }
    text-align: center;
    padding: 0;

    a:focus,
    a:active,
    a.active,
    a:hover {
        background: #fafafa !important;
        outline: none !important;
    }
}

/**
 * Loading Transition
 */
.loading {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}
.loaded {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
