<ng-container *ngIf="collection">

    <!-- Search Result Collection -->
    <div *ngIf="type == 'search'" [ngClass]="{'loading': loading, 'loaded': !loading}">

        <!-- Collection Container -->
        <mat-nav-list role="list">
            <a *ngFor="let content of collection | paginate: { itemsPerPage: itemsPerPage , currentPage: pageNumber, totalItems: searchBarService.getTotalPages() }"
                [routerLink]="['/' + content.__typename.toLowerCase(), content.slug]" class="result-item"
                [ngClass]="{'ssoProtected': content.ssoProtected }">

                <!-- Collection Item -->
                <mat-card fxLayout="row" role="listitem">
                    <span mat-card-avatar class="item-avatar">
                        <div *ngIf="content.icon; else avatarIcon">
                            <img srcset="{{ content.icon }}?w=200&fm=webp,
                                         {{ content.icon }}?w=200" src="{{ content.icon }}?w=200"
                                alt="{{ content.title }}" class="item-avatar" width="100%" height="100%" />
                        </div>
                        <ng-template #avatarIcon>
                            <mat-icon class="item-avatar-icon" [innerHTML]="getDefaultTypeIcon(content.__typename)">
                            </mat-icon>
                        </ng-template>
                    </span>
                    <span class="card-content">
                        <h4 class="card-title" [innerHTML]=content.title>
                            &nbsp;
                            <mat-icon *ngIf="content.ssoProtected" matTooltip="SSO Login Required">lock</mat-icon>
                        </h4>

                        <p class="card-summary" [innerHTML]=content.summary></p>

                        <mat-chip-list class="keyword-chips" *ngIf="content.keywords" [tabIndex]="-1" aria-label="item keywords">
                            <mat-chip *ngFor="let keyword of content.keywords" [selectable]="false" aria-label="keyword" [innerHTML]=keyword></mat-chip>
                        </mat-chip-list>
                    </span>
                </mat-card>
            </a>
        </mat-nav-list>
        <div class="section-2">

            <!-- Paginator -->
            <div id="pagination">
                <pagination-controls class="page-control" responsive="true" (pageChange)="nextPage($event)"
                    (pageBoundsCorrection)="resetPage()" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
        </div>
    </div>


    <!-- Content Page Collection -->
    <div *ngIf="type == 'content'">
        <h1 id="title">
            {{ collection.__typename | humanCase }}
        </h1>Found
        <span class="search-results-text">
            {{ collection.items.length }}
        </span>results in
        <span class="search-results-text">
            {{ collection.__typename | humanCase }}
        </span>

        <!-- Content Collection -->
        <mat-nav-list>
            <mat-card
                *ngFor="let content of collection.items | paginate: { itemsPerPage: itemsPerPage , currentPage: pageNumber, totalItems: collection.items.length }">
                <a [routerLink]="['/' + content.__typename.toLowerCase(), content.slug]" class="result-item"
                    [ngClass]="{'ssoProtected': content.ssoProtected }">
                    <mat-card-header>
                        <div mat-card-avatar class="item-avatar">
                            <div *ngIf="content.icon; else avatarIcon">
                                <img srcset="{{content?.icon?.url}}?w=200&fm=webp,
                                        {{content?.icon?.url}}?w=200" src="{{content?.icon?.url}}?w=200"
                                    alt="{{content?.icon?.description}}" class="item-avatar" width="100%"
                                    height="100%" />
                            </div>
                            <ng-template #avatarIcon>
                                <mat-icon class="item-avatar-icon" [innerHTML]="getDefaultTypeIcon(content.__typename)">
                                </mat-icon>
                            </ng-template>
                        </div>
                        <mat-card-title>
                            <p><span class="card-title">{{ content.title }}</span>&nbsp;
                                <mat-icon *ngIf="content.ssoProtected" matTooltip="SSO Login Required">lock</mat-icon>
                            </p>
                        </mat-card-title>
                        <mat-card-subtitle class="card-summary">
                            {{ content.summary }}
                        </mat-card-subtitle>
                    </mat-card-header>
                </a>
            </mat-card>
        </mat-nav-list>

        <!-- Paginator -->
        <div id="pagination">
            <pagination-controls class="page-control" responsive="true"
                (pageChange)="pageNumber = $event; scrollToTop()" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
    </div>
</ng-container>