<div
  class="site-padding margin-bottom top-padding"
  ngClass.lt-md="site-padding-mobile margin-bottom top-padding"
>
  <ng-container *ngIf="collection">
    <!-- Content Collection -->
    <h1 id="title">
      {{ collection.__typename | humanCase }}
    </h1>
    Found
    <span class="search-results-text">
      {{ collection.items.length }} </span
    >results in
    <span class="search-results-text">
      {{ collection.__typename | humanCase }}
    </span>

    <!-- Content Collection -->
    <mat-nav-list>
      <mat-card *ngFor="let content of collection.items">
        <a
          [routerLink]="['/' + content.__typename.toLowerCase(), content.slug]"
          class="result-item"
          [ngClass]="{ ssoProtected: content.ssoProtected }"
        >
          <mat-card-header>
            <mat-card-title>
              <p>
                <span class="card-title">{{ content.title }}</span
                >&nbsp;
                <mat-icon
                  *ngIf="content.ssoProtected"
                  matTooltip="SSO Login Required"
                  >lock</mat-icon
                >
              </p>
            </mat-card-title>
            <mat-card-subtitle class="card-summary">
              {{ content.summary }}
            </mat-card-subtitle>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-nav-list>
  </ng-container>
</div>
