<app-collection-list [collection]="protectedArticles"></app-collection-list>
<app-collection-list [collection]="protectedCapabilities"></app-collection-list>
<app-collection-list [collection]="protectedCaseStudies"></app-collection-list>
<app-collection-list [collection]="protectedEquipment"></app-collection-list>
<app-collection-list [collection]="protectedEvents"></app-collection-list>
<app-collection-list [collection]="protectedFunding"></app-collection-list>
<app-collection-list [collection]="protectedServices"></app-collection-list>
<app-collection-list [collection]="protectedSoftware"></app-collection-list>
<app-collection-list [collection]="protectedSubHub"></app-collection-list>