@import "variables";
@import "mixins";

// Grey bakground for a section of homepage content
.grey-background {
    padding-bottom: 20px;
    background-color: #eeeeee;
}

// Search controls container
.search-header {
    box-shadow: 0px -3px 10px black;
    .search-filters {
        text-align: center;
        mat-select {
            padding: 10px;
            background: #fafafa;
            border: 1px solid $input-grey;
            * {
                color: map-get($hub-teal, 500) !important;
            }
        }
    }
}

// Results controls container
.result-list-filter {
    width: 100%;
    @include size(medium) {
        width: 100%;
    }
    mat-select {
        padding: 10px;
        background: $input-grey;
        border: 1px solid $silver-lining;
    }
    span {
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
    }
}

.no-results {
    @extend .section-2 !optional; // this needs to be fixed properly
    text-align: center;
}

// Filter Chip Indicator
.mat-chip {
    background-color: map-get($hub-teal, 500) !important;
    color: white !important;
    &.clear {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
}
