@import "variables";
@import "mixins";
@import "styles-common";

/**
 * banner Image
 */
.no-banner {
  display: none;
}

.mobile-banner {
  background-repeat: no-repeat;
  padding: 20vh 0px;
}

.standard-banner {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 20vh 0px;
}

.no-results {
  @extend .section-2;
  text-align: center;
}

.eol {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
