<div #searchTop class="search-page-container">
  <!-- Search Header Filter Options -->
  <ng-container class="search-header">
    <div
      class="banner-container"
      [ngClass]="{ 'standard-banner': bannerImageUrl }"
      [ngClass.xs]="{ 'mobile-banner': bannerImageUrl }"
      [ngStyle]="{
        'background-image': bannerImageUrl ? 'url(' + bannerImageUrl + ')' : ''
      }"
    ></div>
  </ng-container>

  <!-- Breadcrumbs -->
  <div class="site-padding" ngClass.lt-md="site-padding-mobile">
    <app-breadcrumbs [title]="'Search'"></app-breadcrumbs>
  </div>
</div>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="ResearchHub">
    <app-search></app-search>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Staff Intranet
      <mat-icon matTooltip="SSO Login Required"
        >lock</mat-icon
      >
    </ng-template>
    <ng-template matTabContent>
      <app-intranet-search></app-intranet-search>
    </ng-template>    
  </mat-tab>

</mat-tab-group>
