<div id="equipment-container" *ngIf="equipment">
  <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

  <div
    class="site-padding margin-bottom"
    ngClass.lt-md="site-padding-mobile top-padding"
  >
    <app-breadcrumbs [title]="equipment.title!"></app-breadcrumbs>

    <!-- Title and Summary -->
    <div fxLayout="column wrap">
      <ng-container
        *ngTemplateOutlet="titleSummary; context: { $implicit: equipment }"
      ></ng-container>

      <!-- Call To Action -->
      <div class="section" *ngIf="equipment.callToAction">
        <a
          href="{{ equipment.callToAction }}"
          target="_blank"
          mat-flat-button
          class="standard-button"
        >
          <span *ngIf="equipment.callToActionLabel">{{
            equipment.callToActionLabel
          }}</span>
          <span *ngIf="!equipment.callToActionLabel">View Equipment</span>
        </a>
      </div>
      <div *ngIf="!equipment.callToAction" class="main-underline-navy"></div>
    </div>

    <!-- Equipment Body -->
    <ngx-contentful-rich-text
      id="equipment-body"
      class="body-media-list"
      style="word-break: break-word"
      [document]="equipment.bodyText?.json"
      [nodeRenderers]="nodeRenderers"
      [markRenderers]="markRenderers"
    >
    </ngx-contentful-rich-text>


    <div
      class="section-2"
      fxLayout="row"
      fxLayoutGap="5%"
      fxLayout.lt-sm="column wrap"
      fxLayoutAlign="space-between"
    >
      <!-- Specifications Table -->
      <div
        fxFlex
        *ngIf="
          equipment.manufacturer ||
          equipment.model ||
          equipment.yearOfManufacture
        "
      >
        <ng-container
          *ngTemplateOutlet="
            specificationsTable;
            context: { $implicit: equipment }
          "
        ></ng-container>
      </div>

      <!-- Specifications Table 2 -->
      <div
        fxFlex
        *ngIf="
          equipment.audience ||
          equipment.availability ||
          equipment.cost ||
          equipment.access ||
          equipment.location
        "
      >
        <ng-container
          *ngTemplateOutlet="
            specificationsTable2;
            context: { $implicit: equipment }
          "
        ></ng-container>
      </div>
    </div>

    <!-- Related -->
    <div
      *ngIf="
        relatedItems.length > 0 ||
        relatedDocs.length > 0 ||
        relatedContacts.length > 0 ||
        relatedOrgs.length > 0
      "
      class="section"
      fxLayout="column"
    >
      <h3 *ngIf="relatedItems.length > 0">
        Explore Related
        <hr />
      </h3>
      <div
        id="you-might-be-interested-in"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutGap="25px"
      >
        <app-standard-card
          *ngFor="let content of relatedItems"
          [contentItem]="content"
        ></app-standard-card>
      </div>

      <h3 *ngIf="relatedContacts.length > 0">
        Contacts
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-contact-card
          *ngFor="let person of relatedContacts"
          [person]="person"
        ></app-contact-card>
      </div>

      <h3 *ngIf="relatedOrgs.length > 0">
        Organisations
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-org-unit-card
          *ngFor="let orgUnit of relatedOrgs"
          [orgUnit]="orgUnit"
        ></app-org-unit-card>
      </div>

      <h3 *ngIf="relatedDocs.length > 0">
        Documents
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-document-card
          *ngFor="let document of relatedDocs"
          [document]="document"
        ></app-document-card>
      </div>
    </div>
  </div>
</div>

<!-- Templates -->

<ng-template #dynamicBanner>
  <div
    class="banner-container"
    [ngClass]="{ 'standard-banner': bannerImageUrl }"
    [ngClass.xs]="{ 'mobile-banner': bannerImageUrl }"
    [ngStyle]="{
      'background-image': bannerImageUrl ? 'url(' + bannerImageUrl + ')' : ''
    }"
  ></div>
</ng-template>

<ng-template #specificationsTable let-equipment>
  <div id="specifications-table" class="specifications">
    <h4>Equipment</h4>
    <table class="specifications-table" role="table">
      <tr role="row">
        <th role="columnheader">Details</th>
        <th role="columnheader">Description</th>
      </tr>
      <tr *ngIf="equipment.manufacturer" role="row">
        <td>Manufacturer</td>
        <td [innerHTML]="equipment.manufacturer"></td>
      </tr>
      <tr *ngIf="equipment.model" role="row">
        <td>Model</td>
        <td [innerHTML]="equipment.model"></td>
      </tr>
      <tr *ngIf="equipment.year" role="row">
        <td>Year</td>
        <td [innerHTML]="equipment.year"></td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #specificationsTable2 let-equipment>
  <div id="specifications-table2" class="specifications">
    <h4>User</h4>
    <table class="specifications-table" role="table">
      <tr role="row">
        <th role="columnheader">Details</th>
        <th role="columnheader">Description</th>
      </tr>
      <tr *ngIf="equipment.audience" role="row">
        <td role="cell">Audience</td>
        <td [innerHTML]="equipment.audience" role="cell"></td>
      </tr>

      <tr *ngIf="equipment.availability" role="row">
        <td role="cell">Availability</td>
        <td [innerHTML]="equipment.availability" role="cell"></td>
      </tr>
      <tr *ngIf="equipment.costToUse" role="row">
        <td role="cell">Cost</td>
        <td [innerHTML]="equipment.costToUse" role="cell"></td>
      </tr>
      <tr *ngIf="equipment.access" role="row">
        <td role="cell">Access</td>
        <td [innerHTML]="equipment.access" role="cell"></td>
      </tr>
      <tr *ngIf="equipment.location" role="row">
        <td role="cell">Location</td>
        <td role="cell">
          <ngx-contentful-rich-text
            [document]="equipment.location.json"
          ></ngx-contentful-rich-text>
        </td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #titleSummary let-title>
  <h1
    role="heading"
    aria-level="1"
    class="content-title"
    ngClass.lt-md="content-title-mobile"
  >
    {{ equipment.title }}
  </h1>

  <p
    class="content-summary"
    ngClass.sm="content-summary-sm"
    ngClass.xs="content-summary-xs"
  >
    {{ equipment.summary }}
  </p>
</ng-template>
