
mat-form-field {
  width: 100%;
}

img {
  vertical-align: middle;
}

$chip-margin: 0.5em;

.mat-tags-chip {
  margin-bottom: $chip-margin !important;
}

.mat-tags-chip:not(:last-of-type) {
  margin-right: $chip-margin !important;
}

.mat-tags-option {
  height: 64px;
}

:host mat-form-field {
  transition: opacity 0.3s;
  &.disabled {
    opacity: 0.4;
  }
}
