<div *ngIf="_contentItem?.items?.length > 0">

  <!-- Title of card collection -->
  <h3 *ngIf="title">{{ title }}
    <hr />
  </h3>

    <!-- Items List -->
    <div fxLayout="{{ flex }}" fxLayout.lt-md="column wrap" fxLayoutGap="1%">
      <mat-nav-list role="navigation" fxFlex="19%"
        aria-label="Collection list"
        *ngFor="let content of _contentItem.items" class="collection"
      >

      <!-- Templates -->
      <ng-template #image>
        <picture>
          <source srcset="{{ content.banner?.url }}?w=1000&fm=webp" type="image/webp">
          <img mat-card-image src="{{ content.banner?.url }}?w=1000" alt="{{ content.title }}">
        </picture>
      </ng-template>
      <ng-template #noImage>
        <div style="margin-top: 12px;"></div>
      </ng-template>
      <ng-container
        *ngIf="content.__typename === 'Person' || content.__typename === 'OrgUnit'; then contact; else standard">
      </ng-container>

      <ng-template #standard>
        <mat-card role="list-item">
          <ng-container *ngIf="content.banner; then image; else noImage">
          </ng-container>
          <span class="card-label">{{ content.__typename | contentTypeDisplayName }}</span>

          <mat-card-title>
            <h4 *ngIf="content.__typename !== 'OfficialDocuments'">
              <a class="card-title"
                [attr.role]="'Link to ' + (content.ssoProtected ? 'protected ' : '') + (content.__typename | contentTypeDisplayName)"
                [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']"
              >
                {{ content['title'] }}
              </a>
              <mat-icon *ngIf="content.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
            </h4>
            <h4 *ngIf="content.__typename === 'OfficialDocuments'">
              <a class="card-title" href="{{ content.url ? content.url : content.document?.url }}" target="_blank">
                {{ content['title'] }}
              </a>
              <mat-icon *ngIf="content.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
            </h4>
          </mat-card-title>
          <mat-card-content><span class="card-summary">
              <p>{{ content['summary'] }}</p>
            </span></mat-card-content>

          <span *ngIf="content.__typename !== 'OfficialDocuments'" class="call-to-action"
            style="display: flex; align-items: center;max-width: fit-content">
            <a tabindex="-1" [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">Read
              More&nbsp;&nbsp;</a>
            <img class="arrow" alt="link-arrow" style="height: 20px; width: auto"
              src="assets/components/dark-arrow.png">
          </span>

          <span *ngIf="content.__typename === 'OfficialDocuments'">
            <span *ngIf="content.url !== 'null' || content.document !== 'null'" class="call-to-action"
              style="display: flex; align-items: center; max-width: fit-content">
              <a href="{{ content.url ? content.url : content.document?.url }}" target="_blank">View
                Document&nbsp;&nbsp;</a>
              <img class="arrow" alt="link-arrow" style="height: 20px; width: auto"
                src="assets/components/dark-arrow.png">
            </span>
          </span>
        </mat-card>
      </ng-template>

      <ng-template #contact>
        <mat-card role="listitem">
          <ng-container *ngIf="content.banner; then image; else noImage"></ng-container>
          <span *ngIf="content.__typename === 'Person'" class="card-label">Contact</span>
          <span *ngIf="content.__typename === 'OrgUnit'" class="card-label">Unit</span>

          <mat-card-title>
            <h4>
              <a class="card-title" *ngIf="content.link && content.maoriName; else maoriNameNoLink" href="{{ content.link }}" target="_blank"
                style="font-weight: lighter">{{ content['maoriName'] }}&nbsp;</a>
              <a class="card-title" *ngIf="content.link; else noLink" href="{{ content.link }}" target="_blank">{{ content['name'] }}</a>
              <mat-icon *ngIf="content.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
            </h4>
          </mat-card-title>
          <ng-template #maoriNameNoLink>
            <span class="card-title" *ngIf="content.maoriName" style="font-weight: lighter">{{ content['maoriName'] }}</span>
          </ng-template>
          <ng-template #noLink>
            <span class="card-title" *ngIf="content.name">{{ content['name'] }}</span>
          </ng-template>

          <mat-card-content>
            <span *ngIf="content.__typename === 'Person'" class="card-summary contact-card-summary">
              <p style="word-wrap: break-word">{{ content['role'] }}</p>
              <a *ngIf="content.email" href="mailto:{{ content['email'] }}">
                <mat-icon>email</mat-icon>{{ content['email'] }}
              </a>
              <a *ngIf="content.phone" href="tel:{{ content['phone'] }}">
                <mat-icon>phone</mat-icon>{{ content['phone'] }}
              </a>
            </span>
            <span *ngIf="content.__typename === 'OrgUnit'">
              <p style="word-wrap: break-word">{{ content['description'] }}</p>
              <span class="call-to-action" style="display: flex; align-items: center;max-width: fit-content">
                <a href="{{ content.link }}" target="_blank">See Unit&nbsp;&nbsp;</a>
                <img class="arrow" alt="link-arrow" style="height: 20px; width: auto"
                  src="assets/components/dark-arrow.png">
              </span>
            </span>
          </mat-card-content>
        </mat-card>
      </ng-template>
      <br />
    </mat-nav-list>
  </div>
</div>