<div 
    class="section"
    *ngIf="contentItem.items.length > 0">
    <h4>{{ title }}<hr/></h4>

    <!-- Related Items List -->
    <mat-nav-list 
        *ngFor="let content of contentItem.items" 
        class="collection">
        <mat-card>
            <img mat-card-image src="{{ content.banner?.url }}">
            <span style="background: rgb(2, 149, 165);color: rgb(255, 255, 255);position:absolute;left:0;top:0;padding: 0px 15px;">{{ content.__typename | humanCase }}</span>
            <mat-card-title class="card-title">
                <a [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                    {{ content['title'] }}
                </a>
            </mat-card-title> 
            <br/>
            <mat-card-content>
                <span class="card-content-item-summary">
                    {{ content['summary'] }}
                </span>
            </mat-card-content>
            <div 
                *ngIf="content['__typename'] != 'Person'"
                class="call-to-action" 
                style="display: flex; align-items: center;">
                <a [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                    Read More&nbsp;&nbsp;
                </a>
                <img class="arrow" style="height: 20px; width: auto" src="assets/components/teal-arrow.png">
            </div>
        </mat-card>
        <br/>
    </mat-nav-list>
</div>