@import '../../../../themes.scss';
@import '../../../../styles.scss';

/**
 * Card Image
 */ 
 mat-card img {
    object-fit: cover;
  }


/**
 * Call To Action
 */
a {
    margin: 5px 0px;
    color: map-get($hub-teal, 500);
}