<div *ngIf="contentItem.items.length > 0">

    <h3>{{ title }}<hr/></h3>

    <!-- Related Items List -->
    <div
        fxLayout="{{ flex }}"
        fxLayout.lt-md="column wrap"
        fxLayoutGap="1%">
        <mat-nav-list
            fxFlex="19%"
            *ngFor="let content of contentItem.items" 
            class="collection">

            <!-- Templates -->
            <ng-template #image>
                <img mat-card-image src="{{ content.banner?.url }}">
            </ng-template>

            <ng-template #noImage>
                <div style="margin-top: 11px;"></div>
            </ng-template>

            <ng-container *ngIf="content.__typename == 'Person'; then contact; else standard">
            </ng-container>

            <ng-template #standard>
                <mat-card>
                    <ng-container *ngIf="content.banner; then image; else noImage">
                    </ng-container>
                    <span *ngIf="content.__typename == 'SubHub'" class="card-label">Topic</span>
                    <span *ngIf="content.__typename != 'SubHub'" class="card-label">{{ content.__typename | humanCase }}</span>
    
                    <mat-card-title>
                        <h4>
                            <a 
                                class="card-title"
                                [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                                {{ content['title'] }}
                            </a>
                        </h4>
                    </mat-card-title>
                    <mat-card-content>
                        <span
                            class="card-summary">
                            <p>{{ content['summary'] }}</p>
                        </span>
                    </mat-card-content>
                    <span
                        class="call-to-action"
                        style="display: flex; align-items: center;max-width: fit-content">
                        <a *ngIf="content.__typename != 'Unit'" [routerLink]="'/' + content['__typename'].toLowerCase() + '/' + content['slug']">
                            Read More&nbsp;&nbsp;
                        </a>
                        <a *ngIf="content.__typename == 'Unit'" href="{{ content.link }}">
                            See Unit&nbsp;&nbsp;
                        </a>
                        <img 
                            class="arrow" 
                            style="height: 20px; width: auto" 
                            src="assets/components/teal-arrow.png">
                    </span>
                </mat-card>
            </ng-template>

            <ng-template #contact>
                <mat-card>
                    <ng-container *ngIf="content.banner; then image; else noImage">
                    </ng-container>
                    <span *ngIf="content.__typename == 'SubHub'" class="card-label">Topic</span>
                    <span *ngIf="content.__typename != 'SubHub'" class="card-label">Contact</span>
    
                    <mat-card-title>
                        <h4>
                            <a 
                                class="card-title"
                                href="{{ content.link }}">
                                    {{ content['name'] }}
                            </a>
                        </h4>
                    </mat-card-title>
                    <mat-card-content>
                        <span
                            class="card-summary">
                            <p style="word-wrap: break-word">
                                {{ content['role'] }}<br>
                                <a href="mailto:{{ content['email'] }}">{{ content['email'] }}</a><br>
                                <a href="tel:{{ content['phone'] }}">{{ content['phone'] }}</a>
                            </p>
                        </span>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <br/>
        </mat-nav-list>
    </div>
</div>