@import '../../../../themes.scss';
@import '../../../../styles.scss';

/**
 * Card Image
 */ 
 .mat-card-image {
    max-height: 19vh;
    margin-bottom: 5px;
    object-fit: cover;
  }


/**
 * Call To Action
 */
a {
    margin: 5px 0px;
    color: map-get($hub-teal, 500);
}