<div>
    <div 
      class="search-bar-inner" 
      fxFlex="100" 
      fxLayout="row" 
      fxLayoutGap="1em" 
      fxLayoutAlign="space-between center">
      <mat-form-field 
        fxFlex 
        floatLabel="never">
        <button 
          matPrefix 
          mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <input 
          #searchTextInput 
          matInput 
          placeholder="Search" 
          [(ngModel)]="searchText" 
          autofocus>
        <button
          *ngIf="searchText"
          matSuffix 
          (click)="clearSearchText()" 
          mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
</div>