@import "../../../styles";


.search-bar-outer {
  margin: 0 auto;
  width: 100%;
}
.search-bar-inner {
  border: 1px solid $input-grey;
  color: $body-grey;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  mat-form-field {
    font-size: 20px;
    min-width: 0 !important;
    input {
      caret-color: silver!important;
    }
  }
}

button mat-icon {
  color: $body-grey;
}