@import "variables";
@import "mixins";
@import "styles-common";

/*
 * Featured Container
 */
.featured-container {
  z-index: 1;
  .featured-content {
    margin: 60px auto;
  }
  .featured-title {
    color: white;
    font-size: 36px;
    text-align: center;
    @include size(medium) {
      text-align: left;
      font-size: 48px;
    }
  }
  .featured-summary {
    color: white;
    font-size: 16px;
    position: relative;
    word-wrap: break-word;
    margin: 0 auto;
    text-align: center;
    @include size(medium) {
      text-align: left;
      font-size: 20px;
    }
  }
}
