@import '../../../../styles.scss';
@import '../../../../themes.scss';
@import '../../../../typography.scss';


/**
 * Featured Container
 */
 .featured-container {
   padding: 2vh 0;
 }

 
/**
 * Text
 */
 .text {
    text-align: center;
    width: 50vw;
    margin: 5vh auto;
  }
  .text h3 {
    font-size: 5.5vh;
  }
  .text p {
    font-size: 3vh;
  }
  

/**
 * Mobile
 */
 @media only screen and (max-width: 124vh) {
  .text {
    text-align: center;
    width: 95vw;
    margin: 1vh auto;
  }
  .text h2 {
    font-size: 4vh;
  }
  .text p {
    font-size: 2vh;
  }
}