<div *ngIf="allSubHubs$ | async as allSubHubs" class="featured-container">
    <!-- <div class="text">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>  
    </div> -->
    <div class="site-padding">
        <mat-carousel
            proportion="{{ 20000 / screenWidth }}"
            timings="500ms ease-in"
            autoplay="true"
            loop="true">
            <mat-carousel-slide *ngFor="let item of allSubHubs.items">
                <div
                    class="carousel-slide-container"
                    fxLayout="row"
                    fxLayoutGap="2%"
                    fxLayout.lt-lg="column wrap">
                    <!-- <img fxHide.lt-lg class="carousel-image" src="{{ item.banner?.url }}"> -->
                    <div class="carousel-text" fxFlex>
                        <h2 class="featured-title">{{ item.title }}</h2>
                        <p fxHide.lt-lg  class=featured-summary>
                            {{ item.summary }}
                        </p>
                        <a [routerLink]="['/' + item.slug]"> <!-- Add slug link here -->
                            <button 
                                mat-flat-button 
                                class="alternate-button section">
                                <span>
                                    View Topic
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </mat-carousel-slide>
    </mat-carousel>
    </div>
</div>