<ng-container *ngIf="content">
  <h2>{{ featuredContentIndex ? 'Featured content' : 'Have you seen...?' }}</h2>
  <div fxLayout="row" fxLayoutGap="5%" fxLayout.lt-lg="column">
    <div ngClass.gt-xs="card-gt-xs">
      <mat-card>
        <a 
          [routerLink]="['/content', content.id]"
          (click)="analyticsService.trackUserExperience('Have you seen', 'click')">
          <div style="margin: 2em;" >
            <img mat-card-image [src]="apiService.getAssetUrl(content.image)">
          </div>
        </a>
        <mat-card-content>
          <a
            [routerLink]="['/content', content.id]"
            (click)="analyticsService.trackUserExperience('Have you seen', 'click')">
            <h2 style="font-size: 20px;">{{content.name}}</h2>
          </a>
          <p>{{content.summary}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="column" fxLayoutAlign="center end">
            <button mat-button
              [routerLink]="['/content', content.id]"
              color="primary"
              (click)="analyticsService.trackUserExperience('Have you seen', 'click')">Details</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>
