@import "../../../../styles";


/deep/ div h3:first-child {
  margin-bottom: 8px !important;
}

/deep/ div h3:not(:first-child) {
  margin-top: 24px !important;
  margin-bottom: 8px !important;
}

/deep/ ul {
  margin: 0 0 12px !important;
}

/deep/ div h4:not(:first-child) {
  margin-top: 20px !important;
  margin-bottom: 6px !important;
}

//Sass table colour variables
$table-row-dark-background-color: #E5E5E5;
$table-row-light-background-color: rgba(0,0,0,.05);
$table-row-hover-background-color: #fff;
$table-font-color-default: rgba(0,0,0,.87);
$table-font-color-heading: #b13462;

// Scrolling Version
/deep/ app-markdown table {
  font-size: smaller;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 1em;
  margin-top: 1em;
}

/deep/ app-markdown th, /deep/ app-markdown td  {
  margin: auto;
  text-align: center;
  padding: 2px 5px 2px 5px;
}

/deep/ app-markdown tr:hover {
  background-color: $table-row-hover-background-color !important;
}

/deep/ app-markdown th {
  background-color: $table-row-dark-background-color;
  font-size: 105%;
  color: $table-font-color-heading;
  text-transform: lowercase;
}

/deep/ app-markdown th:first-letter, /deep/ app-markdown td:first-letter {
  text-transform: capitalize;
}

/deep/ app-markdown tr:nth-child(even) {
  background-color: $table-row-dark-background-color;
  color: $table-font-color-default;
}

/deep/ app-markdown tr:nth-child(odd){
  background-color: $table-row-light-background-color;
  color: $table-font-color-default;
}

//Override any strong tags provided by the markdown
/deep/ app-markdown strong {
  font-weight: normal;
}
