<!-- Displaying all SubHubs -->
<div
    *ngIf="allSubHubs$ | async as allSubHubs" 
    class="site-padding margin-bottom top-padding" 
    ngClass.xs="site-padding-xs margin-bottom-xs top-padding" 
    ngClass.sm="site-padding-sm margin-bottom-sm top-padding">
    <app-collection-list [collection]="allSubHubs"></app-collection-list>
</div>

<!-- Displaying an individual SubHub -->
<div 
    style="overflow-x: hidden"
    class="results" 
    *ngIf="currentSubHub$ | async as subhub">
    <div>

        <!-- Templates -->
        <ng-template #subHubChildren>
            <div 
                id="subhub-children"
                class="site-padding top-padding-2"
                ngClass.sm="site-padding-sm top-padding"
                ngClass.xs="site-padding-xs top-padding">
                <div
                    fxLayout="row wrap"
                    fxLayoutGap="1%"
                    fxLayout.sm="column wrap"
                    fxLayout.xs="column wrap">
                    <div
                        class="margin-bottom-2"
                        ngClass.sm="margin-bottom"
                        ngClass.xs="margin-bottom"
                        fxFlex="24%"
                        *ngFor="let subHub of subhub.internalPagesCollection.items">
                        <mat-card class="subhub-card">
                                <img mat-card-image src="{{ subHub.banner?.url }}" onerror="this.src='../../../assets/images/uoa-logo.svg'">
                                <span style="background: rgba(2, 149, 165, 0.6);color: rgb(255, 255, 255);position:absolute;left:0;top:0;padding: 0px 10px;">{{ subHub.__typename | humanCase }}</span>
                            <mat-card-title class="card-title">
                                {{ subHub.title}}
                            </mat-card-title>
                            <mat-card-content class="related-item-summary">
                                {{ subHub.summary }}
                            </mat-card-content>
                            <mat-card-actions>
                                <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                                    Read More ...
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #breadcrumbs>
            <app-breadcrumbs 
                *ngIf="!!parentSubHubs" 
                [contentItem]="parentSubHubs" 
                [title]="subhub.title">
            </app-breadcrumbs>
        </ng-template>

        <ng-template #dynamicBanner>
            <div 
                class="banner-container"
                [style.background]="subhub.banner? 'url(' + subhub.banner.url + ') no-repeat' : 'url(../../../assets/images/rsz_run-all-tests.jpg)'">
            </div>
        </ng-template>

        <!-- View 1 -->
        <div [ngSwitch]="subhub.viewType">
            <div *ngSwitchCase="'View 1'">
                <div 
                class="banner-container"
                [style.background]="subhub.banner? 'url(' + subhub.banner.url + ') no-repeat' : 'url(../../../assets/images/rsz_run-all-tests.jpg)'">
                    <div
                        class="banner-content" 
                        *ngIf="subhub.viewType == 'View 1'">

                        <!-- Title and Summary for View 1 -->
                        <!-- Title -->
                        <h1 
                            class="content-title" 
                            ngClass.sm="content-title-sm" 
                            ngClass.xs="content-title-xs"
                            style="color: white;">
                                {{ subhub.title }}
                        </h1>

                        <!-- Summary -->
                        <h3 
                            class="content-summary" 
                            ngClass.sm="content-summary-sm" 
                            ngClass.xs="content-summary-xs"
                            style="color: white">
                                <small>{{ subhub.summary }}</small>
                        </h3>
                    </div>
                </div>

                <!-- Breadcrumbs -->
                <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>
                
                <div
                    class="site-padding top-padding"
                    ngClass.sm="site-padding-sm top-padding"
                    ngClass.xs="site-padding-xs top-padding">

                    <!-- Body Content -->
                    <div 
                        fxLayout="row wrap"
                        fxLayout.sm="column wrap"
                        fxLayout.xs="column wrap"
                        fxLayoutGap="2%"
                        fxLayoutAlign="space-between">
                        
                        <!-- Main Body -->
                        <div fxFlex="65%" class="section">
                            <ngx-contentful-rich-text
                                style="word-break:break-word;" 
                                [document]="subhub.bodyText.json"
                                [nodeRenderers]="nodeRenderers">
                            </ngx-contentful-rich-text>
                        </div>

                        <!-- Related Items and Keywords -->
                        <div fxFlex="30%">

                            <!-- Related Items -->
                            <app-cards 
                                [title]="'You might be interested in'" 
                                [contentItem]="subhub.relatedItemsCollection">
                            </app-cards>

                            <!-- Keywords -->
                            <app-keywords [contentItem]="subhub.keywords"></app-keywords>
                        </div>
                    </div>
                </div>

                <!-- SubHub Children -->
                <ng-container *ngTemplateOutlet="subHubChildren"></ng-container>

            </div>

            <!-- View 2 -->
            <div *ngSwitchCase="'View 2'">
                <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

                <div>

                    <!-- Breadcrumbs -->
                    <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                    <!-- Title and Summary -->
                    <div>
                        <h1
                            class="content-title site-padding" 
                            ngClass.sm="content-title-sm site-padding-sm" 
                            ngClass.xs="content-title-xs site-padding-xs">
                            {{ subhub.title }}
                        </h1>
                        <h3 
                            class="content-summary site-padding" 
                            ngClass.sm="content-summary-sm site-padding-sm" 
                            ngClass.xs="content-summary-xs site-padding-xs">
                            {{ subhub.summary }}
                            <hr/>
                        </h3>
                    </div>
            
                    <!-- Body Content -->
                    <!-- Main Body -->
                    <div 
                        class="main-body site-padding"
                        ngClass.sm="site-padding-sm"
                        ngClass.xs="site-padding-xs">
                        <ngx-contentful-rich-text
                            style="word-break:break-word;" 
                            [document]="subhub.bodyText.json"
                            [nodeRenderers]="nodeRenderers">
                        </ngx-contentful-rich-text>
                    </div>
            
                    <!-- SubHub Children -->
                    <ng-container *ngTemplateOutlet="subHubChildren"></ng-container>

                    <!-- Related Items -->
                    <div 
                        class="site-padding"
                        ngClass.sm="site-padding-sm"
                        ngClass.xs="site-padding-xs">
                        <app-cards 
                            [title]="'You might be interested in'" 
                            [contentItem]="subhub.relatedItemsCollection">
                        </app-cards>
                    </div>

                    <!-- Keywords -->
                    <div
                        class="site-padding"
                        ngClass.sm="site-padding-sm"
                        ngClass.xs="site-padding-xs">
                        
                        <!-- Keywords -->
                        <app-keywords [contentItem]="subhub.keywords"></app-keywords>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>