<mat-card class="parent-results" *ngIf="parentSubHubs.length > 0">
    <div *ngFor="let parentSubHub of parentSubHubs">
        <h2 id="parent-title">Parent SubHub</h2>
        <a href="/subhubs/{{parentSubHub.slug}}">
            <button mat-stroked-button>
                {{parentSubHub.title}}
            </button>
        </a>
    </div>
</mat-card>

<div class="results" *ngIf="allSubHubChildPages$ | async as subHubData">
    <mat-card>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JSON Result
                </mat-panel-title>
                <mat-panel-description>Click to see raw JSON</mat-panel-description>
            </mat-expansion-panel-header>
            <pre><code>{{ subHubData | json}}</code></pre>
        </mat-expansion-panel>
    </mat-card>

    <div *ngFor="let subhub of subHubData.items; let i = index">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>build</mat-icon>
                </div>
                <mat-card-title>
                    {{ subhub.title }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ subhub.summary }}
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card>
            <h2>Body</h2>
            <div class="content" *ngFor="let contentItem of subhub.body.json.content as c">
                <mat-card-content *ngIf="contentItem.content[0]">
                    {{ contentItem.content[0].value }}
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card>
            <h2>Pages in this SubHub</h2>
            <mat-nav-list>
                <mat-card *ngFor="let subHubChildPage of subhub.subhubPagesCollection.items">
                    <mat-card-header id="title">
                        {{ subHubChildPage.title }}
                        <mat-chip-avatar *ngIf="subHubChildPage.ssoProtected">
                            <mat-icon color="accent" matTooltip="SSO Login Required">lock</mat-icon>
                        </mat-chip-avatar>
                    </mat-card-header>
                    <mat-card-subtitle>
                        {{ subHubChildPage.summary }}
                    </mat-card-subtitle>
                    <div>
                        {{subHubChildPage.__typename}}
                    </div>
                    <a href="/{{subHubChildPage.__typename.toLowerCase()}}/{{subHubChildPage.slug}}">
                        <button mat-stroked-button>
                            View {{subHubChildPage.title}}
                        </button>
                    </a>
                </mat-card>
            </mat-nav-list>
        </mat-card>
    </div>
</div>