<!-- Displaying all SubHubs -->
<app-collection-list *ngIf="allSubHubs$ | async as allSubHubs" [collection]="allSubHubs"></app-collection-list>

<!-- Displaying an individual SubHub -->
<div 
    class="results" 
    *ngIf="currentSubHub$ | async as subhub">
    <div>

        <!-- Dynamic Banner -->
        <div 
            class="banner-container"
            [style.background]="subhub.bannerImage ? 'url(' + subhub.bannerImage.url + ') no-repeat' : 'url(../../../assets/images/rsz_run-all-tests.jpg)'">
            <div 
                class="banner-content" 
                *ngIf="subhub.viewType == 'View 1'">

                <!-- Title and Summary (View 1) -->
                <!-- Title -->
                <h1 
                    class="subhub-title" 
                    ngClass.sm="subhub-title-sm" 
                    ngClass.xs="subhub-title-xs"
                    style="color: white;">
                        {{ subhub.title }}
                </h1>

                <!-- Summary -->
                <h3 
                    class="subhub-summary" 
                    ngClass.sm="subhub-summary-sm" 
                    ngClass.xs="subhub-summary-xs"
                    style="color: white">
                        <small>{{ subhub.summary }}</small>
                </h3>
            </div>
        </div>  

        <!-- Breadcrumbs -->
        <ng-template #breadcrumbs>
            <div 
                id="breadcrumbs" 
                class="breadcrumbs" 
                *ngIf="!!parentSubHubs">
                <span 
                    class="breadcrumb-subhub" 
                    *ngFor="let parentSubHub of parentSubHubs.slice().reverse()">
                    <a [routerLink]="'/subhub/' + parentSubHub.slug">
                        {{ parentSubHub.title }}
                    </a>
                </span>
                <span id="breadcrumb-current-page">
                    {{ subhub.title }}
                </span>
            </div>
        </ng-template>

        <!-- View 1 -->
        <div [ngSwitch]="subhub.viewType">
            <div *ngSwitchCase="'View 1'">
                <div>

                    <!-- Breadcrumbs -->
                    <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                    <!-- Body Content -->
                    <div 
                        fxLayout="row wrap"
                        fxLayout.sm="column wrap"
                        fxLayout.xs="column wrap"  
                        fxLayoutGap="2%">
                        
                        <!-- Main Body -->
                        <div fxFlex="65%">
                            <div style="margin-bottom: 50px;" 
                                [innerHTML]="subhub.body.json | richTextToHTML">
                            </div>
                            <hr/>
                                <div 
                                    fxLayout="row wrap"
                                    fxLayoutGap="1%"
                                    fxLayout.sm="column wrap"
                                    fxLayout.xs="column wrap" >
                                    <div
                                        fxFlex="24%"
                                        *ngFor="let subHub of subhub.subhubPagesCollection.items">
                                        <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                                            <mat-card >
                                                <img mat-card-image src="{{subHub.bannerImage.url}}" alt="{{subHub.title}}">
                                                <span class="card-title">
                                                    {{ subHub.title}}
                                                </span> 
                                                <br/>
                                                <span class="related-item-summary">
                                                    {{ subHub.summary }}
                                                </span>
                                            </mat-card>
                                        </a>
                                    </div>
                                </div>
                        </div>

                        <!-- Realted Items and Keywords -->
                        <div fxFlex="30%">

                            <!-- Related Items -->
                            <div *ngIf="subhub.relatedItemsCollection.items.length > 0">
                                <h4>Related Items<hr/></h4>
                                <div 
                                    fxLayout="column wrap"
                                    class="subhub-children">
                                    <div *ngFor="let subHub of subhub.relatedItemsCollection.items">
                                            <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                                                <mat-card >
                                                    <span class="card-title">
                                                        {{ subHub.title}}
                                                    </span> 
                                                    <br/>
                                                    <span class="related-item-summary">
                                                        {{ subHub.summary }}
                                                    </span>
                                                </mat-card>
                                            </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Keywords -->
                            <div *ngIf="subhub.keywords.length > 0">
                                <h4>Keywords<hr/></h4>
                                <mat-card-subtitle fxLayout="row wrap">
                                    <span *ngFor="let keyword of subhub.keywords">
                                        <mat-card 
                                            fxLayout="row" 
                                            class="keyword-card">
                                                {{ keyword | humanCase }}
                                        </mat-card>
                                    </span>
                                </mat-card-subtitle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- View 2 -->
            <div *ngSwitchCase="'View 2'">
                <div>

                    <!-- Breadrcumbs -->
                    <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                    <!-- Title and Summary -->
                    <div>
                        <h1 
                            class="subhub-title" 
                            ngClass.sm="subhub-title-sm" 
                            ngClass.xs="subhub-title-xs">
                            {{ subhub.title }}
                        </h1>
                        <h3 
                            class="subhub-summary" 
                            ngClass.sm="subhub-summary-sm" 
                            ngClass.xs="subhub-summary-xs">
                            {{ subhub.summary }}
                        </h3>
                        <hr style="margin: 25px 0px;"/>
                    </div>
            
                    <!-- Body Content -->
                    <!-- Main Body -->
                    <div 
                        #subhubContent
                        style="margin-bottom: 200px;" 
                        [innerHTML]="subhub.body.json | richTextToHTML">
                    </div>
            
                    <!-- SubHub Children -->
                    <div>
                        <hr/>
                        <div 
                            fxLayout="row wrap"
                            fxLayoutGap="1%"
                            fxLayout.sm="column wrap"
                            fxLayout.xs="column wrap" >
                            <div
                                fxFlex="24%"
                                *ngFor="let subHub of subhub.subhubPagesCollection.items">
                                <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                                    <mat-card >
                                        <img mat-card-image src="{{subHub.bannerImage.url}}" alt="{{subHub.title}}">
                                        <span class="card-title">
                                            {{ subHub.title}}
                                        </span> 
                                        <br/>
                                        <span class="related-item-summary">
                                            {{ subHub.summary }}
                                        </span>
                                    </mat-card>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Related Items -->
                    <div *ngIf="subhub.relatedItemsCollection.items.length > 0">
                        <h4>Related Items<hr/></h4>
                        <div 
                            fxLayout="column wrap"
                            class="subhub-children">
                            <div *ngFor="let subHub of subhub.relatedItemsCollection.items">
                                    <a [routerLink]="'/' + subHub['__typename'].toLowerCase() + '/' + subHub['slug']">
                                        <mat-card >
                                            <span class="card-title">
                                                {{ subHub.title}}
                                            </span> 
                                            <br/>
                                            <span class="related-item-summary">
                                                {{ subHub.summary }}
                                            </span>
                                        </mat-card>
                                    </a>
                            </div>
                        </div>
                    </div>

                    <!-- Keywords -->
                    <div *ngIf="subhub.keywords.length > 0">
                        <h4>Keywords<hr/></h4>
                        <mat-card-subtitle fxLayout="row wrap">
                            <span *ngFor="let keyword of subhub.keywords">
                                <mat-card 
                                    fxLayout="row" 
                                    class="keyword-card">
                                        {{ keyword | humanCase }}
                                </mat-card>
                            </span>
                        </mat-card-subtitle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Raw JSON -->
<!-- <ng-template #jsonData>
        <mat-card>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> JSON Result </mat-panel-title>
                    <mat-panel-description>Click to see raw JSON</mat-panel-description>
                </mat-expansion-panel-header>
                <pre><code>{{ subHubData | json}}</code></pre>
            </mat-expansion-panel>
        </mat-card>
</ng-template> -->