@import '../../../themes.scss';
@import '../search-results/search-results.component.scss';

mat-expansion-panel, mat-card  {
    margin: 1vh 0;
}

div.mat-card-avatar mat-icon {
    color: map-get($hub-teal, 800);
}

#breadcrumbs {
    margin-bottom: 3vh;

    .breadcrumb-subhub {
        &::after {
            color: $color-icon;
            margin: 0 0.5em 0 0.5em;
            content: '/'
        }
    }

    #breadcrumb-current-page {
        color: $color-icon;
    }
}
.breadcrumbs-mobile {
    font-size: 8px;
}

#keywords {
    color: map-get($hub-navy, 500);
}

.related-item-summary {
    color: gray;
}


// Vanilla CSS

// SubHub Title
.subhub-title {
    color: map-get($hub-navy, 500);
    font-size: 50px;
    font-weight: bold; 
    line-height: 110%;
}

.subhub-title-sm {
    font-size: 35px;
}

.subhub-title-xs {
    font-size: 25px;
}

// SubHub Summary
.subhub-summary {
    font-size: 20px; 
    color: $color-icon;
    line-height: 110%;
}

.subhub-summary-sm {
    font-size: 20px; 
}

.subhub-summary-xs {
    font-size: 15px; 
}

// Banner Styling
.banner-container {
    text-align: center;
    width: 99vw; 
    min-height: 40vh;
    background-size: cover!important;
}

.banner-content {
    width: 50%;
    margin: 10em auto;
    color: white;
    display: inline-block;
}

// Related Item Card
.related-item-card {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-item-card-mobile {
    height: 70px;
}

.card-title {
    color: map-get($hub-teal, 500);
}

.related-item-summary {
    font-size: 12px;
}

// Keyword
.keyword-card {
    color: #828282;
    background: #F0F0F0;
    margin: 5px; 
    padding: 5px 10px;
    font-size: 12px; 
    border-radius: 25px;
    box-shadow: none !important;
}

// <hr />
hr {
    background-color: #dbdbdb;
    border: none;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

// SubHub Card
.subhub-card .card-title {
    font-size: 1rem;
    color: black;
    padding-top: 5px;
}

.subhub-card img {
    object-fit: cover;
    height: 19vh;
}

.subhub-card .related-item-summary {
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subhub-card button {
    color: map-get($hub-teal, 500);
    border-color: map-get($hub-teal, 500);
    margin-bottom: 10px;
}

.mat-card-actions {
    text-align: center;
}

// Media Collection
.media-panel {
    @extend .margin-bottom;
}

.media-panel img{
    width: 10vw;
}

// SubHub Children
#subhub-children {
    @extend .margin-bottom;
    background: #F2F2F2;
    padding-top: $padding-site-top * 2;
    padding-bottom: $padding-site-top * 2;
}