@import "variables";

/**
 * Equipment Image
 */
.equipment-image {
  margin: 0 auto;
}

/**
 * Specifications Table
 */
.specifications-table {
  border-collapse: collapse;
  width: 100%;
}
.specifications-table td,
.specifications-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.specifications-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.specifications-table td:nth-child(odd) {
  font-weight: bold;
  width: 25%;
}
.specifications-table th {
  padding-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  background-color: $dark-blue;
  color: $color-background;
}

/**
 * Custom Button Styles
 */
.standard-button {
  @extend .standard-button;
  border: 3px solid $light-blue !important;
  background-color: $light-blue !important;
}
.standard-button:hover {
  color: $light-blue !important;
  border-radius: 50px !important;
  background-color: white !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
