@import '../../../../themes.scss';

.refine-search-wrapper {
  float: right;
}

.refine-search {
  color: map-get($research-activity-palette-create, 500); 
  padding-right: 1em; 
  cursor: pointer
}

.component {
  margin: $offset-gt-xs;
  max-width: $width-page-max;
}

.component-xs {
  @extend .component;
  margin: $padding-site;
}