<h2>Our details</h2>
<div fxLayout="row" fxLayoutGap="2em" fxLayout.lt-md="column">
  <div fxFlex="50">
    <mat-list class="contact-menu-list">
      <mat-list-item style="padding-left: 0;">
        <mat-icon matListIcon>place</mat-icon>
        <p matLine>Centre for eResearch</p>
        <p matLine>Building 302, Level 5, Room 585</p>
        <p matLine>23 Symonds Street</p>
        <p matLine>Auckland Central</p>
        <p matLine>Auckland 1010</p>
        <p matLine>New Zealand</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>email</mat-icon>
        <p matLine>eresearch-support@auckland.ac.nz</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>phone</mat-icon>
        <p matLine>+64 9 373 7599 ext 82231</p>
      </mat-list-item>

      <mat-list-item style="padding-left: 0;">
        <mat-icon matListIcon>markunread_mailbox</mat-icon>
        <p matLine>Centre for eResearch</p>
        <p matLine>The University of Auckland</p>
        <p matLine>Private Bag 92019</p>
        <p matLine>Auckland 1142</p>
        <p matLine>New Zealand</p>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex="50" fxLayout="column" fxLayoutGap="2em" style="padding-left: 16px;">
    <app-image-view [src]="'/assets/images/cer-level5-20170905.svg'"></app-image-view>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.5503663205586!2d174.7663845157219!3d-36.85324317993754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47e385a59abf%3A0x1bfa5dcc43edfefc!2s23+Symonds+St%2C+Auckland%2C+1010!5e0!3m2!1sen!2snz!4v1505104084141" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


