<mat-card role="listitem">
  <span class="card-label">Unit</span>

  <div style="margin-top: 12px"></div>

  <mat-card-title>
    <a class="card-title" [attr.href]="orgUnit.link ? orgUnit.link : null">
      <span *ngIf="orgUnit.name">{{ orgUnit.name }}</span>
      <span *ngIf="orgUnit.maoriName && orgUnit.name">, </span>
      <span *ngIf="orgUnit.maoriName">{{ orgUnit.maoriName }}</span>
    </a>
  </mat-card-title>

  <mat-card-content>
    <span>
      <p style="word-wrap: break-word">{{ orgUnit.description }}</p>
      <!-- <span
        class="call-to-action"
        style="display: flex; align-items: center; max-width: fit-content"
      >
        <a href="{{ orgUnit.link }}" target="_blank">See Unit&nbsp;&nbsp;</a>
        <img
          class="arrow"
          alt="link-arrow"
          style="height: 20px; width: auto"
          src="assets/components/dark-arrow.png"
        />
      </span> -->
    </span>
  </mat-card-content>
</mat-card>
