@import "variables";
@import "mixins";
@import "styles-common";
@import "~@angular/material/theming";

/**
 * Material Overrides
 */
mat-card {
  background-color: $light-grey;

}
.card-content {
  @include mat-elevation-transition;
  @include mat-elevation(0);
  &:hover {
    @include mat-elevation(4);
  }
  cursor: pointer;
  width: 100%;
  p {
    @include size(medium) {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .card-title {
    @extend .card-title;
    width: fit-content;
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    &:hover {
      border-bottom: 1px solid $dark-blue;
    }
    font-size: 22px;
    color: $dark-blue;
  }
  .card-summary {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    color: $dark-grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  /**
    * Lock Icon
    */
  mat-icon {
    font-size: 14px;
  }

  // card chips
  .mat-chip {
    background-color: #e0e9f0;
    color: $dark-blue;
    min-height: 20px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid $dark-blue;
  }
}

/**
 * Card Label
 */
 .card-label {
  background: $dark-blue;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
  padding: 0px 15px;
}

// Skeleton Loader
.skeleton-wrapper {
  background-color: $light-grey;
  padding: 10px;
  height: 115px;
  margin: 8px 0;
}
