.search-filters-container {
  display: flex;
  flex-direction: column;
  height: 475px;
  width: 1010px;
  @media (max-width: 960px) {
    height: calc(100vh - 112px);
    width: 100vw;
  }
  .list-container {
    padding: 10px;
    overflow: auto;
  }
  mat-selection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mat-list-option {
      width: 325px;
      @media (max-width: 960px) {
        width: 100%
      }
    }
  }
  .search-filters-footer {
    margin: 10px 0px;
    padding: 0px 10px;
    color: black;
  }
}
