<div class="search-filters-container">
  <mat-tab-group>
    <mat-tab [label]="'Categories'">
      <div
        class="list-container"
        *ngIf="allCategories$ | async; let allCategories"
      >
        <mat-selection-list #categories [(ngModel)]="activeFilters.category">
          <mat-list-option
            *ngFor="let category of allCategories"
            [value]="category.sys.id"
            checkboxPosition="before"
          >
            {{ category.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'Activities'">
      <div class="list-container" *ngIf="allStages$ | async; let allStages">
        <mat-selection-list #stages [(ngModel)]="activeFilters.stage">
          <mat-list-option
            *ngFor="let stage of allStages"
            [value]="stage.sys.id"
            checkboxPosition="before"
          >
            {{ stage.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-tab>
    <mat-tab [label]="'Organisations'">
      <p>Organisations</p>
    </mat-tab>
  </mat-tab-group>
  <span style="flex: 1 1 auto"></span>
  <mat-divider></mat-divider>
  <span class="search-filters-footer">
    Filters:
    {{
      activeFilters.category.length === 1
        ? activeFilters.category.length + " category"
        : activeFilters.category.length + " categories"
    }},
    {{
      activeFilters.stage.length === 1
        ? activeFilters.stage.length + " activity"
        : activeFilters.stage.length + " activities"
    }},
    {{
      activeFilters.relatedOrgs.length === 1
        ? activeFilters.relatedOrgs.length + " organisation"
        : activeFilters.relatedOrgs.length + " organisations"
    }},
  </span>
</div>
