<mat-card
  [routerLink]="['/', contentItem.__typename!.toLowerCase(), contentItem.slug]"
  [ngClass]="{ 'subhub-child-card': isSubhubChild }"
>
  <picture mat-card-image>
    <source srcset="{{ url ? url : (defaultImageUrl$ | async) }}?w=1000&fm=webp" type="image/webp" />
    <img src="{{ url }}?w=1000" alt="{{ contentItem.banner ? contentItem.title : 'default background' }}" />
  </picture>

  <span class="card-label">{{
    contentItem.__typename! | contentTypeDisplayName
  }}</span>

  <mat-card-title>
    <a
      class="card-title"
      tabindex="-1"
      [routerLink]="[
        '/',
        contentItem.__typename!.toLowerCase(),
        contentItem.slug
      ]"
    >
      <span>{{ contentItem.title }}
        &nbsp;
        <mat-icon *ngIf="contentItem.ssoProtected" matTooltip="SSO Login Required">
          lock
        </mat-icon>
      </span>
    </a>
  </mat-card-title>

  <mat-card-content
    ><span class="card-summary">
      <p>{{ contentItem.summary }}</p>
    </span></mat-card-content
  >
</mat-card>
