@import "variables";

.subhub-child-card {
  background-color: $dark-blue;
  .card-label {
    color: $dark-blue;
    background: rgb(255, 255, 255);
  }
  .mat-card-title {
    span {
      color: white;
      &:hover {
        border-bottom: solid 2px white;
      }
    }
  }
  .card-summary {
    >p {
      color: white;
    }
  }
  mat-icon {
    color: white;
  }
}

mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: $dark-grey;
}

img {
  object-fit: cover;
  min-height: 200px;
  height: 200px; // this is likely redundant, but I want to assure that the element is never anything else but 200px in height
}
