@import "mixins";

div.feedback-container {
  text-align: center;
  @include size(large) {
    text-align: left;
  }
  p {
    font-size: 16px;
    text-align: center;
    @include size(large) {
      text-align: left;
    }
  }
}
