<!-- Banner -->
<div 
  class="banner-container site-padding-2"
xl="site-padding-mobile"
  [ngStyle]="{ 'background-image': coverImageUrl }">
  <div 
    class="banner-content-default">
    <h1>{{ title }}</h1>
    <h4>{{ summary }}</h4>
  </div>
</div> 

<div 
  class="site-padding margin-bottom top-padding"
  ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
  <h2>Thank you!</h2>
  <p>We are developing the ResearchHub further and would be grateful for your feedback.
    This will give us pointers for user-led refinement and further development of the interface content displayed
    in the ResearchHub.
  </p>
  <p>
    Thank you,<br/>
    The Development Team
  </p>
  <div 
    fxLayout="row" 
    fxLayoutGap="1em">
    <a 
      mat-raised-button 
      color="accent" 
      href="https://docs.google.com/forms/d/e/1FAIpQLSdxSyxLBBzexHDgPmjoAukxDzDo3fRHfKi4TmqFHYxa0dB37g/viewform" 
      target="_blank" 
      (click)="analyticsService.trackFeedback(location.path())">
        Provide Feedback
    </a>
  </div>
</div>
