<!-- Banner -->
<div 
  style="background: url('assets/images/banner19.jpg');"
  class="banner-container-home site-padding"
  ngClass.xs="site-padding-xs padding-bottom-xs" 
  ngClass.sm="site-padding-sm padding-bottom-sm"
  ngClass.md="site-padding-sm padding-bottom-sm">
  <div class="banner-content-home">
    <h1>{{ title }}</h1>
    <h4>{{ summary }}</h4>
  </div>
</div> 

<div 
  class="site-padding padding-bottom top-padding"
  ngClass.sm="site-padding-sm padding-bottom-sm top-padding"
  ngClass.xs="site-padding-xs padding-bottom-xs top-padding">
  <h2>Thank you!</h2>
  <p>We are developing the ResearchHub further and would be grateful for your feedback.
    This will give us pointers for user-led refinement and further development of the interface content displayed
    in the ResearchHub.
  </p>
  <p>
    Thank you,<br/>
    The Development Team
  </p>

  <div 
    fxLayout="row" 
    fxLayoutGap="1em">
    <a 
      href="https://docs.google.com/forms/d/e/1FAIpQLSdxSyxLBBzexHDgPmjoAukxDzDo3fRHfKi4TmqFHYxa0dB37g/viewform" 
      target="_blank" 
      (click)="analyticsService.trackFeedback(location.path())">
        <button 
          mat-flat-button 
          class="standard-button">
            Provide Feedback
        </button>
    </a>
  </div>
</div>
