<div style="margin-bottom: 2em;">
  <h2>Thank you!</h2>
  <p>We are developing the ResearchHub further and would be grateful for your feedback.
    This will give us pointers for user-led refinement and further development of the interface content displayed
    in the ResearchHub.
  </p>
  <p>
    Thank you,<br/>
    The Development Team
  </p>
</div>

<div fxLayout="row" fxLayoutGap="1em">
  <a mat-raised-button color="accent" href="https://docs.google.com/forms/d/e/1FAIpQLSdxSyxLBBzexHDgPmjoAukxDzDo3fRHfKi4TmqFHYxa0dB37g/viewform" target="_blank" (click)="analyticsService.trackFeedback(location.path())">Provide Feedback</a>
</div>
