/**
 * YoutTube Hyperlink
 */
 .youtube-container {
    display: flex;
    align-items: center;
    justify-content: center!important;
    position: relative;
    padding-top: 56.25%;
}
  
.youtube {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}