service: hub-search-proxy
custom:
  bucketBaseName: serverless-shared-bucket
  ResearchHub: ${self:service}
  BusinessService: Faculty of Science
  Department: Centre for eResearch
  ProjectCode: N/A
  WikiLink: https://wiki.auckland.ac.nz/display/APPLCTN/Research+Hub
  Application: ${self:service}
  CostCentre: N/A
  Faculty: Science
  customDomain:
    domainName: ${file(env/${self:provider.stage}.json):infra.awsApiGatewayCustomDomainName}
    basePath: ${self:service}-${self:provider.stage}
    stage: ${self:provider.stage}
provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'} # Deploy with sls deploy --stage STAGE (default dev)
  region: ap-southeast-2
  vpc:
    securityGroupIds:
      - sg-0226eccf470d21ee4
    subnetIds:
      - subnet-0d0a68988c480b3a4
      - subnet-0b55849cba433ce13
      - subnet-0fc970830487f2323
  endpointType: regional
  role: myDefaultRole
  timeout: 30
  tags:
    ResearchHub: ${self:custom.ResearchHub}
    BusinessService: ${self:custom.BusinessService}
    Department: ${self:custom.Department}
    ProjectCode: ${self:custom.ProjectCode}
    WikiLink: ${self:custom.WikiLink}
    Application: ${self:custom.Application}
    CostCentre: ${self:custom.CostCentre}
    Faculty: ${self:custom.Faculty}
  stackTags:
    ResearchHub: ${self:custom.ResearchHub}
    BusinessService: ${self:custom.BusinessService}
    Department: ${self:custom.Department}
    ProjectCode: ${self:custom.ProjectCode}
    WikiLink: ${self:custom.WikiLink}
    Application: ${self:custom.Application}
    CostCentre: ${self:custom.CostCentre}
    Faculty: ${self:custom.Faculty}
  deploymentBucket:
    name: ${self:custom.bucketBaseName}-${file(env/${self:provider.stage}.json):infra.deploymentBucketStage}  # Required because dev and test go into same bucket in nonprod
  environment:
    # Environment variables available to all functions in this service
    ELASTICSEARCH_ENDPOINT: ${file(env/${self:provider.stage}.json):ELASTICSEARCH_ENDPOINT}
    CORS_ACCESS_CONTROL_ALLOW_ORIGINS: ${file(env/${self:provider.stage}.json):CORS_ACCESS_CONTROL_ALLOW_ORIGINS}
    CONTENTFUL_SPACE_ID: ${file(env/${self:provider.stage}.json):CONTENTFUL_SPACE_ID}
    CONTENTFUL_MGMT_ACCESS_TOKEN: ${file(env/${self:provider.stage}.json):CONTENTFUL_MGMT_ACCESS_TOKEN}
    CONTENTFUL_ACCESS_TOKEN: ${file(env/${self:provider.stage}.json):CONTENTFUL_ACCESS_TOKEN}
    CONTENTFUL_ENVIRONMENT: ${file(env/${self:provider.stage}.json):CONTENTFUL_ENVIRONMENT}
    PROFILE: ${file(env/${self:provider.stage}.json):PROFILE}
  apiGateway:
    apiKeySourceType: HEADER
    apiKeys:
      - name: ${self:service}-${self:provider.stage}-apiKey
    
package:
  exclude:
    - .git/**
    - .vscode/*
    - test/*
    - package.json
    - package-lock.json
    - README.md
    - serverless.yml
functions:
  search:
    handler: handler.search
    events:
      - http:
          path: /
          method: post
          cors:
            origin: "${file(env/${self:provider.stage}.json):CORS_ACCESS_CONTROL_ALLOW_ORIGINS}"
            headers:
              - Content-Type
              - Authorization
              - sentry-trace
            allowCredentials: false
  update:
    handler: handler.update
    events:
      - http:
          path: doc/{id}
          method: put
          cors:
            true
          private: true
  delete:
    handler: handler.delete
    events:
      - http:
          path: doc/{id}
          method: delete
          cors:
            true
          private: true
  bulk:
    handler: handler.bulk
    events:
      - http:
          path: bulk
          method: get
          cors:
            true
          private: true
      - schedule: cron(0 12 * * ? *)
            
plugins:
  - serverless-offline
  - serverless-mocha-plugin
  - serverless-domain-manager

resources:
  Resources:
    myDefaultRole:
      Type: "AWS::IAM::Role"
      Properties:
        Path: /
        RoleName: ${self:service}-lambda-role-${self:provider.stage}
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: "sts:AssumeRole"
        ManagedPolicyArns:
          - "arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
        Policies:
          - PolicyName: myPolicyName
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - "logs:CreateLogGroup"
                    - "logs:CreateLogStream"
                    - "logs:PutLogEvents"
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:logs"
                          - Ref: "AWS::Region"
                          - Ref: "AWS::AccountId"
                          - "log-group:/aws/lambda/*:*:*"
                - Effect: Allow
                  Action:
                    - ssm:GetParameter
                    - ssm:GetParameters
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:ssm"
                          - Ref: "AWS::Region"
                          - Ref: "AWS::AccountId"
                          - "parameter/${self:provider.stage}/research-hub/*"
                - Effect: Allow
                  Action:
                    - kms:Decrypt
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:kms"
                          - Ref: "AWS::Region"
                          - Ref: "AWS::AccountId"
                          - "key/${file(env/${self:provider.stage}.json):resourceKey}"
                - Effect: Allow
                  Action:
                    - es:ESHttp*
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:es"
                          - Ref: "AWS::Region"
                          - "${file(env/${self:provider.stage}.json):elasticsearchDomainAccount}"
                          - "domain/${file(env/${self:provider.stage}.json):elasticsearchDomainName}/*"