<span [ngSwitch]="contentItem.contentType">

    <ng-template #image>
        <div 
            class="embedded-asset-block section-2"
            ngClass.xs="embedded-asset-block-mobile">
            <a href="{{ contentItem.url }}">
                <img *ngIf="contentItem.url" src="{{ contentItem.url }}"/>
            </a>
            <br>{{ contentItem.title }}
            <small class="asset-summary" *ngIf="contentItem.description">&nbsp;—&nbsp;{{ contentItem.description }}</small>
        </div>
    </ng-template>

    <!-- Asset Image -->
    <span *ngSwitchCase="'image/jpeg'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>
    <span *ngSwitchCase="'image/png'">
        <ng-container *ngTemplateOutlet="image"></ng-container>
    </span>

    <!-- Asset File -->
    <span *ngSwitchDefault>
        <div 
            class="embedded-asset-block"
            ngClass.xs="embedded-asset-block-mobile">
            <a href="{{ contentItem.url }}">
                {{ contentItem.title }}<small *ngIf="contentItem.description">&nbsp;—&nbsp;{{ contentItem.description }}</small>
            </a>
        </div>
    </span>
</span>