<div id="article-container" *ngIf="article">
  <div
    class="banner-container"
    [ngClass]="{ 'standard-banner': bannerImageUrl }"
    [ngClass.xs]="{ 'mobile-banner': bannerImageUrl }"
    [ngStyle]="{
      'background-image': bannerImageUrl ? 'url(' + bannerImageUrl + ')' : ''
    }"
  >
    <div class="banner-content">
      <!-- Title -->
      <h1
        role="heading"
        aria-level="1"
        class="content-title"
        ngClass.lt-md="content-title-mobile"
        [style]="article.banner ? bannerTextStyling : ''"
      >
        {{ article.title }}
      </h1>

      <!-- Maori Proverb -->
      <h2
        aria-level="2"
        *ngIf="article.maoriProverb"
        class="maori-proverb"
        [style]="article.banner ? bannerTextStyling : ''"
      >
        <hr />
        {{ article.maoriProverb }}
        <hr />
      </h2>

      <!-- Summary -->
      <p
        class="content-summary"
        ngClass.sm="content-summary-sm"
        ngClass.xs="content-summary-xs"
        [style]="article.banner ? bannerTextStyling : ''"
      >
        <small>{{ article.summary }}</small>
      </p>

      <!-- Call To Action -->
      <div class="section" *ngIf="article.callToAction">
        <div *ngIf="article.banner">
          <a
            href="{{ article.callToAction }}"
            mat-flat-button
            class="standard-button-banner"
          >
            <span *ngIf="article.callToActionLabel">{{
              article.callToActionLabel
            }}</span>
            <span *ngIf="!article.callToActionLabel">View Article</span>
          </a>
        </div>
        <div *ngIf="!article.banner">
          <a
            href="{{ article.callToAction }}"
            target="_blank"
            mat-flat-button
            class="standard-button"
          >
            <span *ngIf="article.callToActionLabel">{{
              article.callToActionLabel
            }}</span>
            <span *ngIf="!article.callToActionLabel">View Article</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-padding margin-bottom" ngClass.lt-md="site-padding-mobile">
    <app-breadcrumbs [title]="article.title!"></app-breadcrumbs>

    <div fxLayout="row" fxLayoutAlign="space-around" fxLayout.lt-lg="column">
      <!-- Article Body -->
      <ngx-contentful-rich-text
        fxFlexOrder="2"
        fxFlexOrder.lt-lg="1"
        fxFlex="1 1 35%"
        fxFlexOrder.xs="1"
        id="bodyMediaList"
        class="section-2"
        style="word-break: break-word"
        [document]="article.bodyText.json"
        [nodeRenderers]="nodeRenderers"
        [markRenderers]="markRenderers"
      ></ngx-contentful-rich-text>

      <!-- Extra Links -->
      <div
        *ngIf="
          relatedDocs.length > 0 ||
          relatedContacts.length > 0 ||
          relatedOrgs.length > 0
        "
        fxFlex.gt-lg="0 0 350px"
        fxLayout="column"
        fxFlexOrder="1"
        fxFlexOrder.lt-lg="2"
      >
        <h3 *ngIf="relatedContacts.length > 0">
          Contacts
          <hr />
        </h3>
        <div
          fxLayout="column"
          fxLayoutGap="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-contact-card
            *ngFor="let person of relatedContacts"
            [person]="person"
          ></app-contact-card>
        </div>

        <h3 *ngIf="relatedDocs.length > 0">
          Documents
          <hr />
        </h3>
        <div
          id="documents"
          fxLayout="column"
          fxLayoutGap="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-document-card
            *ngFor="let document of relatedDocs"
            [document]="document"
          ></app-document-card>
        </div>
        <h3 *ngIf="relatedOrgs.length > 0">
          Organisations
          <hr />
        </h3>
        <div
          fxLayout="column"
          fxLayoutGap="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-org-unit-card
            *ngFor="let orgUnit of relatedOrgs"
            [orgUnit]="orgUnit"
          ></app-org-unit-card>
        </div>
      </div>

      <!-- Related items -->
      <div
        *ngIf="relatedItems.length > 0"
        fxFlex.gt-lg="0 0 350px"
        fxLayout="column"
        fxFlexOrder="3"
      >
        <h3>
          Explore Related
          <hr />
        </h3>
        <div
          id="you-might-be-interested-in"
          fxLayout="column"
          fxLayoutGap="0px"
          fxLayout.lt-lg="row wrap"
          fxLayoutGap.lt-lg="25px"
          fxLayout.lt-sm="column"
          fxLayoutGap.lt-sm="0px"
        >
          <app-standard-card
            *ngFor="let content of relatedItems"
            [contentItem]="content"
          ></app-standard-card>
        </div>
      </div>
    </div>
  </div>
</div>
