@import "../../../../styles";

.tile-icon {
    height: 7vh;
    font-size: 6vh;
}

.tile-icon-lg {
    height: 3.5vh;
    font-size: 4vh;
}

.tile-icon-md {
    height: 3vh;
    font-size: 3.5vh;
}

.tile-icon-sm {
    height: 2.5vh;
    font-size: 3vh;
}

.tile-icon-xs {
    height: 2vh;
    font-size: 3vh;
}