<div 
  *ngIf="allCategories$ | async as allCategories" 
  class="content-container">
  <div
    class="text site-padding"
    ngClass.lt-md="site-padding-mobile">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>  
  </div>

  <!-- Category Cards Container -->
  <div
    fxLayout="row wrap"
    fxLayoutGap="1%"
    fxLayout.lt-md="column wrap"
    class="site-padding"
    ngClass.lt-md="site-padding-mobile">

    <!-- Category Cards Content -->
    <div
      *ngFor="let item of allCategories.items"
      fxFlex="24%"
      fxLayout="column"
      fxLayoutAlign="center">

        <!-- Individual Category Card -->
        <mat-card
          fxLayout="column"
          fxLayoutAlign="space-between"
          class="tile-content">
          <div>
            <mat-card-title class="card-title">
              <a 
                selected
                class="title-text"
                [routerLink]="['/']"> <!-- Redirect to search page -->
                  {{ item.name }}
              </a>
            </mat-card-title>
            <mat-card-content class="card-summary">
              {{ item.description }}
            </mat-card-content>
          </div>
          <mat-card-actions>
            <a 
              class="tile-button"
              [routerLink]="['/']"> <!-- Redirect to search page -->
              <button 
                  mat-flat-button 
                  class="standard-button">
                  <span>
                      View Category
                  </span>
              </button>
          </a>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>