@import '../../../../styles.scss';
@import '../../../../themes.scss';
@import '../../../../typography.scss';
@import '../home.component.scss';


/**
 * Browse and guide tiles
 */
.tile-content {
  height: 100%;
  padding: 2.5vh;
  text-align: center;
  background-color: white;
  text-decoration: none;
  & .title-text {
      font-size: 3vh;
      color: map-get($hub-navy, 500);
  }
  & .tile-button {
    color: map-get($hub-navy, 500);
    font-size: 2vh!important;
  }
  & .standard-button {
    @extend .standard-button;
    border: 0.25vh solid map-get($hub-navy, 500)!important;
    background-color: map-get($hub-navy, 500)!important;
    &:hover {
      @extend .standard-button;
      background-color: white!important;
      color: map-get($hub-navy, 500)!important;
    }
  }
}