<div 
  *ngIf="allCategories$ | async as allCategories" 
  class="browse-container">
  <div class="text">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>  
  </div>
  <div
    fxLayoutGap="1%"
    fxLayout="row wrap"
    fxLayout.lt-md="column wrap"
    class="site-padding"
    ngClass.lt-lg="site-padding-mobile">
    <div
      *ngFor="let item of allCategories.items"
      fxFlex="24%"
      fxLayout="column"
      fxLayoutAlign="center">
        <mat-card
          class="activity tile-content"
          fxLayout="column"
          fxLayoutAlign="space-between">
          <div>
            <mat-card-title class="card-title">
              <a 
                selected
                class="title-text"
                [routerLink]="['/']"> <!-- Add slug link here -->
                  {{ item.name }}
              </a>
            </mat-card-title>
            <mat-card-content class="card-summary">{{ item.description }}</mat-card-content>
          </div>
          <mat-card-actions>
            <a [routerLink]="['/']"> <!-- Add slug link here -->
              <button 
                  mat-flat-button 
                  class="standard-button">
                  <span>
                      View Category
                  </span>
              </button>
          </a>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>