<div class="browse-container">
  
</div>
<div class="text">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>  
</div>

<div>
  <div 
    fxLayout="column wrap" 
    fxLayoutGap="1vh"
    fxLayout.lt-sm="column">
    <div *ngFor="let item of categoryOptionsGQL; let i = index" [ngClass]="item.className">
      <div 
        class="panel"
        fxLayout="row wrap">
        <div 
          class="inner-panel">
          <div
            selected 
            [routerLink]="item.url">
            <h3>
              {{ item.name }}
            </h3>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
        <div fxHide.lt-lg class="research-category-img" style="width: 55vw;margin-left: -5vw;">
          <img style="object-fit:cover;width:100%;max-height:30vh" src="assets/images/research-categories/{{item.id}}-min.jpg">
        </div>
      </div>
    </div>
  </div>
</div>