@import 'variables';
@import 'mixins';
// @import '../home.component.scss'; //should not be imported here

/**
 * Custom Text
 */
.text {
  width: 100%;
  @extend .text;
  @include size(large) {
    text-align: left;
  }
}


/**
 * Browse and guide tiles
 */
.tile-content {
  height: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  .title-text {
    font-size: 24px;
    color: map-get($hub-navy, 500);
  }
  .tile-button {
    color: map-get($hub-navy, 500);
    font-size: 16px!important;
  }
  .standard-button {
    @extend .standard-button;
    margin-bottom: 16px;
    border: 3px solid map-get($hub-navy, 500)!important;
    background-color: map-get($hub-navy, 500)!important;
    &:hover {
      @extend .standard-button;
      background-color: white!important;
      color: map-get($hub-navy, 500)!important;
    }
  }
}

mat-card {
  box-shadow: 0px 0px 10px #cfcfcf!important;
}
