<!-- If we're displaying a collection of events  -->
<app-collection-list 
    *ngIf="allEvents$ | async as allEvents" 
    [collection]="allEvents">
</app-collection-list>

<!-- If we're displaying an individual event -->
<div 
    id="event-container"
    ngClass.xs="mobile"
    *ngIf="event$ | async as event">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <div 
            id="breadcrumbs" 
            *ngIf="!!parentSubHubs" 
            ngClass.xs="breadcrumbs-mobile">
            <span 
                class="breadcrumb-subhub" 
                *ngFor="let subHub of parentSubHubs.slice().reverse()">
                <a [routerLink]="'/subhub/' + subHub.slug">
                    {{ subHub.title }}
                </a>
            </span>
            <span id="breadcrumb-current-page">
                {{ event.title }}
            </span>
        </div>
    </ng-template>

    <ng-template #banner></ng-template> 

    <ng-template #title>
        <div>
            <span>
                <div 
                    class="event-title"
                    ngClass.xs="event-title-xs">
                    {{ event.title }}
                </div>
                <div 
                    class="event-summary"
                    ngClass.xs="event-summary-xs">
                    {{ event.summary }}
                </div>
                <div 
                    class="section" 
                    fxShow.xs="true"
                    fxHide>
                </div>
            </span>
            <div class="section">
                <hr/>
            </div>
        </div>
    </ng-template>

    <ng-template #details>
        <div 
            class="specifications section">
            <table class="details-table">
                <tr>
                <th>Name</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="event.date">
                    <td>Date</td>
                    <td>{{ event.date }}</td>
                </tr>
                <tr *ngIf="event.location">
                    <td>Location</td>
                    <td>{{ event.location }}</td>
                </tr>
                <!-- <tr *ngIf="event.address">
                    <td>Address</td>
                    <td>{{ event.address | json }}</td>
                </tr> -->
                <tr *ngIf="event.availability">
                    <td>Availability</td>
                    <td>{{ event.availability }}</td>
                </tr>
                <tr *ngIf="event.audience">
                    <td>Audience</td>
                    <td>{{ event.audience }}</td>
                </tr>
                <tr *ngIf="event.mode">
                    <td>Mode of Delivery</td>
                    <td>{{ event.mode }}</td>
                </tr>
                <tr *ngIf="event.capabilities">
                    <td>Capabilities</td>
                    <td>{{ event.capabilities }}</td>
                </tr>
            </table>
        </div>
    </ng-template>

    <ng-template #description>
        <div>
            <mat-card-content [innerHTML]="event.bodyText.json | richTextToHTML">
            </mat-card-content>
            <div 
                class="event-details-button" 
                fxLayoutAlign.xs="center center">
                <a href="{{ event.link }}">
                    <button mat-raised-button>
                        <b>Event Details</b>
                    </button>
                </a>
            </div>
        </div>
    </ng-template>

    <ng-template #googleMap></ng-template>

    <ng-template #keywords>
        <div id="keywords">
            <h4>Keywords<hr/></h4>
            <mat-card-subtitle 
                fxLayout="row wrap"> 
                <span *ngFor="let keyword of event.keywords">
                    <mat-card 
                        fxLayout="row" 
                        class="keyword-card">
                            {{ keyword | humanCase }}
                    </mat-card>
                </span>
            </mat-card-subtitle>
        </div>
    </ng-template>

    <!-- Event Content -->
    <div
        class="site-padding top-padding margin-bottom"
        ngClass.xs="site-padding-sm top-padding margin-bottom"
        ngClass.sm="site-padding-sm top-padding margin-bottom"
        ngClass.md="site-padding-sm top-padding margin-bottom"
        ngClass.lg="site-padding-sm top-padding margin-bottom">
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>
        <ng-container *ngTemplateOutlet="title"></ng-container>
        <ng-container *ngTemplateOutlet="description"></ng-container>
        <ng-container *ngTemplateOutlet="details"></ng-container>
        <ng-container *ngTemplateOutlet="keywords"></ng-container>
    </div>
</div>