<!-- If we're displaying a collection of event -->
<div
    *ngIf="allEvents$ | async as allEvents" 
    class="site-padding margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allEvents"></app-collection-list>
</div>

<!-- If we're displaying an individual event -->
<div 
    id="event-container"
    *ngIf="event | async as event">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="event.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #dynamicBanner>
        <div 
            class="banner-container"
            [style]="event.banner ? 'background: url(' + event.banner.url + ') no-repeat' : 'display: none;'">
        </div>  
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="content-title" 
            ngClass.lt-md="content-title-mobile">
            {{ event.title }}
        </h1>

        <h3 class="content-summary" 
            ngClass.sm="content-summary-sm" 
            ngClass.xs="content-summary-xs">
            {{ event.summary }}
        </h3>
    </ng-template>

    <ng-template #specificationsTable>
        <div 
            class="specifications section">
            <table class="specifications-table">
                <tr>
                <th>Name</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="event.date">
                    <td>Date</td>
                    <td> {{ event.date | date:'longDate'}} {{ event.date | date:'shortTime'}}</td>
                </tr>
                <tr *ngIf="event.location">
                    <td>Location</td>
                    <td [innerHTML]="event.location.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="event.availability">
                    <td>Availability</td>
                    <td>{{ event.availability }}</td>
                </tr>
                <tr *ngIf="event.audience">
                    <td>Audience</td>
                    <td>{{ event.audience }}</td>
                </tr>
                <tr *ngIf="event.mode">
                    <td>Mode of Delivery</td>
                    <td>{{ event.mode }}</td>
                </tr>
                <tr *ngIf="event.capabilities">
                    <td>Capabilities</td>
                    <td>{{ event.capabilities }}</td>
                </tr>
            </table>
        </div>
    </ng-template>
    
    <ng-template #relatedItems let-hide="hideImage">
        <app-cards
            [flex]="'row wrap'"
            [hideImage]="hide"
            [title]="'You might be interested in'" 
            [contentItem]="event.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations>
        <app-cards 
            [title]="'Organisations'" 
            [contentItem]="event.relatedOrgsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedFacilities>
        <app-cards 
            [title]="'Organisations'" 
            [contentItem]="event.relatedFacilityCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedContacts>
        <app-cards 
            [title]="'Contacts'" 
            [contentItem]="event.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <!-- Banner -->
    <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

    <div
        class="site-padding margin-bottom" 
        ngClass.lt-md="site-padding-mobile top-padding">

        <!-- Breadcrumbs -->
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

        <div>

            <!-- Title and Summary -->
            <div fxLayout="column wrap">
                <div>
                    <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                </div>
                <div class="mini-hr">
                    <hr/>
                </div>
            </div>

            <!-- event Body -->
            <div class="body-text">
                <ngx-contentful-rich-text
                    style="word-break:break-word;" 
                    [document]="event.bodyText.json"
                    [nodeRenderers]="nodeRenderers">
                </ngx-contentful-rich-text>
            </div>

            <!-- Call To Action -->
            <div class="section">
                <a href="{{ event.callToAction }}">
                    <button 
                        mat-flat-button 
                        class="standard-button">
                        <span *ngIf="event.callToActionLable">
                            {{ event.callToActionLable }}
                        </span>
                        <span *ngIf="!event.callToActionLable">
                            View Event
                        </span>
                    </button>
                </a>
            </div>

            <!-- Specifications Table -->
            <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>
            
            <!-- Owners and User Facing Support -->
            <div
                class="event-owners"
                fxLayout="column wrap"
                fxLayout.xs="column wrap"
                fxLayoutGap="5%">
                <div *ngIf="event.relatedContactsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedContacts; context: { hideImage: true }"></ng-container>
                </div>
                <div *ngIf="event.relatedOrgsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedOrganisations; context: { hideImage: true }"></ng-container>
                </div>
                <div  *ngIf="event.relatedFacilityCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedFacilities; context: { hideImage: true }"></ng-container>
                </div>
            </div>

            <!-- Related Items -->
            <div class="section">
                <ng-container *ngTemplateOutlet="relatedItems; context: { hideImage: false }"></ng-container>
            </div>
        </div>
    </div>
</div>