@import '../../../themes.scss';
@import '../search-results/search-results.component.scss';

mat-expansion-panel, mat-card  {
    margin: 1vh 0;
}

.section {
    padding: 20px 0px;
 }

/**
 * The container for an individual event
 */ 
#event-container {
    width: 65%;
    margin: 0 auto;

    #breadcrumbs {
        margin-bottom: 3vh;

        .breadcrumb-subhub {
            &::after {
                color: $color-icon;
                margin: 0 0.5em 0 0.5em;
                content: '/'
            }
        }

        #breadcrumb-current-page {
            color: $color-icon;
        }
    }
    .breadcrumbs-mobile {
        font-size: 8px;
    }

    #keywords {
        font-size: 14px;
        color: map-get($hub-navy, 500);
    }

    .related-item-summary {
        color: gray;
    }
}
.mobile {
    width: 100%!important;
}


/**
 * Event Title
 */
.event-title {
    font-size: 36px;
    font-weight: bold; 
    line-height: 110%;
    margin-bottom: 5px;
    color: map-get($hub-navy, 500);
}
.event-title-xs {
    font-size: 25px;
}


/**
 * Event Summary
 */ 
.event-summary {
    font-size: 16px; 
    margin-bottom: 10px;
    color: $color-icon;
    line-height: 110%;
}
.article-summary-xs {
    font-size: 15px; 
}


/**
 * Calendar Container
 */ 
.calendar-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.calendar-icon-container { 
    padding-bottom: 5px; 
    border-radius: 5px;
    border: 1px solid grey;
}
.calendar-icon-header {
    color:white;
    background-color:#943030; 
    border-bottom: 1px solid grey; 
}
.calendar-icon-body {
    font-size: 3em; 
    text-align: center; 
    min-height: fit-content;
    min-width: fit-content;
    padding: 20px;
}


/**
 * Event Details
 */
 .event-details {
     padding: 10px;
     font-size: 12px;
     color: #757575;
     background: #f5f5f5;
     border-top: 1px solid #e0e0e0;
     border-bottom: 1px solid #e0e0e0;
 }
 .event-details mat-icon {
    height: 14px;
    width: 14px;
    font-size: 14px;
    margin-right: 5px;
    color: #b0b0b0;
 }
.event-details-button,
.event-details-button button {
    border-color: #0294a5;
}


/**
 * Keyword Card
 */ 
.keyword-card {
    margin: 5px; 
    padding: 5px 10px;
    font-size: 12px; 
    border-radius: 25px;
    color: #828282;
    background: #F0F0F0;
    box-shadow: none !important;
}
