@import '../../../themes.scss';
@import '../search-results/search-results.component.scss';

mat-expansion-panel, mat-card  {
    margin: 1vh 0;
}

.section {
    padding: 20px 0px;
 }

/**
 * The container for an individual event
 */ 
#event-container {
    width: 65%;
    margin: 0 auto;

    #breadcrumbs {
        margin-bottom: 3vh;

        .breadcrumb-subhub {
            &::after {
                color: $color-icon;
                margin: 0 0.5em 0 0.5em;
                content: '/'
            }
        }

        #breadcrumb-current-page {
            color: $color-icon;
        }
    }
    .breadcrumbs-mobile {
        font-size: 8px;
    }

    #keywords {
        margin-top: 40px;
        font-size: 14px;
        color: map-get($hub-navy, 500);
    }

    .related-item-summary {
        color: gray;
    }
}
.mobile {
    width: 100%!important;
}


/**
 * Event Title
 */
.event-title {
    font-size: 48px;
    font-weight: bold; 
    line-height: 110%;
    margin-bottom: 5px;
    color: map-get($hub-navy, 500);
}
.event-title-xs {
    font-size: 25px;
}


/**
 * Event Summary
 */ 
.event-summary {
    font-size: 20px; 
    margin-bottom: 10px;
    color: $color-icon;
    line-height: 110%;
}
.article-summary-xs {
    font-size: 15px; 
}


/**
 * Keyword Card
 */ 
.keyword-card {
    margin: 5px; 
    padding: 5px 10px;
    font-size: 12px; 
    border-radius: 25px;
    color: #828282;
    background: #F0F0F0;
    box-shadow: none !important;
}

/**
 * Specifications Table
 */ 
.details-table {
    border-collapse: collapse; 
    width: 100%;
  }
  
  .details-table td, .details-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .details-table tr:nth-child(even){
      background-color: #f2f2f2;
    }
  .details-table td:nth-child(odd){
      font-weight: bold;
      width: 25%}
  
  .details-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: map-get($hub-teal, 500);
    color: $color-background;
  }

/**
* Event Details Button
*/ 
.event-details-button {
    margin: 50px 0px;
}

.event-details-button .mat-raised-button {
    color: white;
    background-color: map-get($hub-teal, 500);
    border-radius: 50px;
}
