@import "variables";
@import "mixins";
@import "styles-common";

/**
 * Custom Text
 */
.text {
  width: 100%;
  @extend .text;
  @include size(large) {
    text-align: left;
  }
}

.content-container {
  width: 95vw;
  margin: 60px auto;
  @extend .site-padding;
}

/**
 * Research Activity Container
 */
.research-activity-content {
  .outer-panel {
    width: 100%;
    height: 240px;
    text-align: center;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);

    // For the box-shadow
    display: table;
    overflow: hidden;

    &:active,
    &:focus {
      outline: none;
      text-decoration: none;
    }
    .inner-panel {
      margin-right: 20px; /* Set to 0 if you don't want shadow at the right side */
      margin-left: 0px; /* Set to 20px if you want shadow at the left side */
      margin-top: 0px; /* Set to 20px if you want shadow at the top side */
      margin-bottom: 0px; /* Set to 20px if you want shadow at the bottom side */
      box-shadow: -3px 0px 10px black;

      width: 100%;
      margin: 0 auto;
      transform: skew(0deg);
      margin-left: 0vw;
      height: 240px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      background: map-get($hub-teal, 700);
      border: 4px solid map-get($hub-teal, 700);
      transition: background 0.11s ease-in-out, color 0.1s ease-in-out;
      @include size(medium) {
        width: 55%;
        margin-left: -5vw;
        transform: skew(30deg);
      }
      * {
        color: #ffffff;
      }
      div {
        width: 100%;
        transform: skew(0deg);
        @include size(medium) {
          width: 60%;
          transform: skew(-30deg);
        }
        &:active,
        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
      h3 {
        width: 90vw;
        line-height: 1.05;
        margin: 5px auto;
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
        word-wrap: break-word;
        @include size(medium) {
          width: 100%;
          font-size: 40px;
        }
      }
      p {
        width: 90vw;
        font-size: 16px;
        margin: 0 auto;
        word-wrap: break-word;
        @include size(medium) {
          width: 100%;
          font-style: italic;
          font-size: 20px;
        }
      }
      &:hover {
        cursor: pointer;
        background: #ffffff;
        border: 4px solid map-get($hub-teal, 700);
        transition: background 0.11s ease-in-out;
        * {
          transition: background 0.11s ease-in-out;
          color: map-get($hub-teal, 700) !important;
        }
      }
    }
    .research-category-img {
      width: 55vw;
      margin-left: -5vw;

      > img {
        object-fit: cover;
        width: 100%;
        height: 240px;
      }
    }
  }
}
