@import "../../../../styles";
  
  
/**
 * Browse Container
 */
.research-activity-content,
.research-activity-content * {
  padding: 2vh 0;
  overflow-x: hidden !important;
}
  
  
/**
 * Text
 */
.text {
  text-align: center;
  width: 50vw;
  margin: 5vh auto;
}
.text h2 {
  font-size: 5.5vh;
}
.text p {
  font-size: 3vh;
}
    
  /**
    * Panel
    */
  .panel {
    text-align: center;
    width: 100%;
  }
  .panel:active,
  .panel:focus {
    outline: none;
    text-decoration: none;
  }
  .inner-panel{
    height: 30vh;
    width: 55vw;
    transform: skew(30deg); 
    margin-left: -5vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.5vh solid map-get($hub-teal, 500);
    background: map-get($hub-teal, 500);
    transition: background 0.11s ease-in-out, color 0.1s ease-in-out;
  }
  .inner-panel:hover {
    cursor: pointer;
    background: #fafafa;
    border: 0.5vh solid map-get($hub-teal, 500);
    transition: background 0.11s ease-in-out;
  }
  .inner-panel:hover * {
    transition: background 0.11s ease-in-out;
    color: map-get($hub-teal, 500)!important;
  }
  .inner-panel * {
    color: #fafafa;
    }
  .inner-panel div {
    transform: skew(-30deg); 
    width: 60%;
  }
  .inner-panel h3 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.1;
    font-size: 5vh;
  }
  .inner-panel p {
    font-style: italic;
    font-size: 2.5vh;
  }
  .inner-panel-image {
    flex-grow: 1;
    margin-left: -5vw;
  }
  .inner-panel div:active,
  .inner-panel div:focus {
    text-decoration: none;
    outline: none;
  }

/**
  * Mobile
  */
  @media screen and (max-width: 150vh) {
    .inner-panel {
      width: 100%;
      margin: 0 auto;
      transform: skew(0deg); 
      margin-left: 0vw;
    }
    .inner-panel div {
      transform: skew(0deg); 
      width: 100%;
    }
    .inner-panel h3 {
      line-height: 1.1;
      font-size: 3vh;
    }
    .inner-panel p {
      font-size: 2vh;
      width: 90vw;
      margin: 0 auto;
      word-wrap: break-word;
    }
    .inner-panel-image {
      flex-grow: 0;
    }
    .text {
      text-align: center;
      width: 95vw;
      margin: 1vh auto;
    }
    .text h2 {
      font-size: 4vh;
    }
    .text p {
      font-size: 2vh;
    }
  }