<div>
  <div class="content-container">
    <div
      class="text site-padding"
      ngClass.lt-md="site-padding-mobile">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>  
    </div>
  </div>

  <!-- Research Acitivities Container -->
  <div class="research-activity-container">

    <!-- Research Activities Content -->
    <div
      fxLayout="column" 
      fxLayoutGap="8px"
      class="research-activity-content">
      <div *ngFor="let item of researchActivityOptions">

        <!-- Panel Container -->
        <div 
          class="outer-panel"
          fxLayout="row">

          <!-- Panel Button -->
          <div class="inner-panel">
            <div
              selected 
              [routerLink]="['/search']" 
              [queryParams]="getQueryParams(item)">
              <h3>
                {{ item.name }}
              </h3>
              <p>
                {{ item.description }}
              </p>
            </div>
          </div>

          <!-- Panel Image -->
          <div 
            fxHide.lt-lg
            class="research-category-img">
              <img src="assets/images/research-categories/{{ item.id }}-min.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>