/**
 *  Entry Inline
 */
 .embedded-entry-inline mat-card {
    padding: 5px;
    border: 1px solid; 
    box-shadow: none;
    color: #0294a5;
    width: fit-content;
    display: inline-block !important;
    background-color: rgba(255, 255, 255, 0);
}