<h2>{{ node.name }}</h2>
<section>
  <button
    mat-button
    [routerLink]="['/', node.type.toLowerCase(), node.slug]"
    class="standard-button"
  >
    Visit in ResearchHub
  </button>
  <a
    mat-button
    [href]="'https://app.contentful.com/spaces/vbuxn5csp0ik/entries/' + node.id"
    target="_blank"
    class="standard-button"
    >Edit in Contentful</a
  >
</section>

<mat-divider></mat-divider>

<ng-container *ngIf="node.linkedFrom && node.linkedFrom.length > 0">
  <h3>Linked from</h3>
  <section class="links-list">
    <div *ngFor="let neighbour of node.linkedFrom" class="detail-item">
      <!-- <span class="label">{{ neighbour.type | contentTypeDisplayName }}</span> -->
      <span class="neighbour-title">{{ neighbour.name }}</span>
      <span class="detail-buttons">
        <button
          mat-icon-button
          color="primary"
          (click)="changeSelection(neighbour)"
        >
          <mat-icon>sync_alt</mat-icon>
        </button>
        <a
          mat-icon-button
          color="primary"
          [routerLink]="['/', neighbour.type.toLowerCase(), neighbour.slug]"
        >
          <mat-icon>article</mat-icon>
        </a>
        <a
          mat-icon-button
          color="primary"
          [href]="
            'https://app.contentful.com/spaces/vbuxn5csp0ik/entries/' +
            neighbour.id
          "
          ><mat-icon>edit</mat-icon></a
        >
      </span>
    </div>
  </section>
</ng-container>

<mat-divider></mat-divider>

<ng-container *ngIf="node.linksTo && node.linksTo.length > 0">
  <h3>Links to</h3>
  <section class="links-list">
    <div *ngFor="let neighbour of node.linksTo" class="detail-item">
      <!-- <span class="label">{{ neighbour.type | contentTypeDisplayName }}</span> -->
      <span class="neighbour-title">{{ neighbour.name }}</span>
      <span class="detail-buttons">
        <button
          mat-icon-button
          color="primary"
          (click)="changeSelection(neighbour)"
        >
          <mat-icon>sync_alt</mat-icon>
        </button>
        <a
          mat-icon-button
          color="primary"
          [routerLink]="['/', neighbour.type.toLowerCase(), neighbour.slug]"
        >
          <mat-icon>article</mat-icon>
        </a>
        <a
          mat-icon-button
          color="primary"
          [href]="
            'https://app.contentful.com/spaces/vbuxn5csp0ik/entries/' +
            neighbour.id
          "
          ><mat-icon>edit</mat-icon></a
        >
      </span>
    </div>
  </section>
</ng-container>

<mat-divider></mat-divider>
