@use "@angular/material" as mat;
@import "variables";

.detail-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    flex: 0 0 auto;

    &.neighbour-title {
      flex-shrink: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-y: hidden;
      max-width: 65%;
    }
  }
}
