@use "@angular/material" as mat;
@import "variables";

.detail-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    flex: 0 0 auto;

    &.neighbour-title {
      gap: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-shrink: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-y: hidden;
      max-width: 65%;
    }
  }
}

mat-accordion {
  mat-panel-title {
    gap: 5px;
  }

  .badge {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .selected-node-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.color-square {
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin: 2px;
}
