
<!-- If we're displaying a collection of service -->
<div
    *ngIf="allServices$ | async as allServices" 
    class="site-padding-2 margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allServices"></app-collection-list>
</div>

<!-- If we're displaying an individual service -->
<div 
    id="service-container"
    *ngIf="service | async as service">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="service.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #dynamicBanner>
        <div 
            class="banner-container"
            [style]="service.banner ? 'background: url(' + service.banner.url + ') no-repeat fixed center' : 'display: none'">
        </div>  
    </ng-template>

    <ng-template #specificationsTable>
        <div
            *ngIf="service.audience ||
                   service.cost ||
                   service.access ||
                   service.availability"
            class="specifications">
            <table class="specifications-table margin-bottom">
                <tr>
                <th>Details</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="service.audience">
                    <td>Audience</td>
                    <td [innerHTML]="service.audience"></td>
                </tr>
                <tr *ngIf="service.cost">
                    <td>Cost</td>
                    <td [innerHTML]="service.cost"></td>
                </tr>
                <tr *ngIf="service.access">
                    <td>Access</td>
                    <td [innerHTML]="service.access"></td>
                </tr>
                <tr *ngIf="service.availability">
                    <td>Availability</td>
                    <td [innerHTML]="service.availability"></td>
                </tr>
            </table>
        </div>
    </ng-template>
    
    <ng-template #relatedItems let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'You might be interested in'" 
            [contentItem]="service.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Organisations'" 
            [contentItem]="service.relatedOrgsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedDocuments let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Documents'" 
            [contentItem]="service.relatedDocsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedContacts let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Contacts'" 
            [contentItem]="service.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="content-title" 
            ngClass.lt-md="content-title-mobile">
            {{ service.title }}
        </h1>

        <p class="content-summary" 
            ngClass.lt-sm="content-summary-sm">
            {{ service.summary }}
        </p>
    </ng-template>

    <!-- Banner -->
    <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

    <div
        class="site-padding margin-bottom" 
        ngClass.lt-md="site-padding-mobile top-padding">

        <!-- Breadcrumbs -->
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

        <div>

            <!-- Title and Summary -->
            <div fxLayout="column wrap">
                <div>
                    <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                </div>
                <!-- Call To Action -->
                <div *ngIf="service.callToAction">
                    <a href="{{ service.callToAction }}">
                        <button 
                            mat-flat-button
                            class="standard-button section">
                            <span *ngIf="service.callToActionLabel">
                                {{ service.callToActionLabel }}
                            </span>
                            <span *ngIf="!service.callToActionLabel">
                                View Service
                            </span>
                        </button>
                    </a>
                </div>
                <div
                    class="mini-hr"
                    *ngIf="!service.callToAction">
                    <hr/>
                </div>
            </div>

            <!-- Service Body -->
            <div>
                <ngx-contentful-rich-text
                    style="word-break:break-word;" 
                    [document]="service.bodyText.json"
                    [nodeRenderers]="nodeRenderers">
                </ngx-contentful-rich-text>
            </div>

            <!-- Specifications Table -->
            <div
                class="section-2"
                *ngIf="
                    service.audience ||
                    service.cost ||
                    service.access ||
                    service.availability">
            <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>
            </div>

            <!-- Owners and User Facing Support -->
            <div
                class="service-owners section"
                fxLayout="column">
                <div  *ngIf="service.relatedItemsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedItems; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div *ngIf="service.relatedContactsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedContacts; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div *ngIf="service.relatedOrgsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedOrganisations; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div *ngIf="service.relatedDocsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedDocuments; context: { hideImage: true }"></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
    