<!-- Main Navbar -->
<mat-toolbar
  aria-label="Top Toolbar"
  id="top-bar"
  #topbar
  color="primary"
  class="mat-elevation-z6"
>
  <mat-toolbar-row class="main-navbar-row">
<!--    <a role="button" class="skip-link" [href]="skipLinkPathSearch"-->
<!--      >Skip to search</a-->
<!--    >-->
<!--    <a role="button" class="skip-link" [href]="skipLinkPathMainContent"-->
<!--      >Skip to main content</a-->
<!--    >-->

    <!-- Logo/Home -->
    <a
      aria-label="ResearchHub home"
      class="hub-logo"
      mat-button
      [routerLink]="'/'"
    >
      <img [src]="'assets/imgs/hub-logo.svg'" alt="hub-logo" />
    </a>

    <span style="flex: 1 1 auto"></span>

    <app-search-bar #searchBar></app-search-bar>

    <span class="hide-small" style="flex: 1 1 auto"></span>

    <!--Navigation buttons-->
    <a mat-button class="hide-small overflow-ellipsis" [routerLink]="'/researcher-development'">
      Researcher development
    </a>
    <a mat-button class="hide-small" [routerLink]="'/categories'">
      Categories
    </a>

    <!-- dropdown test-->
    <button mat-button class="hide-small nav-link" (click)="toggleDropdown()">
      Research stage
    </button>

    <ng-container
      *ngIf="loggedIn$ | async; then isSignedIn; else signIn"
    ></ng-container>
  </mat-toolbar-row>
<!--  <mat-toolbar-row class="navbar-row-show-small">-->
<!--    <a mat-button class="overflow-ellipsis" [routerLink]="'/researcher-development'">Researcher development</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Categories</a>-->
<!--    <a mat-button [routerLink]="'/stage'">Research stage</a>-->
<!--  </mat-toolbar-row>-->
</mat-toolbar>

<!-- dropdown test-->
<div #dropdownMenu id="dropdownMenu" class="dropdown-menu" [class.show]="showDropdown">
  <div class="dropdown-header">
    <a href="/stage" class="dropdown-title">Research stage</a>
    <button class="close-btn" (click)="closeDropdown()">✕</button>
  </div>
  <div class="dropdown-content">
    <a mat-button href="/plan-the-research">Plan the research</a>
    <a mat-button href="/fund-the-research">Fund & establish the research</a>
    <a mat-button href="/conduct-the-research">Conduct the research</a>
    <a mat-button href="/manage-the-research-project">Manage the research project</a>
    <a mat-button href="/share-the-research">Share the research</a>
    <a mat-button href="/improve-the-research">Improve the research</a>
  </div>
</div>


<!--<div id="dropdownMenu" class="dropdown-menu" [class.show]="showDropdown">-->
<!--  <button class="close-btn" (click)="closeDropdown()">✕</button>-->
<!--  <div class="dropdown-content">-->
<!--    <a mat-button [routerLink]="'/categories'">Strategy and governance</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Vision Mātauranga</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Impact and engagement</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Skills and development</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Data management</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Ethics, integrity, and compliance</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Project management</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Sourcing and managing funding</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Software and computing</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Facilities and equipment</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Intellectual property and commercialisation</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Research centres and institutes</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Profiles and metrics</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Outputs and publishing</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Collections and data repositories</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Research services</a>-->
<!--    <a mat-button [routerLink]="'/categories'">Research support community</a>-->
<!--  </div>-->
<!--</div>-->



<!--templates-->
<ng-template #isSignedIn>
  <ng-container *ngIf="userInfo$ | async; let userInfo">
    <button
      role="button"
      mat-button
      (click)="loginService.logout()"
      (keydown.enter)="loginService.logout()"
      [matTooltip]="userInfo?.firstName + ' ' + userInfo.lastName"
    >
      <mat-icon fxHide.xs matPrefix style="margin-right: 5px">person</mat-icon>
      Sign&nbsp;out
    </button>
  </ng-container>
</ng-template>

<!--Sign in button template-->
<ng-template #signIn>
  <a
    role="button"
    mat-button
    (click)="loginService.doLogin(currentUrl)"
    (keydown.enter)="loginService.doLogin(currentUrl)"
  >
    Sign in
  </a>
</ng-template>
