<!-- Main Navbar -->
<mat-toolbar
  aria-label="Top Toolbar"
  id="top-bar"
  #topbar
  color="primary"
  class="mat-elevation-z6"
>
  <mat-toolbar-row class="main-navbar-row">
    <a role="button" class="skip-link" [href]="skipLinkPathSearch"
      >Skip to search</a
    >
    <a role="button" class="skip-link" [href]="skipLinkPathMainContent"
      >Skip to main content</a
    >

    <!-- Logo/Home -->
    <a
      aria-label="ResearchHub home"
      class="hub-logo"
      mat-button
      [routerLink]="'/'"
    >
      <img [src]="'assets/imgs/hub-logo.svg'" alt="hub-logo" />
    </a>

    <span style="flex: 1 1 auto"></span>

    <app-search-bar #searchBar></app-search-bar>

    <span class="hide-small" style="flex: 1 1 auto"></span>

    <!--Navigation buttons-->
    <a mat-button class="hide-small" [routerLink]="'/categories'">
      Categories
    </a>
    <a mat-button class="hide-small" [routerLink]="'/activities'">
      Activities
    </a>
    <ng-container
      *ngIf="loggedIn$ | async; then isSignedIn; else signIn"
    ></ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-row-show-small">
    <a mat-button [routerLink]="'/categories'">Categories</a>
    <a mat-button [routerLink]="'/activities'">Activities</a>
  </mat-toolbar-row>
</mat-toolbar>

<!--templates-->
<ng-template #isSignedIn>
  <ng-container *ngIf="userInfo$ | async; let userInfo">
    <button
      role="button"
      mat-button
      (click)="loginService.logout()"
      (keydown.enter)="loginService.logout()"
      [matTooltip]="userInfo?.firstName + ' ' + userInfo.lastName"
    >
      <mat-icon fxHide.xs matPrefix style="margin-right: 5px">person</mat-icon>
      Sign&nbsp;Out
    </button>
  </ng-container>
</ng-template>

<!--Sign in button template-->
<ng-template #signIn>
  <a
    role="button"
    mat-button
    (click)="loginService.doLogin(currentUrl)"
    (keydown.enter)="loginService.doLogin(currentUrl)"
  >
    Sign In
  </a>
</ng-template>
