<!-- Entry Block -->
<span>

  <!-- Templates -->
  <ng-template #image>
      <img mat-card-image srcset="{{ contentItem.banner?.url }}?w=1000&fm=webp,
                    {{ contentItem.banner?.url }}?w=1000" src="{{ contentItem.banner?.url }}?w=1000"
          alt="{{ contentItem.title }}-banner">
  </ng-template>
  <ng-template #noImage>
      <div style="margin-top: 10px;"></div>
  </ng-template>

  <!-- Default Entry Block Template -->
  <ng-template #default>
      <mat-card class="embedded-entry-block">
          <ng-container *ngIf="contentItem.banner; then image; else noImage"></ng-container>
          <mat-card-title>
              <a [routerLink]="'/' + contentItem['__typename'].toLowerCase() + '/' + contentItem['slug']">
                  {{ contentItem['title'] }}
              </a>
              <mat-icon *ngIf="contentItem.ssoProtected" matTooltip="SSO Login Required">&nbsp;lock</mat-icon>
          </mat-card-title>
          <mat-card-content><span class="card-summary">{{ contentItem['summary'] }}</span></mat-card-content>
          <span *ngIf="contentItem['__typename'] !== 'Person'" class="call-to-action"
              style="display: flex; align-items: center;max-width: fit-content">
              <a [routerLink]="'/' + contentItem['__typename'].toLowerCase() + '/' + contentItem['slug']">
                  View {{ contentItem['__typename'] | humanCase }}&nbsp;&nbsp;</a>
              <img class="arrow" style="height: 20px; width: auto" src="assets/components/teal-arrow.png"
                  alt="call-to-action-arrow">
          </span>
      </mat-card>
  </ng-template>

  <!-- Different Types of Entry Content -->
  <span [ngSwitch]="contentItem.__typename">

      <!-- Article -->
      <span *ngSwitchCase="'Article'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Case Study -->
      <span *ngSwitchCase="'CaseStudy'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Equipment -->
      <span *ngSwitchCase="'Equipment'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Event -->
      <span *ngSwitchCase="'Event'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Link Card -->
      <span *ngSwitchCase="'LinkCard'">
          <div>
              <a href="{{ contentItem.document ? contentItem.document.url : contentItem.url }}" target="_blank">
                  <mat-card class="embedded-entry-block">
                      <mat-card-title><a
                              href="{{ contentItem.document ? contentItem.document.url : contentItem.url }}"
                              target="_blank">
                              {{ contentItem.title }}&nbsp;
                          </a>
                          <mat-icon *ngIf="contentItem.ssoProtected" matTooltip="SSO Login Required">lock</mat-icon>
                      </mat-card-title>
                      <mat-card-content><span class="card-summary">{{ contentItem.summary }}</span>
                      </mat-card-content>
                  </mat-card>
              </a>
          </div>
      </span>

      <!-- Official Document -->
      <span *ngSwitchCase="'OfficialDocuments'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Organisational Unit -->
      <span *ngSwitchCase="'OrganisationalUnit'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Service -->
      <span *ngSwitchCase="'Service'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Software -->
      <span *ngSwitchCase="'Software'">
          <ng-container *ngTemplateOutlet="default"></ng-container>
      </span>

      <!-- Video -->
      <span *ngSwitchCase="'Video'">
          <app-video-card [contentItem]="contentItem"></app-video-card>
      </span>

      <!-- Table -->
      <span *ngSwitchCase="'Table'">
          <div class="table-container section">
              <h3>{{ contentItem.name }}</h3>

              <!-- Horizontal Headers -->
              <ng-container
                  *ngIf="contentItem.table.useHorizontalHeaders && !contentItem.table.useVerticalHeaders">
                  <table class="body-table">
                      <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                          <ng-container *ngFor="let column of row; let j = index">
                              <th role="columnheader" *ngIf="i === 0" [innerHTML]="column | MarkdownToHtml"></th>
                              <td role="cell" *ngIf="i !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                          </ng-container>
                      </tr>
                  </table>
              </ng-container>

              <!-- Vertical Headers -->
              <ng-container
                  *ngIf="contentItem.table.useVerticalHeaders && !contentItem.table.useHorizontalHeaders">
                  <table class="body-table">
                      <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                          <ng-container *ngFor="let column of row; let j = index">
                              <th role="columnheader" *ngIf="j === 0" [innerHTML]="column | MarkdownToHtml"></th>
                              <td role="cell" *ngIf="j !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                          </ng-container>
                      </tr>
                  </table>
              </ng-container>

              <!-- Horizontal and Vertical Headers -->
              <ng-container
                  *ngIf="contentItem.table.useVerticalHeaders && contentItem.table.useHorizontalHeaders">
                  <table class="body-table">
                      <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                          <ng-container *ngFor="let column of row; let j = index">
                              <th role="columnheader" *ngIf="j === 0 || i === 0"
                                  [innerHTML]="column | MarkdownToHtml"></th>
                              <td role="cell" *ngIf="j !== 0 && i !== 0" [innerHTML]="column | MarkdownToHtml"></td>
                          </ng-container>
                      </tr>
                  </table>
              </ng-container>

              <!--  No Headers -->
              <ng-container
                  *ngIf="!contentItem.table.useVerticalHeaders && !contentItem.table.useHorizontalHeaders">
                  <table class="body-table">
                      <tr role="row" *ngFor="let row of contentItem.table.tableData; let i = index">
                          <td role="cell" *ngFor="let column of row; let j = index"
                              [innerHTML]="column | MarkdownToHtml"></td>
                      </tr>
                  </table>
              </ng-container>
          </div>
      </span>
  </span>
</span>