<mat-card>
  <span class="card-label">Document</span>

  <mat-card-title>
    <a
      class="card-title"
      [attr.href]="document.url ?? document.document?.url"
      target="_blank"
    >
      {{ document.title }}
    </a>
  </mat-card-title>
  <mat-card-content>
    <span class="card-summary">
      <p>{{ document.summary }}</p>
    </span>
  </mat-card-content>

  <!-- <span
    *ngIf="document.url  || document.document"
    class="call-to-action"
    style="display: flex; align-items: center; max-width: fit-content"
  >
    <a
      [attr.href]="document.url ?? document.document?.url"
      target="_blank"
      >View Document&nbsp;&nbsp;</a
    >
    <img
      class="arrow"
      alt="link-arrow"
      style="height: 20px; width: auto"
      src="assets/components/dark-arrow.png"
    />
  </span> -->
</mat-card>
