<app-search-filter-bar
  [searchText]="searchText"
  [totalResults]="totalResults"
  [(sortOrder)]="sortOrder"
  [(activeFilters)]="activeFilters"
></app-search-filter-bar>

<!-- Search Results -->
<div
  id="search-results"
  ngClass.gt-sm="search-content site-padding-2 section"
  ngClass.lt-md="site-padding search-content section"
>
  <app-search-results-list
    [searchResults]="{ results: searchResults, totalResults: totalResults }"
    [loading]="loading"
  ></app-search-results-list>
  <!--Load more or no results message-->
  <div
    class="eol"
    *ngIf="
      !loading && searchResults.length === totalResults && totalResults !== 0
    "
  >
    <div>No More Results</div>
  </div>

  <!-- No results message -->
  <div *ngIf="totalResults === 0">
    <app-no-results [searchText]="searchText" [searchContext]="searchContext"></app-no-results>
  </div>
</div>

<!-- Floating up button -->
<button
  mat-mini-fab
  matTooltip="Scroll to top"
  class="floating-button"
  (click)="scrollToTop()"
  >
  <mat-icon>arrow_drop_up</mat-icon>
</button>
