@import '../../../themes';

.form-group {
  margin-top: 1em;
  margin-bottom: 3em;
}

.step-form-container {
  position: relative;
  margin-bottom: 1em;
}

.step-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(235, 234, 235, 0.9);
  width: 100%;
  height: 100%;
}

.request-card-header {
  padding-left: 16px;
  margin-bottom: 1.5em;
}

mat-horizontal-stepper /deep/ div.mat-horizontal-stepper-header-container>:last-child {
  pointer-events: none !important;
}

h3 {
  color: map-get($hub-navy, 500);
}
