@import "variables";
@import "mixins";

mat-expansion-panel,
mat-card  {
   margin: 1vh 0;
}


/**
 * banner Image
 */
.no-banner {
   display: none;
}

.mobile-banner {
   background-repeat: no-repeat;
   padding: 20vh 0px;
}

.standard-banner {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   padding: 20vh 0px;
}

/**
 * Specifications Table
 */
.specifications-table {
   width: 100%;
   border-collapse: collapse;
   @include size(large) { 
      width: 50%;
      margin: 0 auto;}
   td, th {
      border: 1px solid #ddd;
      padding: 8px;
   }
   th {
      text-align: left;
      padding-top: 12px;
      margin-bottom: 12px;
      color: $color-background;
      background-color: map-get($hub-teal, 700);
   }
   tr:nth-child(even) {
      background-color: #f2f2f2;
   }
   td:nth-child(odd) {
      font-weight: bold;
      width: 25%;
   }
}


/**
 * Custom Button Styles
 */
.standard-button {
   @extend .standard-button;
   border: 3px solid map-get($hub-navy, 500)!important;
   background-color: map-get($hub-navy, 500)!important;
}
.standard-button:hover {
   color: map-get($hub-navy, 500)!important;
   border-radius: 50px!important;
   background-color: white!important;
   transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}



/**
 * Funding Application Documents
 */
.application-doc-container {
   margin:0 4px;
   max-width: 30%; 
}
.application-doc {
   max-width: 100%; 
   text-align: center; 
}

/**
  * Download Card
  */
.file {
  margin: 12px 0px;
}
.file .mat-card {
   margin: 0 auto;
   text-align: left;
   background-color: $light-grey;
   transition: background-color 0.2s ease-in-out
}
.file .mat-card:hover {
   background-color: $input-grey;
   transition: background-color 0.2s ease-in-out
}
.file .mat-card:hover .file-size{
   background-color: #c9c9c9;
   transition: background-color 0.2s ease-in-out
}

/**
* Download Button
*/
.download {
   margin-top: 10px;
}
.download a {
   color: map-get($hub-navy, 500);
}
.mat-card-title a {
   color: map-get($hub-navy, 500);
   border-bottom: solid 2px transparent;
}
.mat-card-title a:hover {
   border-bottom: solid 2px map-get($hub-navy, 500);
}
.mat-card:hover .download-arrow {
   -webkit-animation: download 0.5s ease-in-out forwards;
}

@-webkit-keyframes download {
   0% {opacity: 1; transform: translate(0px, 0px)}
   40% {opacity: 0; transform: translate(0px, 10px)}
   60% {opacity: 0; transform: translate(0px, -10px)}
   100%  {opacity: 1; transform: translate(0px, 0px)}
}

/**
* File Size Label
*/
.file-size {
   width: fit-content;
   padding: 5px;
   color: $dark-grey;
   background: $input-grey;
   transition: background-color 0.2s ease-in-out
}

/**
 * If viewed on a mobile device
 */
 .application-doc-container-mobile {
    max-width: 100%;
 }
 .application-doc-mobile .mat-card  {
     width: 100%;
 }