<!-- If we're displaying a collection of Fundings-->
<div
  *ngIf="allFundings$ | async as allFundings"
  class="site-padding margin-bottom top-padding"
  ngClass.lt-md="site-padding-mobile margin-bottom top-padding"
>
  <app-collection-list [collection]="allFundings"></app-collection-list>
</div>

<div id="funding-container" *ngIf="funding | async as funding">
  <!-- Banner -->
  <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

  <div
    class="site-padding margin-bottom"
    ngClass.lt-md="site-padding-mobile top-padding"
  >
    <app-breadcrumbs
      [contentItem]="parentSubHubs"
      [title]="funding.title"
    ></app-breadcrumbs>

    <!-- Title and Summary -->
    <div fxLayout="column wrap">
      <div>
        <ng-container
          *ngTemplateOutlet="titleSummary; context: { $implicit: funding }"
        ></ng-container>
      </div>

      <!-- Call To Action -->
      <div *ngIf="funding.callToAction">
        <a
          href="{{ funding.callToAction }}"
          target="_blank"
          mat-flat-button
          class="standard-button section"
        >
          <span *ngIf="funding.callToActionLabel">{{
            funding.callToActionLabel
          }}</span>
          <span *ngIf="!funding.callToActionLabel">View Funding</span>
        </a>
      </div>
      <div class="mini-hr" *ngIf="!funding.callToAction"><hr /></div>
    </div>

    <!-- Specifications Table -->
    <div
      class="section-2"
      *ngIf="
        funding.type ||
        funding.funding ||
        funding.eligibility ||
        funding.eligibleExpenses ||
        funding.deadlines
      "
    >
      <ng-container
        *ngTemplateOutlet="specificationsTable; context: { $implicit: funding }"
      ></ng-container>
    </div>

    <!-- Funding Body -->
    <div class="section">
      <ngx-contentful-rich-text
        id="bodyMediaList"
        style="word-break: break-word"
        [document]="funding.bodyText?.json"
        [nodeRenderers]="nodeRenderers"
        [markRenderers]="markRenderers"
      ></ngx-contentful-rich-text>
    </div>

    <!-- Funding Application Documents -->
    <h3>
      Application Documents
      <hr />
    </h3>
    <div
      *ngIf="
        funding.applicationDocumentsCollection?.items.length > 0;
        else noApplicationDocs
      "
      fxLayout="row wrap"
      fxLayout.lt-sm="column wrap"
      fxlayoutgap="1%"
    >
      <div
        class="application-doc-container"
        ngClass.xs="application-doc-container-mobile"
        *ngFor="let item of funding.applicationDocumentsCollection.items"
        fxflex
      >
        <div class="application-doc file" ngClass.xs="application-doc-mobile">
          <a href="{{ item.url }}">
            <mat-card>
              <mat-card-title class="card-title">
                <a href="{{ item.url }}">{{ item.title }}</a>
              </mat-card-title>
              <mat-card-content class="card-summary">
                <div>{{ item.description }}</div>
                <div class="download">
                  <a href="{{ item.url }}">
                    <img
                      class="download-arrow"
                      style="height: 10px; width: auto"
                      src="assets/components/navy-download.png"
                      alt="download-arrow"
                    />Download File</a
                  >&nbsp;
                  <span *ngIf="item.size * 0.001 < 1" class="file-size"
                    >{{ item.size | number: "1.0-0" }}&nbsp;B</span
                  >
                  <span
                    *ngIf="item.size * 0.001 < 1000 && item.size * 0.001 >= 1"
                    class="file-size"
                    >{{ item.size * 0.001 | number: "1.0-0" }}&nbsp;kB</span
                  >
                  <span *ngIf="item.size * 0.001 >= 1000" class="file-size"
                    >{{ item.size * 0.000001 | number: "1.0-0" }}&nbsp;MB</span
                  >
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
    <ng-template #noApplicationDocs>
      <p>It looks like there aren't any documents here.</p>
    </ng-template>

    <!-- Related -->
    <div class="funding-owners section" fxLayout="column">
      <h3>
        Explore Related
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-standard-card
          id="you-might-be-interested-in"
          *ngFor="let content of funding.relatedItemsCollection.items"
          [contentItem]="content"
        ></app-standard-card>
      </div>

      <h3 *ngIf="funding?.relatedContactsCollection.items.length > 0">
        Contacts
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-contact-card
          *ngFor="let person of funding.relatedContactsCollection.items"
          [person]="person"
        ></app-contact-card>
      </div>

      <h3 *ngIf="funding?.relatedOrgsCollection.items.length > 0">
        Organisations
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-org-unit-card
          *ngFor="let orgUnit of funding.relatedOrgsCollection.items"
          [orgUnit]="orgUnit"
        ></app-org-unit-card>
      </div>

      <h3 *ngIf="funding?.relatedDocsCollection.items.length > 0">
        Documents
        <hr />
      </h3>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px">
        <app-document-card
          *ngFor="let document of funding.relatedDocsCollection.items"
          [document]="document"
        ></app-document-card>
      </div>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #dynamicBanner>
  <div
    class="banner-container"
    [ngClass]="
      bannerImageUrl === undefined
        ? 'no-banner'
        : isMobile
        ? 'mobile-banner'
        : 'standard-banner'
    "
    [ngStyle]="
      bannerImageUrl && { 'background-image': 'url(' + bannerImageUrl + ')' }
    "
  ></div>
</ng-template>

<ng-template #titleSummary let-funding>
  <h1
    role="heading"
    aria-level="1"
    class="content-title"
    ngClass.lt-md="content-title-mobile"
  >
    {{ funding.title }}
  </h1>
  <p
    class="content-summary"
    ngClass.sm="content-summary-sm"
    ngClass.xs="content-summary-xs"
  >
    {{ funding.summary }}
  </p>
</ng-template>

<ng-template #specificationsTable let-funding>
  <div id="specifications-table" class="specifications section">
    <table class="specifications-table" role="table">
      <tr role="row">
        <th role="columnheader">Details</th>
        <th role="columnheader">Description</th>
      </tr>
      <tr *ngIf="funding.type" role="row">
        <td role="cell">Type (fund/award/prize)</td>
        <td role="cell">{{ funding.type }}</td>
      </tr>
      <tr *ngIf="funding.funding" role="row">
        <td role="cell">Funding</td>
        <td role="cell">{{ funding.funding }}</td>
      </tr>
      <tr *ngIf="funding.eligibility" role="row">
        <td role="cell">Eligibility</td>
        <td role="cell">{{ funding.eligibility }}</td>
      </tr>
      <tr *ngIf="funding.eligibleExpenses" role="row">
        <td role="cell">Eligible Expenses</td>
        <td role="cell">{{ funding.eligibleExpenses }}</td>
      </tr>
      <tr role="row">
        <td role="cell">Deadlines</td>
        <td role="cell">
          <div *ngIf="funding.deadlines">
            <ngx-contentful-rich-text id="bodyMediaList" style="word-break:break-word;"
                [document]="funding.deadlines?.json"
                [nodeRenderers]="nodeRenderers"
                [markRenderers]="markRenderers"
            ></ngx-contentful-rich-text>
        </div>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
