<mat-expansion-panel *ngIf="expandPart$ | async as expandPart" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
  <mat-expansion-panel-header>  
    <mat-panel-title>
      {{ expandPart.title }}
    </mat-panel-title>

    <mat-panel-description *ngIf="panelOpenState === false && expandPart.showSummary" ngClass.xs="description-xs">
      {{ getSummaryText(expandPart.bodyText?.json) }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <!-- Lazy render the rich text when the panel is opened -->
  <ng-template [matExpansionPanelContent]>
    <ngx-contentful-rich-text id="expand-body" class="section-2 body-media-list" style="word-break:break-word;"
      [document]="expandPart.bodyText?.json"
      [nodeRenderers]="nodeRenderers"
      [markRenderers]="markRenderers">
    </ngx-contentful-rich-text>
  </ng-template> 
  
</mat-expansion-panel>
