<h2>Message from the Director</h2>

<div class="the-director div-background-image" ngClass.xs="the-director-xs" [ngStyle]="{'background-image': 'url(' + theDirectorUrl + ')'}"></div>

<p>The computational demands of today's research questions often require highly specialised computing and storage
  infrastructure, along with advanced software tools and services. The Centre for eResearch pioneers the development
  of such infrastructure and services on behalf of the University's research communities. We work hand-in-hand with
  researchers to help them leverage computational advances in pursuit of their own research questions. To this end we
  aim to provide sophisticated computing environments, advanced storage solutions for managing large research data
  collections, and a variety of productivity and community support software tools.
</p>
<p>
  The centre also plays a key role in providing leadership in eResearch at the national level, hosting both
  the BeSTGRID grid middleware and the New Zealand eScience Infrastructure (NeSI) at the University of Auckland.
</p>
<p>
  Our vision at the Centre for eResearch is to be a nationally and internationally influential community of eResearch
  practitioners, developers and thought leaders. We aim to excel in facilitating the research of others, as well as
  contributing to the evolving research themes within the field of eResearch itself.
</p>
<p>
  The information on this website will give you a real sense of the many different kinds of services we provide and
  the wide range of researchers and research communities that we partner with. If you would like to find out more,
  or how the centre might help you with your computational needs, please do not hesitate to get in touch with our
  staff.
</p>
