@import "../../../styles";

.the-director {
  margin-top: 0.2em;
  margin-right: 2em;
  margin-bottom: 1em;
  float: left;
  width: 280px;
  height: 400px;
}

.the-director-xs {
  @extend .the-director;
  width: 100%;
  height: 400px;
  margin: 0 0 1em;
  background-position: center top;
}
