@import "../../../styles.scss";
@import '../../../themes.scss';
@import '../../../typography.scss';


.the-director {
  float: left;
  margin-right: 1.5vh;
  margin-bottom: 1em;
  width: 35vh;
  height: 50vh;
}

.the-director-xs {
  @extend .the-director;
  width: 100%;
  height: 50vh;
  margin: 0 0 1em;
  background-position: center top;
}

.div-background-image {
  background-size: cover;
  background-position: center;
}