/*
 * Research Activity Themes
 */
$research-activity-palette-plan:  (
  50 : #ece7f1,
  100 : #d0c3dd,
  200 : #b19cc7,
  300 : #9174b0,
  400 : #7a569f,
  500 : #62388e,
  600 : #5a3286,
  700 : #502b7b,
  800 : #462471,
  900 : #34175f,
  A100 : #c09aff,
  A200 : #a067ff,
  A400 : #8034ff,
  A700 : #701aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$research-activity-palette-create:  (
    50 : #e6f3f9,
    100 : #c1e0f0,
    200 : #97cce6,
    300 : #6db8db,
    400 : #4ea8d4,
    500 : #2f99cc,
    600 : #2a91c7,
    700 : #2386c0,
    800 : #1d7cb9,
    900 : #126bad,
    A100 : #def0ff,
    A200 : #abd8ff,
    A400 : #78c0ff,
    A700 : #5eb4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$research-activity-palette-analyze:  (
  50 : #e6f3e7,
  100 : #c2e1c3,
  200 : #99cd9b,
  300 : #70b873,
  400 : #51a955,
  500 : #329a37,
  600 : #2d9231,
  700 : #26882a,
  800 : #1f7e23,
  900 : #136c16,
  A100 : #a3ffa5,
  A200 : #70ff74,
  A400 : #3dff42,
  A700 : #24ff29,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$research-activity-palette-publish:  (
  50 : #fef3e3,
  100 : #fce0b9,
  200 : #facb8b,
  300 : #f7b65d,
  400 : #f6a73a,
  500 : #f49717,
  600 : #f38f14,
  700 : #f18411,
  800 : #ef7a0d,
  900 : #ec6907,
  A100 : #ffffff,
  A200 : #ffece1,
  A400 : #ffcdae,
  A700 : #ffbd95,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$research-activity-palette-discover:  (
  50 : #f9e6e7,
  100 : #f0c2c2,
  200 : #e6999a,
  300 : #dc7071,
  400 : #d55152,
  500 : #cd3234,
  600 : #c82d2f,
  700 : #c12627,
  800 : #ba1f21,
  900 : #ae1315,
  A100 : #ffe0e0,
  A200 : #ffadad,
  A400 : #ff7a7a,
  A700 : #ff6061,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);