@import 'themes';
@import 'typography';


/**
 * Native Elements
 */
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}
html, 
body {
  margin: 0;
  padding: 0;
  color: $body-light-bg-font-color;
}
hr {
  height: 0.125vh;
  border: none;
  background-color: $input-grey;
}
.mini-hr {
  margin: 1vw 0px 5vw 0px;
  position: relative;
}
.mini-hr hr {
  width: 8vw;
  border: none;
  height: 0.5vh;
  position: absolute;
  background: map-get($hub-navy, 500);
  color: map-get($hub-navy, 500);
}
.section {
  margin: 2.5vh 0px;
}
.section-2 {
  margin: 5vh 0px;
}


/*
 * Text styles
 * https://material.angular.io/guide/typography
 */
h1 {
  color: $heading-1-font-color;
  font-family: $font-family;
  margin-bottom: 2vh;
}
h2 {
  color: $heading-2-font-color;
  font-family: $font-family;
  margin-bottom: 2vh;
}
h3 {
  color: $heading-3-font-color;
  font-family: $font-family;
  margin-bottom: 2vh;
}
h4 {
  color: $heading-4-font-color;
  margin-bottom: 2vh;
}
p {
  color: $dark-grey;
  font-family: $font-family;
}
a {
  text-decoration: none;
  color: $link-light-bg-color;
  font-family: $font-family;
}
span {
  font-family: $font-family;
}


/* 
 * app-markdown related styles
 */
@mixin headings {
  h1, h2, h3, h4, h5, h5 {
    @content;
  }
}
@mixin links {
  a {
    @content;
  }
}


/*
 * Gloabl styles and Material overrides
 */
mat-chip.mat-chip {
  font-size: mat-font-size($app-chips-typography, button);
  font-weight: mat-font-weight($app-chips-typography, button);
}
mat-card  {
  margin: 1vh 0;
}
mat-icon,
.mat-icon-button,
svg {
  font-size: 3vh!important;
  width: 3vh!important;
  height: 3vh!important;
  line-height: 3vh!important;
}
.mat-expansion-indicator::after {
  font-size: 1vh!important;
  width: 1vh!important;
  height: 1vh!important;
  margin-right: 2vh!important;
}


.avatar-btn > span.mat-button-wrapper {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
.avatar-btn > span.mat-button-wrapper > img {
  width: 9.3vh;
  height: 9.3vh;
}
.site-content {
  flex: 1 1 auto !important;
  margin: 0 auto;
}
.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-style: italic;
}
.chip-avatar {
  margin-right: 2vh;
  border-radius: 50%;
}


/**
 * Browser Settings
 */
.site-padding {
  @extend .site-content;
    padding-left: $padding-site;
    padding-right: $padding-site;
}
.site-padding-2 {
  @extend .site-content;
    padding-left: 20vw;
    padding-right: 20vw;
}
.top-padding {
  padding-top: $padding-site-top;
}
.top-padding-2 {
  padding-top: 10vh;
}
.margin-bottom {
  margin-bottom: $padding-site-top;
}
.margin-bottom-2 {
  margin-bottom: 10vh;
}


/**
 * Small Mobile Settings
 */
.site-padding-mobile {
  @extend .site-content;
    padding-left: 5vh;
    padding-right: 5vh;
}
.margin-bottom-mobile {
  margin-bottom: 5vh;
}


/*
 * Browse and guide tiles
 */
.browse-tile {
  cursor: pointer;
  background-color: $color-browse-tile-bg;
  text-decoration: none;
}
.browse-tile-new {
  cursor: pointer;
  background-color: $color-guide-tile-bg;
  text-decoration: none;
}
.tile-content {
  text-align: center;
}
.tile-text {
  color: $browse-tile-font-color;
  @include mat-typography-level-to-styles($app-browse-grid-typography, body-1);
}
.tile-icon {
  color: $browse-tile-font-color;
  font-size: mat-font-size($app-browse-grid-typography, body-2)!important;
  font-weight: mat-font-weight($app-browse-grid-typography, body-2)!important;
  width: 100%;
}


/*
 * Override site-wide material design tooltip style
 */
.mat-tooltip {
  color: #ffffff;
  font-size: smaller;
  background-color: #004059;
}


/*
 * Top menu drop-down style
 */
.mat-menu-content, 
.mat-menu-item {
  color: white;
  background-color: map-get($hub-teal, 500);
  font-size: mat-font-size($app-base-typography, body-1);
}

/**
 * Content Styles
 */
 .banner-container {
  min-width: 100%; 
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  background-size: cover!important;
}
.banner-content {
  width: 50%;
  color: white;
  display: inline-block;
}
.banner-content-default {
  padding: 5vh;
  width: 100%;
  display: inline-block;
  box-shadow: 0 0.5vh 0.17vh -0.3vh rgba(0,0,0,.2), 0 0.3vh 0.3vh 0 rgba(0,0,0,.14), 0 0.17vh 0.8vh 0 rgba(0,0,0,.12);
  background-color: white;
}
// Content Titles
.content-title {
  color: map-get($hub-navy, 500);
  font-size: 6.25vh;
  font-weight: bold; 
  line-height: 110%;
}
.content-title-mobile {
  font-size: 4.4vh;
}
.content-summary {
  color: $color-icon;
  font-size: 2.5vh; 
  line-height: 110%;
}
.content-summary-mobile {
  font-size: 1.9vh; 
}
// Card Text
.card-title {
  font-size: 1.8vh;
  color: map-get($hub-navy, 500)!important;
}
.card-summary {
  font-size: 1.6vh;
  color: $color-icon;
}
// Section Padding
.section {
  margin: 4vh 0px;
}


/**
 * Custom Button Styles
 */
 .standard-button {
  color: white!important;
  padding-bottom: 0.3vh!important;
  border: 0.25vh solid map-get($hub-teal, 500)!important;
  border-radius: 6.25vh!important;
  background-color: map-get($hub-teal, 500)!important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.standard-button:hover {
  color: map-get($hub-teal, 500)!important;
  border-radius: 6.25vh!important;
  background-color: white!important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.alternate-button {
  color: map-get($hub-teal, 500)!important;
  padding-bottom: 0.3vh!important;
  border: 0.25vh solid white!important;
  border-radius: 6.25vh!important;
  background-color: white!important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.alternate-button:hover {
  color: white!important;
  border-radius: 6.25vh!important;
  background-color: map-get($hub-teal, 500)!important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}


/**
 * Call To Action Arrow
 */
 .call-to-action a,
 .call-to-action span {
  font-size: 2.25vh;
}
.arrow {
  transition: transform 0.2s ease-out;
  height: 2.5vh;
  width: auto;
}
.call-to-action:hover .arrow {
  transform: translate(1.25vh);
  transition: transform 0.2s ease-out
}


/**************************/

// Size/Media Query Mixins /

/**************************/

@mixin size($size) {

  /* Extra small devices (phones, 600px and down) */
  @if $size == extra-small {
      @media only screen and (max-width: 599px) { @content; }
  }

  /* Small devices (portrait tablets and large phones, 640px and up) */
  @if $size == small {
      @media only screen and (min-width: 640px) { @content; }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @if $size == medium {
      @media only screen and (min-width: 768px) { @content; }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @if $size == large {
      @media only screen and (min-width: 992px) { @content; }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @if $size == extra-large {
      @media only screen and (min-width: 1200px) { @content; }
  }
}