@import 'themes';
@import 'typography';

html, body {
  margin: 0;
  padding: 0;
  color: $body-light-bg-font-color;
}

/*
 * Text styles
 https://material.angular.io/guide/typography
 */

h1 {
  margin-top: 0;
  color: $heading-1-font-color;
  font-family: $font-family;
}

h2 {
  color: $heading-2-font-color;
  font-family: $font-family;
}

h3 {
  color: $heading-3-font-color;
  font-family: $font-family;
}

h4 {
  color: $heading-4-font-color;
  font-family: $font-family;
}

p {
  margin-top: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $link-light-bg-color;
  font-family: $font-family;
}

span {
  font-family: $font-family;
}

/* app-markdown related styles

  (they don't take effect in the component scss)

 */

@mixin headings {
  h1, h2, h3, h4, h5, h5 {
    @content;
  }
}

@mixin links {
  a {
    @content;
  }
}

.description {
  background-color: $color-content-summary-bg;
}

.description app-markdown {
  color: $body-light-bg-font-color;
}

.input-full-width {
  width: 100% !important;
}

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-style: italic;
}

.chip-avatar {
  margin-right: 12px;
  border-radius: 50%;
}

/*
Gloabl mat-chip style
 */

mat-chip.mat-chip {
  font-size: mat-font-size($app-chips-typography, button);
  font-weight: mat-font-weight($app-chips-typography, button);
}

.avatar-btn > span.mat-button-wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.avatar-btn > span.mat-button-wrapper > img {
  width: 56px;
  height: 56px;
}

.flex-hack {
  flex: 1 1 auto !important; // For Safari
  //width: 100%; // For IE 11
}

.site-content {
  @extend .flex-hack;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-page-max !important; // If not important then gets overidden by some fxLayout styles
}

.site-padding {
  @extend .site-content;
  margin-top: $offset-gt-xs / 2.0;
  margin-bottom: 5em;
  padding-top: $padding-site;
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.site-padding-xs {
  @extend .site-content;
  margin-top: $offset-xs / 2.0;
  margin-bottom: $offset-xs;
  padding-top: $offset-xs;
  padding-left: $offset-xs;
  padding-right: $offset-xs;
}

.site-padding-sm {
  @extend .site-content;
  margin-top: $offset-xs / 2.0;
  margin-bottom: 5em;
  padding-top: $padding-site / 2.0;
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.back-button-padding-xs {
  @extend .site-content;
  margin-top: $offset-xs / 2.0;
  padding-left: $offset-xs;
  padding-right: $offset-xs;
}

.site-content-padded {
  @extend .site-content;
  padding-top: 3em;
  padding-bottom: 3em;
}

.back-button {
  padding-left: 0 !important;
  min-width: 0 !important;
  padding-right: 10px !important;
}

.card-fab {
  position: absolute;
  z-index: 100;
  bottom: -28px;
  right: 28px;
}

.div-background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.component {
  margin: $offset-gt-xs;
  max-width: $width-page-max;
}

.component-xs {
  @extend .component;
  margin: $offset-xs;
}

/*
 * Make app-filter-dialog take up whole page
 */

app-filter-dialog {
  display: block;
  margin: -24px;
}


/*
 * Browse and guide tiles
 */

.browse-tile {
  cursor: pointer;
  background-color: $color-browse-tile-bg;
  text-decoration: none;
}

.tile-content {
  text-align: center;
}

.tile-text {
  color: $browse-tile-font-color;
  transform: translate(0%, -50%);
  @include mat-typography-level-to-styles($app-browse-grid-typography, body-1);
}

.tile-icon {
  color: $browse-tile-font-color;
  font-size: mat-font-size($app-browse-grid-typography, body-2);
  font-weight: mat-font-weight($app-browse-grid-typography, body-2);
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 0; // For IE11, so that the icon will be centred, despite absolute positioning being used
}

/*
 * Override site-wide material design tooltip style
 */
.mat-tooltip {
  color: #ffffff;
  font-size: smaller;
  background-color: #004059;
}

/*
 * Top menu drop-down style
 */
.mat-menu-content, .mat-menu-item {
  background-color: #0294A5;
  color: #ffffff;
  font-size: mat-font-size($app-base-typography, body-1);
}

/*
 * Guide breadcrumb
 */
.breadcrumb-separator::after {
  content: ' • ';
  color: map-get($hub-teal, 500);
}
