@import "themes";
@import "typography";
@import "variables";
@import "styles-common";
@import "mixins";

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/**
 * Native Elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  color: $body-light-bg-font-color;
  margin: 0;
}
hr {
  height: 1px;
  border: none;
  background-color: $input-grey;
}

/**
 * List
 */
#bodyMediaList {
  ul,
  ol {
    list-style: none;
    counter-reset: ol-counter;
  }
  ul li::marker {
    position: absolute;
    content: "\2022";
    color: $light-blue;
    font-weight: bold;
    display: inline-block;
    width: 2em;
  }
  ul li {
    position: relative;
    p {
      padding-left: 15px;
    }
  }
  ol li {
    position: relative;
    counter-increment: ol-counter;
    p {
      padding-left: 20px;
    }
  }
  ol li::marker {
    content: counters(ol-counter, '.');
    position: absolute;
    color: $light-blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }
}

/**
 * Underline for titles and headings
 */
.main-underline {
  width: 30%;
  margin: 20px auto;
  border-bottom: 6px solid #333333;
  @media only screen and (min-width: 1280px) {
    width: 10%;
    margin-left: 0;
  }
}
.main-underline-navy {
  width: 45%;
  margin: 20px auto;
  border-bottom: 6px solid $light-blue;
  @media only screen and (min-width: 1280px) {
    width: 15%;
    margin-left: 0;
  }
}
.main-underline-white {
  width: 30%;
  margin: 20px auto;
  border-bottom: 6px solid white;
  @media only screen and (min-width: 1280px) {
    width: 10%;
    margin-left: 0;
  }
}



/*
 * Text styles
 * https://material.angular.io/guide/typography
 */
h1 {
  color: $heading-1-font-color;
  font-family: $font-family;
  margin-bottom: 16px;
}
h2 {
  color: $dark-blue;
  font-family: $font-family;
  margin-bottom: 16px;
}
h3 {
  color: $heading-3-font-color;
  font-family: $font-family;
  margin-bottom: 16px;
}
h4 {
  color: $heading-4-font-color;
  margin-bottom: 16px;
}
p {
  color: $body-grey;
  font-family: $font-family;
}
a {
  text-decoration: none;
  color: $link-light-bg-color;
  font-family: $font-family;
}
span {
  font-family: $font-family;
}

/*
 * results highlighting 
 */
.card-content em {
  font-weight: bold;
}

/*
 * app-markdown related styles
 */
@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    @content;
  }
}
@mixin links {
  a {
    @content;
  }
}

/*
 * Gloabl styles and Material overrides
 */
mat-chip.mat-chip {
  font-size: mat-font-size($app-chips-typography, button);
  font-weight: mat-font-weight($app-chips-typography, button);
}
mat-card.mat-card {
  margin: 8px 0;
  border-radius: 0%;
}
mat-icon,
.mat-icon-button,
svg {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}
mat-expansion-panel {
  margin: 8px 0;
}
.mat-expansion-indicator::after {
  font-size: 8px !important;
  width: 8px !important;
  height: 8px !important;
  margin-right: 16px !important;
}
.avatar-btn > span.mat-button-wrapper {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
.avatar-btn > span.mat-button-wrapper > img {
  width: 56px;
  height: 56px;
}

.search-results-text {
  color: $dark-blue !important;
  font-weight: 500;
  font-style: italic;
}
.chip-avatar {
  margin-right: 16px;
  border-radius: 50%;
}

/**
 * Browser Settings
 */

.site-padding-2 {
  @extend .site-content;
  padding-left: 18vw;
  padding-right: 18vw;
}

.top-padding-2 {
  padding-top: 10vh;
}

.margin-bottom-2 {
  margin-bottom: 10vh;
}

/**
 * Small Mobile Settings
 */
.site-padding-mobile {
  @extend .site-content;
  padding-left: 5vh;
  padding-right: 5vh;
}
.margin-bottom-mobile {
  margin-bottom: 5vh;
}

/*
 * Override site-wide material design tooltip style
 */
.mat-tooltip {
  color: #ffffff;
  font-size: smaller;
  background-color: #004059;
}

/*
 * Top menu drop-down style
 */
.mat-menu-content,
.mat-menu-item {
  color: white;
  background-color: $dark-blue;
  font-size: mat-font-size($app-base-typography, body-1);
}

/*
 * Search Results Filters Styling
 */
::ng-deep.search-filters .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep.search-filters .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  text-decoration: none !important;
  outline: none !important;
}

/**
 * Content Styles
 */
.banner-container {
  min-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  background-size: cover !important;
}
.banner-content {
  width: 50%;
  color: white;
  display: inline-block;
}

/**
 * Content Titles
 */
h1.content-title {
  color: $dark-blue;
  font-size: 52px;
  font-weight: bold;
  line-height: 110%;
}
h1.content-title-mobile {
  font-size: 36px;
}
p.content-summary {
  color: $color-icon;
  font-size: 24px;
  line-height: 110%;
}
p.content-summary-mobile {
  font-size: 20px;
}

/**
 * Maori Proverb
 */
h2.maori-proverb {
  font-weight: 400 !important;
  font-size: 30px !important;
  font-style: italic;
}

/**
 * Card Text
 */
.card-title {
  font-size: 16px;
}

/**
 * Custom Button Styles
 */
.standard-button {
  color: white !important;
  padding-bottom: 2.4px !important;
  border: 3px solid $dark-blue !important;
  border-radius: 50px !important;
  background-color: $dark-blue !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.standard-button:hover {
  color: $dark-blue !important;
  border-radius: 50px !important;
  background-color: white !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.alternate-button {
  padding-bottom: 2.4px !important;
  color: $dark-blue !important;
  border: 3px solid white !important;
  border-radius: 50px !important;
  background-color: white !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.alternate-button:hover {
  color: white !important;
  border-radius: 50px !important;
  background-color: $light-blue !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

/**
 * Call To Action Arrow
 */
.call-to-action a {
  color: $body-grey;
  font-weight: bold;
  font-size: 16px;
}
.arrow {
  transition: transform 0.2s ease-out;
  height: 20px;
  width: auto;
}
.call-to-action:hover .arrow {
  transform: translate(10px);
  transition: transform 0.2s ease-out;
}

.mini-hr {
  margin-bottom: 32px;
}

/**
 *  Search bar
 */
.mat-form-field-ripple, .mat-form-field-underline {
  background-color: rgba(200, 200, 200, 0.6) !important;
}

.mat-focused .mat-form-field-label {
  color: rgba(200, 200, 200, 0.6) !important;
}

input {
  caret-color: rgba(200, 200, 200, 0.6) !important;
}

/**
 * Section Header Text
 */
.text {
  width: 100%;
  margin: 40px auto;
  @include size(medium) {
    width: 60%;
    margin: 40px auto;
  }
  > h2 {
    color: #333333;
    font-size: 36px;
    @include size(medium) {
      font-size: 48px;
    }
  }
  > p {
    font-size: 16px;
    @include size(medium) {
      font-size: 20px;
    }
  }
}
