@use '~@angular/material' as mat;
@import "variables";

/**
 * Include the common styles for Angular Material. Be sure that you only ever include this mixin once!
 */
@include mat.core();
@include mat.strong-focus-indicators((
  border-style: dotted,
  border-width: 4px,
  border-radius: 2px,
));

/**
 * Create the hub app theme
*/
$hub-app-theme: mat.define-light-theme((
  color: (
    primary: $hub-app-primary,
    accent: $hub-app-accent,
    warn: $hub-app-warn
  )
));
@include mat.all-component-themes($hub-app-theme);
@include mat.strong-focus-indicators-theme($hub-app-theme);
