@use "~@angular/material" as mat;
@use "app/components/layout/navbar/_navbar-theme.scss" as navbar;
@import "variables";

/**
 * Include the common styles for Angular Material. Be sure that you only ever include this mixin once!
 */
@include mat.core();

/**
 * Create the hub app theme
*/
$hub-app-theme: mat.define-light-theme((
  color: (
    primary: $hub-app-primary,
    accent: $hub-app-accent,
    warn: $hub-app-warn
  )
));
@include mat.all-component-themes($hub-app-theme);
@include navbar.theme($hub-app-theme);
