@import '~@angular/material/theming';
@import './themes.scss';

// https://material.angular.io/guide/typography

/**
 * National Fonts
 */ 

 @font-face {
  font-family: 'National Light';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Light.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Light.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Light.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 100;
}

 @font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 600;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Bold.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: bold;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BoldItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Book.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Book.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-Book.woff') format('woff');
  /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'National';
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BookItalic.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BookItalic.woff2') format('woff2'),
    url('https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/base/fonts/NationalWeb-BookItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-style: italic;
}

html,
body,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ion-item,
ion-title {
  font-family: 'National' !important;
  white-space: normal;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.crossed {
  text-decoration: line-through;
}

.font-s {
  font-size: 0.89rem;
}
.font-default {
  font-size: 1rem;
}

.font-l {
  font-size: 1.25rem;
}

.font-xl {
  font-size: 1.5rem !important;
}

.font-xxl {
  font-size: 2rem !important;
}

$font-family: 'National';

/**
 * All typography
 */
$app-base-typography: mat-typography-config(
  $font-family:   $font-family,
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(28px, 32px, 400), // <h1>
  $title:         mat-typography-level(24px, 28px, 500), // <h2>
  $subheading-2:  mat-typography-level(20px, 24px, 400), // <h3>
  $subheading-1:  mat-typography-level(16px, 20px, 400), // <h4>
  $body-2:        mat-typography-level(16px, 24px, 500), // bolder body text
  $body-1:        mat-typography-level(16px, 22px, 400), // base body text <p> ?
  $caption:       mat-typography-level(12px, 20px, 400), // smaller body and hint text
  $button:        mat-typography-level(14px, 14px, 500),
  $input:         mat-typography-level(16px, 1.125, 400) // Line-height must be unit-less fraction of the font-size.
);


/**
 * Override typography for all Angular Material, including mat-base-typography and all components.
 */
@include angular-material-typography($app-base-typography);


/**
 * Sidenav
 */
$app-sidenav-list-typography: mat-typography-config(
  $body-1:        mat-typography-level(16px, 20px, 400), // text
  $body-2:        mat-typography-level(24px, 24px, 500) // icon
);

/**
 * Mat Chip
 */
$app-chips-typography: mat-typography-config(
  $button:      mat-typography-level(16px, 20px, 400) // text
);


/**
 * Colors
 */
$heading-1-font-color: map-get($hub-navy, 500);
$heading-2-font-color: map-get($hub-navy, 500);
$heading-3-font-color: $body-grey;
$heading-4-font-color: $dark-grey;

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

$body-light-bg-font-color:  black;
$link-light-bg-color: map-get($hub-teal, 500);

$breadcrumb-previous-color: map-get($hub-teal, A100);
$breadcrumb-current-color: $color-icon;