@import '~@angular/material/theming';

// https://material.angular.io/guide/typography

$font-family: "Noto Sans", sans-serif;

// All typography
$app-base-typography: mat-typography-config(
  $font-family: quote($font-family),
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(28px, 32px, 400), // <h1>
  $title:         mat-typography-level(24px, 28px, 500), // <h2>
  $subheading-2:  mat-typography-level(20px, 24px, 400), // <h3>
  $subheading-1:  mat-typography-level(16px, 20px, 400), // <h4>
  $body-2:        mat-typography-level(16px, 24px, 500), // bolder body text
  $body-1:        mat-typography-level(16px, 22px, 400), // base body text <p> ?
  $caption:       mat-typography-level(12px, 20px, 400), // smaller body and hint text
  $button:        mat-typography-level(14px, 14px, 500),
  $input:         mat-typography-level(16px, 1.125, 400) // Line-height must be unit-less fraction of the font-size.
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($app-base-typography);

/*

Sidenav

 */

$app-sidenav-list-typography: mat-typography-config(
  $body-1:        mat-typography-level(16px, 20px, 400), // text
  $body-2:        mat-typography-level(24px, 24px, 500) // icon
);

$app-sidenav-toolbar-typography: mat-typography-config(
  $body-1:      mat-typography-level(24px, 20px, 500), // 'ResearchHub' text
  $button:        mat-typography-level(24px, 20px, 400) // icon
);

/*

Search

 */

$app-search-bar-select-typography: mat-typography-config(
  $title:         mat-typography-level(16px, 20px, 500), // current selected text
  $body-1:      mat-typography-level(16px, 20px, 400) // option text
);

$app-search-bar-typography: mat-typography-config(
  $body-1:        mat-typography-level(24px, 24px, 500), // icon
  $input:         mat-typography-level(16px, 1.125, 400) // input
);

/*

Header/crumbs

 */

$app-primary-header-typography: mat-typography-config(
  $headline:      mat-typography-level(14px, 32px, 400)
);

/*

Featured

 */

$app-featured-mat-card-typography: mat-typography-config(
  $body-1:      mat-typography-level(18px, 20px, 400), // text
  $button:        mat-typography-level(14px, 20px, 400) // icon
);

/*

Browse Grid / Results

 */

$app-browse-grid-typography: mat-typography-config(
  $body-1:        mat-typography-level(18px, 20px, 400), // text
  $body-2:        mat-typography-level(40px, 24px, 500) // icon
);


// NO LONGER NEEDED
//$app-result-list-typography: mat-typography-config(
//  $body-1:      mat-typography-level(16px, 20px, 400), // text
//  $subheading-2: mat-typography-level(20px, 20px, 400), // h3 e.g. Managing Research Data
//  $subheading-1: mat-typography-level(28px, 20px, 400) // we use this for the section subheadings e.g. Guides, Policies
//);

$app-chips-typography: mat-typography-config(
  $button:      mat-typography-level(16px, 20px, 400) // text
);


/*

Colors

 */

$heading-1-font-color: map-get($hub-pink, 500);
$heading-2-font-color: map-get($hub-pink, 500);
$heading-3-font-color: map-get($hub-pink, 500);
$heading-4-font-color: map-get($hub-navy, 500);

$subheading-font-color: map-get($hub-pink, 500); // used in results list

$body-light-bg-font-color:  black;
$link-light-bg-color: map-get($hub-teal, 500);

$body-dark-bg-font-color:  white;
$link-dark-bg-color-1: map-get($hub-teal, A100);
$link-dark-bg-color-2: $body-dark-bg-font-color;

$breadcrumb-previous-color: map-get($hub-teal, A100);
$breadcrumb-current-color: white;

$browse-tile-font-color: $body-dark-bg-font-color;

$markdown-heading-color: $heading-2-font-color;
$markdown-subheading-color: $heading-3-font-color;



