<!-- If we're displaying a collection of events  -->
<app-collection-list 
    *ngIf="allEvents$ | async as allEvents" 
    [collection]="allEvents">
</app-collection-list>

<!-- If we're displaying an individual event -->
<div 
    id="event-container"
    ngClass.xs="mobile"
    ngClass.sm="mobile"
    *ngIf="event$ | async as event">

    <!-- Templates -->
    <ng-template #dynamicBanner>
        <div 
            class="banner-container"
            [style]="event.banner ? 'background: url(' + event.banner.url + ') no-repeat' : ''">
        </div>  
    </ng-template>

    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="event.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #title>
        <div>
            <span>
                <div 
                    class="event-title"
                    ngClass.xs="event-title-xs">
                    {{ event.title }}
                </div>
                <div 
                    class="event-summary"
                    ngClass.xs="event-summary-xs">
                    {{ event.summary }}
                </div>
            </span>
            <div 
                class="section">
                <a href="{{ event.callToAction }}">
                    <button class="standard-button" mat-flat-button>
                        <b>Event Details</b>
                    </button>
                </a>
            </div>
            <div class="section">
                <hr/>
            </div>
        </div>
    </ng-template>

    <ng-template #details>
        <div 
            class="specifications section">
            <table class="details-table">
                <tr>
                <th>Name</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="event.date">
                    <td>Date</td>
                    <td> {{ event.date | date:'longDate'}} {{ event.date | date:'shortTime'}}</td>
                </tr>
                <tr *ngIf="event.location">
                    <td>Location</td>
                    <td [innerHTML]="event.location.json | richTextToHTML"></td>
                </tr>
                <tr *ngIf="event.availability">
                    <td>Availability</td>
                    <td>{{ event.availability }}</td>
                </tr>
                <tr *ngIf="event.audience">
                    <td>Audience</td>
                    <td>{{ event.audience }}</td>
                </tr>
                <tr *ngIf="event.mode">
                    <td>Mode of Delivery</td>
                    <td>{{ event.mode }}</td>
                </tr>
                <tr *ngIf="event.capabilities">
                    <td>Capabilities</td>
                    <td>{{ event.capabilities }}</td>
                </tr>
            </table>
        </div>
    </ng-template>

    <ng-template #eventBody>
        <div>
            <ngx-contentful-rich-text
                class="section-2 body-text"
                style="word-break:break-word;" 
                [document]="event.bodyText.json"
                [nodeRenderers]="nodeRenderers">
            </ngx-contentful-rich-text>
        </div>
    </ng-template>

    <ng-template #relatedItems>
        <app-cards 
            id="you-might-be-interested-in"
            [hideImage]="true"
            [title]="'You might also be interested in'" 
            [contentItem]="event.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations>
        <app-cards 
            [hideImage]="true"
            [title]="'Organisations'" 
            [contentItem]="event.relatedOrgsCollection">
        </app-cards>
    </ng-template>
    
    <ng-template #relatedContacts>
        <app-cards 
            [hideImage]="true"
            [title]="'Contacts'" 
            [contentItem]="event.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <!-- Event Content -->
    <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>
    <div
        class="site-padding-2 top-padding margin-bottom"
        ngClass.xs="site-padding-sm top-padding margin-bottom"
        ngClass.sm="site-padding-sm top-padding margin-bottom">
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>
        <ng-container *ngTemplateOutlet="title"></ng-container>
        <ng-container *ngTemplateOutlet="eventBody"></ng-container>
        <ng-container *ngTemplateOutlet="details"></ng-container>
        <ng-container *ngTemplateOutlet="relatedItems"></ng-container>
        <ng-container *ngTemplateOutlet="relatedContacts"></ng-container>
        <ng-container *ngTemplateOutlet="relatedOrganisations"></ng-container>
    </div>
</div>