<!-- If we're displaying a collection of event -->
<div
    *ngIf="allEvents$ | async as allEvents" 
    class="site-padding-2 margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allEvents"></app-collection-list>
</div>

<!-- If we're displaying an individual event -->
<div 
    id="event-container"
    *ngIf="event | async as event">

    <!-- Templates -->
    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="event.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #dynamicBanner>
        <div 
            class="banner-container"
            [style]="event.banner ? 'background: url(' + event.banner.url + ') no-repeat fixed center;' : 'display: none;'">
        </div>  
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="content-title" 
            ngClass.lt-md="content-title-mobile">
            {{ event.title }}
        </h1>

        <p class="content-summary" 
            ngClass.sm="content-summary-sm" 
            ngClass.xs="content-summary-xs">
            {{ event.summary }}
        </p>
    </ng-template>

    <ng-template #specificationsTable>
        <div 
            class="specifications section">
            <table class="specifications-table">
                <tr>
                <th>Details</th>
                <th>Description</th>
                </tr>
                <tr *ngIf="event.audience">
                    <td>Audience</td>
                    <td>{{ event.audience }}</td>
                </tr>
                <tr *ngIf="event.mode">
                    <td>Mode of Delivery</td>
                    <td>{{ event.mode }}</td>
                </tr>
                <tr *ngIf="event.availability">
                    <td>Availability</td>
                    <td>{{ event.availability }}</td>
                </tr>
                <tr *ngIf="event.date && !event.availability">
                    <td>Date</td>
                    <td> {{ event.date | date:'longDate'}} {{ event.date | date:'shortTime'}}</td>
                </tr>
                <tr *ngIf="event.access">
                    <td>Access</td>
                    <td [innerHTML]="event.access"></td>
                </tr>
            </table>
        </div>
    </ng-template>
    
    <ng-template #relatedItems let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'You might be interested in'" 
            [contentItem]="event.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Organisations'" 
            [contentItem]="event.relatedOrgsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedDocs let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Documents'" 
            [contentItem]="event.relatedDocsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedContacts let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Contacts'" 
            [contentItem]="event.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <!-- Banner -->
    <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

    <div
        class="site-padding margin-bottom" 
        ngClass.lt-md="site-padding-mobile top-padding">

        <!-- Breadcrumbs -->
        <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

        <div>

            <!-- Title and Summary -->
            <div fxLayout="column wrap">
                <div>
                    <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                </div>
                <!-- Call To Action -->
                <div *ngIf="event.callToAction">
                    <a href="{{ event.callToAction }}">
                        <button 
                            mat-flat-button 
                            class="standard-button section">
                            <span *ngIf="event.callToActionLabel">
                                {{ event.callToActionLabel }}
                            </span>
                            <span *ngIf="!event.callToActionLabel">
                                View Event
                            </span>
                        </button>
                    </a>
                </div>
                <div 
                    class="mini-hr"
                    *ngIf="!event.callToAction">
                    <hr/>
                </div>
            </div>

            <!-- Event Body -->
            <div class="body-text">
                <ngx-contentful-rich-text
                    style="word-break:break-word;" 
                    [document]="event.bodyText.json"
                    [nodeRenderers]="nodeRenderers">
                </ngx-contentful-rich-text>
            </div>

            <!-- Specifications Table -->
            <div 
                class="section-2"
                *ngIf="
                event.audience ||
                event.mode ||
                event.availability ||
                event.date ||
                event.access">
                <ng-container *ngTemplateOutlet="specificationsTable"></ng-container>
            </div>

            <!-- Related -->
            <div
                class="event-owners section"
                fxLayout="column">
                <div *ngIf="event.relatedItemsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedItems; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div *ngIf="event.relatedContactsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedContacts; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div *ngIf="event.relatedOrgsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedOrganisations; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
                <div  *ngIf="event.relatedDocsCollection?.items.length > 0" fxFlex>
                    <ng-container *ngTemplateOutlet="relatedDocs; context: { hideImage: false, flex: 'row wrap' }"></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>