@import '../../../themes.scss';
@import '../search-results/search-results.component.scss';

mat-expansion-panel, mat-card  {
    margin: 1vh 0;
}

// The container for an individual article
#article-container {

    #breadcrumbs {
        margin-bottom: 3vh;

        .breadcrumb-subhub {
            &::after {
                color: $color-icon;
                margin: 0 0.5em 0 0.5em;
                content: '/'
            }
        }

        #breadcrumb-current-page {
            color: $color-icon;
        }
    }
    .breadcrumbs-mobile {
        font-size: 8px;
    }

    #keywords {
        color: $color-primary;
    }

    .related-item-summary {
        color: gray;
    }
}

/* Vanilla CSS Styling */
// Article Titles

.article-title {
    color: map-get($hub-navy, 500);
    font-size: 50px;
    font-weight: bold; 
    line-height: 110%;
}

.article-title-sm {
    font-size: 35px;
}

.article-title-xs {
    font-size: 25px;
}

// Article Summary
.article-summary {
    font-size: 20px; 
    color: $color-icon;
    line-height: 110%;
}

.article-summary-sm {
    font-size: 20px; 
}

.article-summary-xs {
    font-size: 15px; 
}

.keyword-card {
    background-color: $color-background;
    margin: 5px; 
    padding: 10px; 
    font-size: 12px;
}

// Banner Styling
.banner-container {
    text-align: center;
    min-width: 100vw; 
    margin: -3em 0PX 20PX -7.5vw;
    min-height: 40vh;
    max-height: auto;
    overflow: hidden;
    background-size: cover!important;
}

.banner-content {
    width: 50%;
    margin: 10em auto;
    color: white;
    display: inline-block;
}

// Related Item Card
.related-item-card {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-item-card-mobile {
    height: 70px;
}

.card-title {
    color: map-get($hub-teal, 500);
}

.related-item-summary {
    font-size: 12px;
}

// HR 
hr {
    background-color: #dbdbdb;
    border: none;
    height: 1px;
}