<!-- If we're displaying a collection of articles-->
<div
    *ngIf="allArticles$ | async as allArticles" 
    class="site-padding-2 margin-bottom top-padding" 
    ngClass.lt-md="site-padding-mobile margin-bottom top-padding">
    <app-collection-list [collection]="allArticles"></app-collection-list>
</div>


<!-- If we're displaying an individual article -->
<div 
    id="article-container" 
    *ngIf="article | async as article">
    
    <!-- Templates -->
    <ng-template #breadcrumbs>
        <app-breadcrumbs 
            [contentItem]="parentSubHubs" 
            [title]="article.title">
        </app-breadcrumbs>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="content-title" 
            ngClass.lt-md="content-title-mobile"
            [style.color]="article.banner ? article.viewType == 'View 1' ? 'white' : '' : ''">
            {{ article.title }}
        </h1>

        <p
            class="content-summary" 
            ngClass.sm="content-summary-sm" 
            ngClass.xs="content-summary-xs"
            [style.color]="article.banner ? article.viewType == 'View 1' ? 'white' : '' : ''">
            {{ article.summary }}
        </p>
    </ng-template>

    <ng-template #articleBody>
        <ngx-contentful-rich-text
            class="section-2 body-text"
            style="word-break:break-word;" 
            [document]="article.bodyText.json"
            [nodeRenderers]="nodeRenderers">
        </ngx-contentful-rich-text>
    </ng-template>

    <ng-template #relatedItems let-hide="hideImage" let-flex="flex">
        <app-cards 
            [flex]="flex"
            id="you-might-be-interested-in"
            [hideImage]="hide"
            [title]="'Explore Related'" 
            [contentItem]="article.relatedItemsCollection">
        </app-cards>
    </ng-template>

    <ng-template #relatedOrganisations let-hide="hideImage" let-flex="flex">
        <app-cards 
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Organisations'" 
            [contentItem]="article.relatedOrgsCollection">
        </app-cards>
    </ng-template>
    
    <ng-template #relatedContacts let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Contacts'" 
            [contentItem]="article.relatedContactsCollection">
        </app-cards>
    </ng-template>

    <ng-template #officialDocuments let-hide="hideImage" let-flex="flex">
        <app-cards
            [flex]="flex"
            [hideImage]="hide"
            [title]="'Documents'" 
            [contentItem]="article.relatedDocsCollection">
        </app-cards>
    </ng-template>

        <div>
            <div
            class="banner-container"
            [style]="article.banner ? 'background: url(' + article.banner.url + ') no-repeat; padding: 64px 0px' : ''">
                <div class="banner-content">

                    <!-- Title -->
                    <h1 
                        class="content-title" 
                        ngClass.lt-md="content-title-mobile"
                        [style.color]="article.banner ? 'white' : ''">
                            {{ article.title }}
                    </h1>

                    <!-- Summary -->
                    <p
                        class="content-summary" 
                        ngClass.sm="content-summary-sm" 
                        ngClass.xs="content-summary-xs"
                        [style.color]="article.banner ? article.viewType == 'View 1' ? 'white' : '' : ''">
                            <small>{{ article.summary }}</small>
                    </p>
                </div>
            </div>

            <div 
                class="site-padding" 
                ngClass.lt-md="site-padding-mobile">

                <!-- Breadcrumbs -->
                <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

                <div 
                    fxLayout="row wrap" 
                    fxLayout.lt-md="column wrap"
                    fxLayoutGap="5%">

                    <!-- Article Body -->
                    <div 
                        fxFlex
                        fxFlexOrder="2"
                        fxFlexOrder.xs="1">
                        <ng-container *ngTemplateOutlet="articleBody"></ng-container>
                    </div>

                    <!-- Extra Links -->
                    <div 
                        *ngIf="
                            article.relatedDocsCollection.items.length > 0 ||
                            article.relatedContactsCollection.items.length > 0 ||
                            article.relatedOrgsCollection.items.length > 0"
                        fxLayout="column" 
                        fxFlex="20%"
                        fxFlexOrder="1"
                        fxFlexOrder.lt-md="2">

                        <!-- Contacts -->
                        <ng-container *ngTemplateOutlet="relatedContacts; context: { flex: 'column wrap'}"></ng-container>

                        <!-- Official Documents -->
                        <ng-container *ngTemplateOutlet="officialDocuments; context: { flex: 'column wrap'}"></ng-container>

                        <!-- Organizations -->
                        <ng-container *ngTemplateOutlet="relatedOrganisations; context: { flex: 'column wrap'}"></ng-container>

                    </div>

                    <!-- Related items -->
                    <div 
                        id="you-might-be-interested-in"
                        *ngIf="article.relatedItemsCollection.items.length > 0"
                        fxLayout="column" 
                        fxFlex="20%"
                        fxFlexOrder="3">
                        <ng-container *ngTemplateOutlet="relatedItems; context: { flex: 'column wrap'}"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    <div class="section"></div>
</div>
