@import "variables";

mat-expansion-panel,
mat-card {
    margin: 8px 0;
}

/**
 * Custom Button Styles
 */
.standard-button {
    @extend .standard-button;
    border: 3px solid map-get($hub-navy, 500) !important;
    background-color: map-get($hub-navy, 500) !important;
}
.standard-button:hover {
    color: map-get($hub-navy, 500) !important;
    border-radius: 50px !important;
    background-color: white !important;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.standard-button-banner {
    @extend .standard-button;
    color: white !important;
    border: 3px solid white !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.standard-button-banner:hover {
    color: $body-grey !important;
    border-radius: 50px !important;
    background-color: white !important;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
