<!-- If we're displaying a collection of articles-->
<app-collection-list 
    *ngIf="allArticles$ | async as allArticles" 
    [collection]="allArticles">
</app-collection-list>


<!-- If we're displaying an individual article -->
<div 
    id="article-container" 
    *ngIf="article$ | async as article">

    <!-- Templates -->
    <ng-template #dynamicBanner>
        <div 
            class="banner-container"
            [style]="article.banner ? 'background: url(' + article.banner.url + ') no-repeat' : article.viewType == 'View 2' ? 'display: none;' : ''">
        </div>  
    </ng-template>

    <ng-template #breadcrumbs>
        <div 
            id="breadcrumbs" 
            *ngIf="!!parentSubHubs" 
            class="site-padding top-padding"
            ngClass.sm="site-padding-sm top-padding"
            ngClass.xs="site-padding-xs top-padding"
            ngClass.xs="breadcrumbs-mobile site-padding-xs">
            <span 
                class="breadcrumb-subhub" 
                *ngFor="let subHub of parentSubHubs.slice().reverse()">
                <a [routerLink]="'/subhub/' + subHub.slug">
                    {{ subHub.title }}
                </a>
            </span>
            <span id="breadcrumb-current-page">
                {{ article.title }}
            </span>
        </div>
    </ng-template>

    <ng-template #titleSummary>
        <h1 
            class="article-title" 
            ngClass.sm="article-title-sm" 
            ngClass.xs="article-title-xs" 
            [style.color]="article.banner ? article.viewType == 'View 1' ? 'white' : '' : ''">
            {{ article.title }}
        </h1>

        <h3 
            class="article-summary" 
            ngClass.sm="article-summary-sm" 
            ngClass.xs="article-summary-xs"
            [style.color]="article.banner ? article.viewType == 'View 1' ? 'white' : '' : ''">
            {{ article.summary }}
        </h3>
    </ng-template>

    <ng-template #articleBody>
        <mat-card-content 
            style="margin-bottom: 50px;" 
            [innerHTML]="article.bodyText.json | richTextToHTML">
        </mat-card-content>
    </ng-template>

    <ng-template #relatedOrganisations>
        <div 
            *ngIf="article.relatedOrgsCollection.items.length > 0" 
            class="column-header">
            <h4>Organisations</h4>
            <hr/>
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let organisation of article.relatedOrgsCollection.items" 
                class="collection">
                
                    <a [routerLink]="">
                        <mat-card>
                            <span class="card-title">
                                {{ organisation.title }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ organisation.summary }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #relatedContacts>
        <div 
            *ngIf="article.relatedContactsCollection.items.length > 0" 
            class="column-header">
            <h4>Contacts</h4>
            <hr/>
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let contact of article.relatedContactsCollection.items" 
                class="collection">
                
                    <a [routerLink]="">
                        <mat-card>
                            <span class="card-title">
                                {{ contact['name'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ contact['jobTitle'] }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #relatedItems>
        <div 
            *ngIf="article.relatedItemsCollection.items.length > 0" 
            id="you-might-be-interested-in">
            <h4>You might also be interested in<hr/></h4>

            <!-- Related Items List -->
            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let relatedItem of article.relatedItemsCollection.items" 
                class="collection">
                
                    <a [routerLink]="['/', relatedItem['__typename'].toLowerCase(), relatedItem['slug']]">
                        <mat-card>
                            <span class="card-title">
                                {{ relatedItem['title'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ relatedItem['summary'] }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>

    <ng-template #officialDocuments>
        <div 
            *ngIf="article.relatedDocsCollection.items.length > 0" 
            class="column-header">
            <h4>Official Documents</h4>
            <hr/>

            <mat-nav-list 
                style="margin-bottom: 20px;" 
                *ngFor="let document of article.relatedDocsCollection.items" 
                class="collection">
                
                    <a href={{document.url}} target="_blank">
                        <mat-card>
                            <span class="card-title">
                                {{ document['title'] }}
                            </span> 
                            <br/>
                            <span class="related-item-summary">
                                {{ document['summary'] }}
                            </span>
                        </mat-card>
                    </a>
            </mat-nav-list>
        </div>
    </ng-template>
    
    
    <!-- View Switcher -->
    <div [ngSwitch]="article.viewType"> 

        <!-- View 1 -->
        <div *ngSwitchCase="'View 1'">

            <!-- Dynamic Banner -->
            <div 
                class="banner-container"
                [style]="article.banner ? 'background: url(' + article.banner.url + ') no-repeat' : article.viewType == 'View 2' ? 'display: none;' : 'min-height: 0px'">
                <div 
                    class="banner-content" 
                    [style]="article.banner ? '' : 'margin: 2.5em auto;'"
                    *ngIf="article.viewType == 'View 1'">
                    <ng-container *ngTemplateOutlet="titleSummary"></ng-container>
                </div>
            </div> 

            <!-- Breadcrumbs -->
            <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

            <div 
                class="site-padding top-padding" 
                ngClass.xs="site-padding-xs top-padding" 
                ngClass.sm="site-padding-sm top-padding"
                fxLayout="row wrap" 
                fxLayout.sm="column wrap"
                fxLayout.xs="column wrap"   
                fxLayoutGap="5%">

                <!-- Call to Actions -->
                 <div 
                    fxFlex="50%"
                    fxFlexOrder="2"
                    fxFlexOrder.xs="1">

                    <!-- Article Body -->
                    <ng-container *ngTemplateOutlet="articleBody"></ng-container>

                </div>

                <!-- Extra Links -->
                <div 
                    fxLayout="column" 
                    fxFlex="20%"
                    fxFlexOrder="1"
                    fxFlexOrder.lt-sm="2">

                    <!-- Official Documents -->
                    <ng-container *ngTemplateOutlet="officialDocuments"></ng-container>

                    <!-- Contacts -->
                    <ng-container *ngTemplateOutlet="relatedContacts"></ng-container>

                    <!-- Organizations -->
                    <ng-container *ngTemplateOutlet="relatedOrganisations"></ng-container>

                </div>

                <!-- Related items -->
                <div 
                    fxLayout="column" 
                    fxFlex="20%"
                    fxFlexOrder="3">
                    <ng-container *ngTemplateOutlet="relatedItems"></ng-container>
                </div>
            </div>
        </div>

        <!-- View 2 -->
        <div *ngSwitchCase="'View 2'">

            <!-- Dynamic Banner -->
            <ng-container *ngTemplateOutlet="dynamicBanner"></ng-container>

            <!-- Breadcrumbs -->
            <ng-container *ngTemplateOutlet="breadcrumbs"></ng-container>

            <div 
                class="site-padding"
                fxLayout="row wrap" 
                fxLayout.sm="column wrap"
                fxLayout.xs="column wrap"   
                fxLayoutAlign="space-between"
                fxLayoutGap="5%">

                <!-- Article Title and Summary -->
                    <div fxFlex="70%">
                        <ng-container *ngTemplateOutlet="titleSummary"></ng-container>

                        <hr style="margin: 25px 0px;"/>

                        <!-- Article Body -->
                        <ng-container *ngTemplateOutlet="articleBody"></ng-container>

                    </div>

                    <!-- Extra Links -->
                    <div 
                        fxLayout="column" 
                        fxFlex="25%">

                        <!-- Official Documents -->
                        <ng-container *ngTemplateOutlet="officialDocuments"></ng-container><div><br/></div>

                        <!-- Contacts -->
                        <ng-container *ngTemplateOutlet="relatedContacts"></ng-container><div><br/></div>

                        <!-- Organizations -->
                        <ng-container *ngTemplateOutlet="relatedOrganisations"></ng-container><div><br/></div>

                        <!-- Related Items -->
                        <ng-container *ngTemplateOutlet="relatedItems"></ng-container><div><br/></div>

                    </div>
            </div>
        </div>
    </div>

    <!-- End of View Switcher -->
</div>
