@import "variables";

/**
 * banner Image
 */
.mobile-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  padding: 72px 0px;
}

.standard-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 72px 0px;
}

/**
 * Custom Button Styles
 */
.standard-button {
  @extend .standard-button;
  border: 3px solid $light-blue !important;
  background-color: $light-blue !important;
}
.standard-button:hover {
  color: $light-blue !important;
  border-radius: 50px !important;
  background-color: white !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.standard-button-banner {
  @extend .standard-button;
  color: white !important;
  border: 3px solid white !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.standard-button-banner:hover {
  color: $body-grey !important;
  border-radius: 50px !important;
  background-color: white !important;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
