@import '../../../../styles.scss';
@import '../../../../typography.scss';

mat-form-field {
  width: 100%;
}

img {
  height: 3.125vh;
  width: 3.125vh;
  vertical-align: middle;
}

$chip-margin: 0.5em;

.mat-tags-chip {
  border-radius: 10vh;
  margin-bottom: $chip-margin !important;
}

.mat-tags-chip:not(:last-of-type) {
  margin-right: $chip-margin !important;
}

.mat-tags-option {
  height: 8vh;
  padding: 2vh;
}

:host mat-form-field {
  transition: opacity 0.3s;
  &.disabled {
    opacity: 0.4;
  }
}

/**
 * Ng Deep 
 */
::ng-deep .mat-option-text {
  overflow: visible!important;
  font-size: 2vh!important;
}

::ng-deep mat-option {
  height: 5vh!important;
}

::ng-deep .mat-autocomplete-panel,
.cdk-overlay-panel {
  max-height: 20vh!important;
}