<div #searchBarContainer>
  <div
    class="search-bar-outer"
    [ngClass]="{
      'white-bottom': showFilters && !isMobile,
      show: isMobile && showMobileSearch
    }"
  >
    <form action class="search-bar-inner">
      <button
        *ngIf="!isMobile"
        type="button"
        mat-icon-button
        aria-label="Search"
        color="primary"
        (click)="search()"
        tabindex="-1"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button
        *ngIf="isMobile"
        id="searchBackButton"
        type="button"
        mat-icon-button
        aria-label="Search"
        color="primary"
        (click)="toggleMobileSearch()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <input
        id="search"
        #searchBox
        type="search"
        #trigger="matAutocompleteTrigger"
        (keydown.enter)="search(); trigger.closePanel()"
        placeholder="Search for anything"
        [matAutocomplete]="auto"
        [formControl]="searchText"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option class="search-autocomplete-options" *ngFor="let term of filteredTerms | async" [value]="term"
          (click)="search()"
        >
          {{ term }}
        </mat-option>
      </mat-autocomplete>

      <button
        id="settingsButton"
        type="button"
        aria-label="Search Filters"
        mat-icon-button
        color="primary"
        (click)="showFilters = !showFilters"
      >
        <mat-icon
          [matBadge]="countActiveFilters()"
          [matBadgeHidden]="!(countActiveFilters() > 0)"
          matBadgeSize="medium"
          matBadgeColor="accent"
          >tune</mat-icon
        >
      </button>
    </form>
  </div>

  <!-- Search Icon (Mobile)-->
  <button
    *ngIf="isMobile"
    role="button"
    class="mobile-search-button"
    aria-label="search"
    mat-icon-button
    matTooltip="Search"
    (click)="toggleMobileSearch()"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>

<!--Filter content-->
<div #filterContent class="filter-content">
  <app-search-filters
    *ngIf="showFilters"
    [(activeFilters)]="activeFilters"
    [activeFiltersCount]="countActiveFilters()"
    (search)="search()"
  ></app-search-filters>
</div>
