@use "@angular/material" as mat;
@import "variables";

/**
 * Card Label
 */
.card-label {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
}

/**
* Rounded Corners on Card Label
*/
.card-label-rounded-corners {
  border-radius: 10px 0 9px 0;
  background: $dark-blue;
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  padding: 0px 15px 3px;
}

/**
 * Mat-Card Title
 */
.mat-card-title {
  line-height: 20px;
  span {
    color: $dark-blue;
    &:hover {
      border-bottom: solid 2px $dark-blue;
    }
  }
}

/**
 * Elevation
 */
mat-card {
  width: 350px;
  @media (max-width: 1600px) {
    width: 300px;
  }
  cursor: pointer;
  @include mat.elevation-transition();
  &:hover {
    @include mat.elevation(6);
  }
}

@media screen and (max-width: 599px) {
  mat-card {
    width: auto;
  }
}
