@use "~@angular/material" as mat;
@import "variables";

/**
 * Card Label
 */
.card-label {
  background: $dark-blue;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 0;
  padding: 0px 15px;
}

/**
 * Mat-Card Title
 */
.mat-card-title {
  line-height: 20px;
  a {
    color: $dark-grey;
    &:hover {
      border-bottom: solid 2px $dark-grey;
    }
  }
}

/**
 * Elevation
 */
mat-card {
  width: 350px;
  cursor: pointer;
  @include mat.elevation-transition();
  &:hover {
    @include mat.elevation(6);
  }
}

@media screen and (max-width: 599px) {
  mat-card {
    width: auto;
  }
}
